/* You can add global styles to this file, and also import other style files */
@use '@ecodev/natural';
@use '@ecodev/natural-layout' as nat;
@use '@angular/material' as mat;

html {
    @include mat.theme(
        (
            color: (),
            typography: Roboto,
            density: 0,
        )
    );
}

natural-sidenav-content {
    border-top-left-radius: var(--mat-sys-corner-large);
    background-color: var(--mat-sys-surface-bright);
    padding: 20px clamp(5px, 2vw, 20px);
    min-height: calc(100vh - 160px);
    overflow: auto;
    @media (max-width: 400px) {
        padding-inline: 6px;
    }
}

.header-toolbar {
    @include mat.toolbar-overrides(
        (
            container-background-color: var(--mat-sys-surface-container),
            container-text-color: var(--mat-sys-on-surface),
        )
    );
}

@media screen and (max-width: 480px) {
    mat-toolbar {
        padding-right: 0;
        padding-left: 0;
    }
}

.tox-statusbar,
.tox-notifications-container {
    display: none !important;
}

.tox-tinymce-inline.tox-toolbar-dock-transition {
    z-index: 999;
}

/* Disable login autofill background color */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    transition-delay: 3600s;
}

app-admin router-outlet + * {
    padding-bottom: 100px;
}

.detail-speed-dial {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999; // < than 1000 that is the z-index of overlay contents
}

.overflow {
    overflow: auto;
}

mat-form-field.no-bottom-spacing {
    margin-bottom: -1.34375em;
}

.detail-body {
    margin: auto;
    max-width: 1300px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-mdc-button.app-button-wrap {
    height: auto !important; // allow button grow in height
    min-height: 36px;
}

.mat-mdc-button.big-button {
    padding: 10px 10px !important;
    width: 150px;
    height: auto !important; // allow button grow in height
    line-height: 24px !important;
    white-space: normal;

    @include mat.button-overrides(
        (
            text-container-shape: var(--mat-sys-corner-small),
        )
    );

    & > .mat-icon {
        margin: 0;
    }

    .mdc-button__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-size: 1.2em;
        text-align: center;
    }
}

.line-break {
    white-space: pre-wrap;
}

.mat-mdc-snack-bar-container {
    margin-top: 88px !important;
}

.app-date-column {
    width: 14em;
}

.app-price-column {
    width: 7em;
}

// Keep the mat-checkbox's checkbox near the first line, see https://github.com/angular/components/issues/8416
// This is not perfectly aligned on the text first line, because we need space for the ripple, but at least the
// spacing stays consistent with other one-line <mat-checkbox>, and it should be good enough for most use-cases
.mdc-checkbox {
    align-self: flex-start;
}

// It is possible that the server returns error message on multiple line (eg: when ACL with multiple assertions fail),
// so we try to preserve that formatting, while still wrapping if necessary
.mat-mdc-snack-bar-label {
    white-space: pre-wrap;
}

app-user-contact-data:empty {
    display: none;
}

ng-progress {
    .ng-bar {
        box-shadow: var(--mat-sys-tertiary-container) 0 0 5px !important;
        background-color: var(--mat-sys-tertiary-container) !important;
        height: 3px !important;
    }

    .ng-meteor {
        top: 0 !important;
        transform: none !important;
        opacity: 1 !important;
        box-shadow: var(--mat-sys-tertiary-container) 0 0 20px !important;
        width: 25px !important;
    }
}

.icon-button-circle-primary {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}

.icon-button-circle-accent {
    background-color: var(--mat-sys-tertiary-container);
    color: var(--mat-sys-on-tertiary-container);
}

.icon-button-circle-warn {
    background-color: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
}

.rich-text a,
a.app-link {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--mat-sys-primary);
    color: var(--mat-sys-primary);
    text-decoration: none;

    &:hover {
        border-color: var(--mat-sys-tertiary-container);
        color: var(--mat-sys-tertiary-container);
    }
}
