/* You can add global styles to this file, and also import other style files */
@use 'app/shared/components/boot-loader/boot-loader.external';

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

.pac-container {
    margin-top: 15px;
    margin-left: -10px;
}

.tox-statusbar,
.tox-notifications-container {
    display: none !important;
}

.tox-tinymce-inline.tox-toolbar-dock-transition {
    z-index: 999;
}

/* Disable login autofill background color */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    transition-delay: 3600s;
}

app-admin router-outlet + * {
    padding: 20px 20px 100px 20px;
}

.detail-speed-dial {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; // < than 1000 that is the z-index of overlay contents
}

.overflow {
    overflow: auto;
}

.mat-column-amount,
.mat-column-balance {
    text-align: right !important;
}

mat-form-field.no-bottom-spacing {
    margin-bottom: -1.34375em;
}

.detail-body {
    max-width: 1300px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.mat-mdc-button.app-button-wrap {
    height: auto !important; // allow button grow in height
}

.mat-mdc-button.big-button {
    height: auto !important; // allow button grow in height
    white-space: normal;
    line-height: 24px !important;
    .mdc-button__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        padding-top: 10px;
        text-align: center;
    }
}

.line-break {
    white-space: pre-wrap;
}

.mat-mdc-snack-bar-container {
    margin-top: 88px !important;
}

.app-date-column {
    width: 14em;
}

.app-price-column {
    width: 7em;
}

// Keep the mat-checkbox's checkbox near the first line, see https://github.com/angular/components/issues/8416
// This is not perfectly aligned on the text first line, because we need space for the ripple, but at least the
// spacing stays consistent with other one-line <mat-checkbox>, and it should be good enough for most use-cases
.mdc-checkbox {
    align-self: flex-start;
}

// It is possible that the server returns error message on multiple line (eg: when ACL with multiple assertions fail),
// so we try to preserve that formatting, while still wrapping if necessary
.mat-mdc-snack-bar-label {
    white-space: pre-wrap;
}
