.PopUpAlertContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0px;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 130px;
    padding: 10px;
    background-color: white;
    text-align: center;
}
.PopUpAlertContainer > div:nth-child(2) {
    color: var(--fontBlack);
}

.PopUpAlertContainer > div:nth-child(4) {
    font-size: 18px;
    min-height: 50px;
}


.PopUpAlertContainer.booking {
    height: 200px;
    width: 460px;
}
    .PopUpAlertContainer.booking .Buttons {
        margin: 10px;
        margin-top:0px;
        font-size:21px;
        padding-top:0px;
        height:54px;
        line-height:54px;
    }


    .PopUpAlertContainer.bookable {
        height: 200px;
        width: 460px;
    }

        .PopUpAlertContainer.bookable .Buttons {
            margin: 10px;
            margin-top: 16px;
            font-size: 21px;
            padding-top: 0px;
            height: 49px;
            line-height: 50px;
            width: 285px;
            background-image:none;
        }


.PopUpAlertContainer.available {
    position:relative;
    width: 500px;
    min-height: 400px;
    text-align:center;
}



    .PopUpAlertContainer.available > div:nth-child(4) {
        position: absolute;
        width:480px;
        font-size: 18px;
        min-height: 200px;
        overflow-y: scroll;
        max-height:350px;
        text-align:center;
        color:var(--fontBlack);
        z-index:1;
    }

    .PopUpAlertContainer.available > div:nth-child(5) {
        position: absolute;
        z-index:3;
        top: 160px;
        width: 460px;
        margin-left: 10px;
        margin-right:10px;
    }




    .PopUpAlertContainer.available .Buttons {
        position: relative;
        margin-bottom: 10px;
        font-size: 21px;
        padding-top: 0px;
        height: 49px;
        line-height: 50px;
        width: 450px;
        background-image: url(../img/icons/arrow.png);
        background-position: 410px center;
        z-index: 3;
    }
