<div class="nat-vertical" style="gap: 50px">
    @if (runningServicesDS.data?.length > 0) {
        <div>
            <div class="nat-horizontal nat-align nat-margin-bottom">
                <h2 class="nat-expand mat-headline-5 nat-no-margin-bottom">Cotisation / Prestations souscrites</h2>
                @if (!user.owner) {
                    <button mat-stroked-button color="warn" (click)="unregister()">Démissionner</button>
                }
            </div>

            <div class="responsive-table">
                <table mat-table [dataSource]="runningServicesDS">
                    <tr *matHeaderRowDef="servicesColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: servicesColumns" mat-row></tr>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell>Nom</th>
                        <td *matCellDef="let booking" mat-cell>{{ booking.bookable.name }}</td>
                        <td *matFooterCellDef mat-footer-cell>Totaux</td>
                    </ng-container>

                    <ng-container matColumnDef="periodicPrice">
                        <th *matHeaderCellDef mat-header-cell natural-7em-column natural-align-right>
                            Prix périodique
                        </th>
                        <td *matCellDef="let booking" mat-cell natural-align-right>
                            @if (booking.periodicPrice) {
                                <span> {{ booking.periodicPrice | currency: 'CHF' }}</span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="initialPrice">
                        <th *matHeaderCellDef mat-header-cell natural-7em-column natural-align-right>Prix initial</th>
                        <td *matCellDef="let booking" mat-cell natural-align-right>
                            @if (booking.bookable.initialPrice !== '0.00') {
                                <span> {{ booking.bookable.initialPrice | currency: 'CHF' }}</span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="revoke">
                        <th *matHeaderCellDef mat-header-cell natural-1em-column></th>
                        <td *matCellDef="let booking" mat-cell>
                            @if (canRevoke(booking)) {
                                <button mat-icon-button color="warn" (click)="revokeBooking(booking)">
                                    <mat-icon naturalIcon="delete_forever" />
                                </button>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="usage">
                        <th *matHeaderCellDef mat-header-cell natural-7em-column natural-align-right>Utilisations</th>
                        <td *matCellDef="let booking" mat-cell natural-align-right>
                            @for (b of booking.bookable.simultaneousBookings; track b) {
                                <div class="nat-horizontal">
                                    <natural-avatar [initials]="b.owner.name" [gravatar]="b.owner.email" [size]="36" />
                                    <a mat-button [routerLink]="['/admin/user', b.owner.id]">
                                        {{ b.owner.name }}
                                    </a>
                                </div>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="admin">
                        <th *matHeaderCellDef mat-header-cell natural-1em-column>Traiter</th>
                        <td *matCellDef="let booking" mat-cell>
                            <a
                                mat-icon-button
                                class="icon-button-circle-accent"
                                [routerLink]="['/admin/booking', booking.id]"
                            >
                                <mat-icon naturalIcon="chevron_right" />
                            </a>
                        </td>
                    </ng-container>
                </table>
            </div>
        </div>
    }

    <div>
        <h2 class="mat-headline-5">Demander un espace de stockage ou un service</h2>

        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a
                #rla1="routerLinkActive"
                mat-tab-link
                label=""
                routerLinkActive
                [routerLink]="['bookables/storage']"
                [preserveFragment]="true"
                [active]="rla1.isActive || route.snapshot.children[0].url.length === 0"
                >Stockages</a
            >
            <a
                #rla2="routerLinkActive"
                mat-tab-link
                label=""
                routerLinkActive
                [routerLink]="['bookables/services']"
                [preserveFragment]="true"
                [active]="rla2.isActive"
                >Services & Prestations</a
            >
            <a
                #rla3="routerLinkActive"
                mat-tab-link
                label=""
                routerLinkActive
                [routerLink]="['bookables/survey']"
                [preserveFragment]="true"
                [active]="rla3.isActive"
                >Sondage</a
            >
            <a
                #rla4="routerLinkActive"
                mat-tab-link
                label=""
                routerLinkActive
                [routerLink]="['bookables/formation']"
                [preserveFragment]="true"
                [active]="rla4.isActive"
                >Cours</a
            >
            <a
                #rla5="routerLinkActive"
                mat-tab-link
                label=""
                routerLinkActive
                [routerLink]="['bookables/welcome']"
                [preserveFragment]="true"
                [active]="rla5.isActive"
                >Séance d'accueil</a
            >
            <a
                #rla6="routerLinkActive"
                mat-tab-link
                label=""
                routerLinkActive
                [routerLink]="['bookables/nft']"
                [preserveFragment]="true"
                [active]="rla6.isActive"
                >NFT</a
            >
        </nav>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet />
        </mat-tab-nav-panel>
    </div>

    <div class="nat-vertical">
        @if (pendingApplicationsDS.data?.length > 0) {
            <h2 class="mat-headline-5 nat-no-margin-bottom">Demandes en attente</h2>
        }

        <div class="responsive-table" [class.nat-hide]="!pendingApplicationsDS.data?.length">
            <table mat-table [dataSource]="pendingApplicationsDS">
                <tr *matHeaderRowDef="applicationsColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: applicationsColumns" mat-row></tr>
                <tr *matFooterRowDef="applicationsColumns" mat-footer-row></tr>

                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell>Nom</th>
                    <td *matCellDef="let booking" mat-cell>{{ booking.bookable.name }}</td>
                    <td *matFooterCellDef mat-footer-cell>Totaux</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef mat-header-cell>Nom</th>
                    <td *matCellDef="let booking" mat-cell>{{ booking.status | enum: 'BookingStatus' | async }}</td>
                    <td *matFooterCellDef mat-footer-cell>Totaux</td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th *matHeaderCellDef mat-header-cell natural-7em-column natural-align-right>Prix périodique</th>
                    <td *matCellDef="let booking" mat-cell natural-align-right>
                        @if (booking.bookable.periodicPrice !== '0.00') {
                            <span>
                                {{ booking.bookable.periodicPrice | currency: 'CHF' }}
                            </span>
                        }
                    </td>
                    <td *matFooterCellDef mat-footer-cellnatural-align-right>
                        @if (pendingApplicationsDS.data?.totalPeriodicPrice > 0) {
                            <span>
                                {{ pendingApplicationsDS.data?.totalPeriodicPrice | currency: 'CHF' }}
                            </span>
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="initialPrice">
                    <th *matHeaderCellDef mat-header-cell natural-7em-column natural-align-right>Prix initial</th>
                    <td *matCellDef="let booking" mat-cell natural-align-right>
                        @if (booking.bookable.initialPrice !== '0.00') {
                            <span> {{ booking.bookable.initialPrice | currency: 'CHF' }}</span>
                        }
                    </td>
                    <td *matFooterCellDef mat-footer-cellnatural-align-right>
                        @if (pendingApplicationsDS.data?.totalInitialPrice > 0) {
                            <span>
                                {{ pendingApplicationsDS.data?.totalInitialPrice | currency: 'CHF' }}
                            </span>
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="cancel">
                    <th *matHeaderCellDef mat-header-cell natural-1em-column></th>
                    <td *matCellDef="let booking" mat-cell>
                        <button
                            mat-icon-button
                            color="warn"
                            [disabled]="deleting.has(booking.id)"
                            (click)="cancelApplication(booking)"
                        >
                            <mat-icon naturalIcon="delete" />
                        </button>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <ng-container matColumnDef="admin">
                    <th *matHeaderCellDef mat-header-cell natural-1em-column>Traiter</th>
                    <td *matCellDef="let booking" mat-cell>
                        <a
                            mat-icon-button
                            class="icon-button-circle-accent"
                            [routerLink]="['/admin/booking', booking.id]"
                        >
                            <mat-icon naturalIcon="chevron_right" />
                        </a>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>
            </table>
        </div>
    </div>
</div>
