@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-font-headline-sm nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                [buttons]="buttons"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-horizontal nat-margin-vertical overflow">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    [multipleGroups]="true"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header="lastName">Nom</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            <div class="nat-horizontal nat-align">
                                <natural-avatar [initials]="element.name" [gravatar]="element.email" [size]="36" />
                                <natural-table-button
                                    matTooltip="Éditer"
                                    [label]="element.name"
                                    [navigate]="['/admin/user', element.id]"
                                />
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="login">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Login</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>{{ element.login }}</td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Âge</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>{{ element.age }}</td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Rôle</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            {{ element.role | enum: 'UserRole' | async }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="owner">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Chef de famille</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>{{ element.owner?.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            class="natural-align-center app-date-column"
                        >
                            État
                        </th>
                        <td
                            *matCellDef="let element; dataSource: dataSource"
                            mat-cell
                            class="natural-align-center"
                            matTooltip="Le nom et le login doivent être renseignés pour activer un utilisateur"
                            [matTooltipDisabled]="isActive(element) || isActivable(element)"
                        >
                            @if (isActive(element)) {
                                <span>{{ element.status | enum: 'UserStatus' | async }}</span>
                            } @else {
                                <button
                                    matButton="filled"
                                    [color]="isNew(element) ? 'tertiary' : undefined"
                                    [disabled]="!isActivable(element) || activating.has(element)"
                                    [style.width.px]="150"
                                    (click)="activate(element)"
                                >
                                    Activer ({{ element.status | enum: 'UserStatus' | async }})
                                </button>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="creationDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Créé le</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            {{ element.creationDate | date }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="updateDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Modifié le</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            {{ element.updateDate | date }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="flagWelcomeSessionDate">
                        <th *matHeaderCellDef mat-header-cell class="natural-7em-column">Accueil</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            @if (!element.welcomeSessionDate) {
                                <button
                                    matButton="filled"
                                    [disabled]="welcoming.has(element)"
                                    (click)="flagWelcomeSessionDate(element)"
                                >
                                    A participé
                                </button>
                            } @else {
                                <span>{{ element.welcomeSessionDate | date: 'dd.MM.y' }}</span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="resignDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header class="app-date-column">
                            Date démission
                        </th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                            {{ element.resignDate | date: 'dd.MM.y' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="balance">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            class="natural-6em-column natural-align-right"
                            arrowPosition="before"
                        >
                            Solde
                        </th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell class="natural-align-right">
                            <app-money [showCurrency]="false" [showSignal]="true" [amount]="element.account?.balance" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mobilePhone">
                        <th *matHeaderCellDef mat-header-cell>Tél.</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>{{ element.mobilePhone }}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th *matHeaderCellDef mat-header-cell>e-mail</th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell>{{ element.email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="provision">
                        <th *matHeaderCellDef mat-header-cell app-date-column class="natural-align-center">
                            Versement
                        </th>
                        <td *matCellDef="let element; dataSource: dataSource" mat-cell class="natural-align-center">
                            <button matButton="filled" (click)="showProvision(element)">Faire un versement</button>
                        </td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-margin">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if ((permissionsService.crud | async)?.user.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/user/new']" />
}
