<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Transaction"
        [newLabel]="data.seo.title"
        [model]="data.model"
        [listRoute]="['admin', 'transaction-line']"
    >
        @if (isUpdatePage()) {
            <app-money sizeClass="mat-font-headline-lg" [amount]="data.model.balance" [showSignal]="false" />
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error>{{ form.get('name')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>

                    <div class="nat-expand-50 nat-vertical">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput formControlName="transactionDate" [matDatepicker]="picker2" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker2" />
                            <mat-datepicker #picker2 />
                            <mat-error>{{ form.get('transactionDate')?.errors | errorMessage }}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Transaction Datatrans</mat-label>
                            <input matInput formControlName="datatransRef" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="nat-md-expand-33 nat-vertical">
                    <mat-form-field>
                        <mat-label>Remarques</mat-label>
                        <textarea
                            matInput
                            formControlName="remarks"
                            [cdkTextareaAutosize]="true"
                            [cdkAutosizeMinRows]="3"
                        ></textarea>
                    </mat-form-field>

                    <!-- TODO : FOR ADMINS ONLY -->
                    <mat-form-field>
                        <mat-label>Remarques internes</mat-label>
                        <textarea
                            matInput
                            formControlName="internalRemarks"
                            [cdkTextareaAutosize]="true"
                            [cdkAutosizeMinRows]="3"
                            [cdkAutosizeMaxRows]="30"
                        ></textarea>
                    </mat-form-field>
                </div>
            </div>

            @if (data.model.expenseClaim) {
                <mat-divider class="nat-margin-vertical" />
                <div>
                    <div class="nat-horizontal nat-margin-bottom nat-gap nat-align">
                        <div class="mat-font-title-lg">
                            @if (data.model.expenseClaim.type === ExpenseClaimType.Refund) {
                                <span>Demande de remboursement</span>
                            }
                            @if (data.model.expenseClaim.type === ExpenseClaimType.ExpenseClaim) {
                                <span>Annonce de dépense</span>
                            }
                            @if (data.model.expenseClaim.type === ExpenseClaimType.Invoice) {
                                <span>Facture à payer</span>
                            }
                        </div>
                        <a matButton="outlined" [routerLink]="['/admin/expense-claim', data.model.expenseClaim.id]"
                            >Voir la demande</a
                        >
                    </div>
                    <div class="nat-vertical nat-gap nat-md-horizontal">
                        <div class="nat-vertical nat-gap-5" style="max-width: 300px">
                            <div class="mat-font-title-sm nat-bold">{{ data.model.expenseClaim.name }}</div>
                            @if (data.model.expenseClaim.description) {
                                <div>
                                    <span class="mat-font-title-sm nat-bold">Description :</span>
                                    {{ data.model.expenseClaim.description }}
                                </div>
                            }
                        </div>
                        <div class="nat-vertical nat-gap-5" style="max-width: 300px">
                            <div>
                                <span class="mat-font-title-sm nat-bold">Montant :</span>
                                {{ data.model.expenseClaim.amount | currency: 'CHF' }}
                            </div>
                            <div>
                                <span class="mat-font-title-sm nat-bold">Membre :</span>
                                {{ data.model.expenseClaim.owner.name }}
                            </div>
                            @if (data.model.expenseClaim.sector) {
                                <div>
                                    <span class="mat-font-title-sm nat-bold">Secteur :</span>
                                    {{ data.model.expenseClaim.sector }}
                                </div>
                            }
                            @if (data.model.expenseClaim.reviewer) {
                                <div>
                                    <span class="mat-font-title-sm nat-bold">Approuvé par :</span>
                                    {{ data.model.expenseClaim.reviewer.name }}
                                </div>
                            }
                        </div>
                        <app-accounting-documents
                            [disabled]="true"
                            [canRemove]="userService.canDeleteAccountingDocument(viewer)"
                            [model]="data.model.expenseClaim"
                            [fileHeight]="150"
                            [fileWidth]="200"
                        />
                    </div>
                </div>
            }

            <!-- TODO : add selectors for ExpenseClaim -->
            <mat-divider class="nat-margin-vertical" />
            <div class="nat-horizontal nat-gap-10 nat-align nat-margin-bottom">
                <h2 class="mat-font-title-lg">Écritures</h2>
                @if (userService.canUpdateTransaction(viewer)) {
                    <div class="nat-horizontal nat-gap-10">
                        @if (!(updateTransactionLines || !isUpdatePage())) {
                            <button matButton="outlined" (click)="updateTransactionLines = true">Éditer</button>
                        }
                        @if (updateTransactionLines && isUpdatePage()) {
                            <button matButton="outlined" (click)="updateTransactionLines = false">Annuler</button>
                        }
                        @if (updateTransactionLines) {
                            <button matButton="filled" (click)="transactionLinesComponent()?.addEmpty()">
                                Ajouter une écriture
                            </button>
                        }
                    </div>
                }
            </div>

            @if (!updateTransactionLines && isUpdatePage()) {
                <div>
                    <app-transaction-lines
                        [persistSearch]="false"
                        [forcedVariables]="{
                            filter: {groups: [{conditions: [{transaction: {equal: {value: data.model.id}}}]}]},
                        }"
                        [selectedColumns]="[
                            'transactionDate',
                            'name',
                            'remarks',
                            'balance',
                            'account',
                            'isReconciled',
                            'tag',
                        ]"
                        [hideFab]="true"
                    />
                </div>
            } @else {
                <app-editable-transaction-lines [input]="transactionLines" />
            }

            <div>
                <div class="mat-font-title-lg">Documents justificatifs de la transaction</div>
                <app-accounting-documents
                    #transactionDocuments
                    [canRemove]="userService.canDeleteAccountingDocument(viewer)"
                    [model]="data.model"
                />
            </div>

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (!isUpdatePage() && userService.canUpdateTransaction(viewer)) {
        <natural-fixed-button
            class="detail-speed-dial"
            icon="save"
            matTooltip="Enregistrer"
            matTooltipPosition="left"
            [color]="form.valid ? 'tertiary' : 'error'"
            (click)="save()"
        />
    }

    @if (isUpdatePage() && userService.canUpdateTransaction(viewer)) {
        <eco-fab-speed-dial class="detail-speed-dial">
            <eco-fab-speed-dial-trigger>
                <button matFab>
                    <mat-icon naturalIcon="more_vert" />
                </button>
            </eco-fab-speed-dial-trigger>
            <eco-fab-speed-dial-actions>
                <button matMiniFab matTooltip="Enregistrer" matTooltipPosition="left" (click)="save()">
                    <mat-icon naturalIcon="save" />
                </button>
                <button
                    matMiniFab
                    matTooltip="Dupliquer ..."
                    matTooltipPosition="left"
                    [routerLink]="['../new', {duplicate: data.model.id}]"
                >
                    <mat-icon naturalIcon="content_copy" />
                </button>
                <button
                    matMiniFab
                    color="error"
                    matTooltip="Supprimer définitivement"
                    matTooltipPosition="left"
                    (click)="delete()"
                >
                    <mat-icon naturalIcon="delete_forever" />
                </button>
            </eco-fab-speed-dial-actions>
        </eco-fab-speed-dial>
    }
</div>
