<h2 mat-dialog-title>Commentaire de fin de sortie</h2>
<mat-dialog-content>
    <mat-form-field style="width: 100%">
        <mat-label>Commentaire</mat-label>
        <textarea matInput [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="4" [(ngModel)]="comment"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton="outlined" mat-dialog-close>Annuler</button>
    <button matButton="filled" [mat-dialog-close]="comment">Valider</button>
</mat-dialog-actions>
