<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
    <p>{{ data.message }}</p>
    <mat-form-field style="width: 100%">
        <mat-label>Commentaire</mat-label>
        <textarea matInput [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="4" [(ngModel)]="comment"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ data.cancelText }}</button>
    <button mat-button color="primary" [mat-dialog-close]="comment">{{ data.confirmText }}</button>
</mat-dialog-actions>
