<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px grid" *ngIf="bookings">
        <div *ngIf="!bookings.items.length && showEmptyMessage" class="padding mat-body-2">Aucun résultat</div>

        <ng-container *ngFor="let item of bookings.items; let i = index">
            <div [@terminate] *ngIf="!activeOnly || (activeOnly && !item.terminated)">
                <app-card
                    [file]="item.booking.bookable?.image"
                    [style.width.px]="300"
                    [class.showComments]="item.showComments"
                >
                    <card-illustration *ngIf="!item.booking.bookable?.image" class="padding">
                        <ngx-avatar name="?" [size]="160"></ngx-avatar>
                    </card-illustration>

                    <!-- style="overflow:hidden;" -->
                    <div fxLayout="column" fxLayoutGap="10px">
                        <a
                            mat-button
                            [routerLink]="item.booking.bookable ? ['/booking', item.booking.bookable.code] : null"
                            class="app-button-wrap"
                        >
                            {{ item.booking.bookable?.name || 'Matériel personnel' }}
                        </a>
                        <div style="position: relative">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="mat-body-2">{{ item.booking.owner.name }}</div>
                        <div class="mat-body-1" *ngIf="!item.booking.endDate && item.booking.destination">
                            Destination : {{ item.booking.destination }}
                        </div>
                        <div class="mat-body-1" *ngIf="!item.booking.endDate && item.booking.estimatedEndDate">
                            Retour prévu : {{ item.booking.estimatedEndDate }}
                        </div>
                        <div>Début : {{ item.booking.startDate | swissDate }}</div>
                        <div *ngIf="item.booking.endDate">Fin : {{ item.booking.endDate | swissDate }}</div>

                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="item.showComments = true">
                                <natural-icon name="feedback"></natural-icon>
                            </button>
                            <div fxFlex></div>

                            <button
                                mat-flat-button
                                color="warn"
                                (click)="endBooking(item)"
                                [pHidden]="!!item.explode"
                                (pComplete)="item.terminated = true"
                                libParticleEffectButton
                                [pParticlesAmountCoefficient]="2"
                                [pOscillationCoefficient]="100"
                                [pDuration]="350"
                                pEasing="easeOutQuad"
                                [pSpeed]="0.1"
                                pColor="#f44336"
                            >
                                Annoncer retour
                            </button>
                        </div>
                    </div>

                    <div class="comment padding" fxLayout="column" fxLayoutGap="10px">
                        <div fxFlex class="overflow" fxLayout="column">
                            <div class="mat-title">Commentaires</div>
                            <mat-form-field>
                                <mat-label>Commentaire de départ</mat-label>
                                <textarea
                                    matInput
                                    [ngModel]="item.booking.startComment"
                                    (change)="update({id: item.booking.id, startComment: $event.target.value})"
                                    [matTextareaAutosize]="true"
                                    [matAutosizeMinRows]="3"
                                ></textarea>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Commentaire de fin</mat-label>
                                <textarea
                                    matInput
                                    [ngModel]="item.booking.endComment"
                                    (change)="update({id: item.booking.id, endComment: $event.target.value})"
                                    [matTextareaAutosize]="true"
                                    [matAutosizeMinRows]="3"
                                ></textarea>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <button mat-icon-button color="primary" (click)="item.showComments = false">
                                <natural-icon name="clear"></natural-icon>
                            </button>
                        </div>
                    </div>
                </app-card>
            </div>
        </ng-container>
    </div>

    <button mat-button (click)="nextPage()" *ngIf="bookings && bookings.length > bookings.items.length">
        Voir plus
    </button>
</div>
