app-card {
    position: relative;

    .comment {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(1.2, 1.2);
        opacity: 0;
        z-index: 2; // on top of mat-button
        transition: all 0.2s;
        border-radius: 4px;
        background-color: white;
        pointer-events: none;
    }

    &.showComments {
        .comment {
            transform: scale(1, 1);
            opacity: 1;
            pointer-events: auto;
        }
    }
}
