<div fxLayout="column" fxLayoutGap="20px">
    @if (bookings) {
        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px grid">
            @if (!bookings.items.length && showEmptyMessage) {
                <div class="padding mat-subtitle-2">Aucun résultat</div>
            }
            @for (item of bookings.items; track item) {
                @if (!activeOnly || (activeOnly && !item.terminated)) {
                    <div [@terminate]>
                        <app-card
                            [file]="item.booking.bookable?.image"
                            [style.width.px]="300"
                            [class.showComments]="item.showComments"
                        >
                            @if (!item.booking.bookable?.image) {
                                <div class="card-illustration padding">
                                    <natural-avatar initials="?" [size]="160" />
                                </div>
                            }
                            <!-- style="overflow:hidden;" -->
                            <div fxLayout="column" fxLayoutGap="10px">
                                <a
                                    mat-button
                                    [routerLink]="
                                        item.booking.bookable ? ['/booking', item.booking.bookable.code] : null
                                    "
                                    class="app-button-wrap"
                                >
                                    {{ item.booking.bookable?.name || 'Matériel personnel' }}
                                </a>
                                <div style="position: relative">
                                    <mat-divider />
                                </div>
                                <div class="mat-subtitle-2">{{ item.booking.owner?.name }}</div>
                                @if (!item.booking.endDate && item.booking.destination) {
                                    <div class="mat-body-2">Destination : {{ item.booking.destination }}</div>
                                }
                                @if (!item.booking.endDate && item.booking.estimatedEndDate) {
                                    <div class="mat-body-2">Retour prévu : {{ item.booking.estimatedEndDate }}</div>
                                }
                                <div>Début : {{ item.booking.startDate | swissDate }}</div>
                                @if (item.booking.endDate) {
                                    <div>Fin : {{ item.booking.endDate | swissDate }}</div>
                                }
                                <div fxLayout="row" fxLayoutAlign="end center">
                                    <button mat-icon-button (click)="item.showComments = true">
                                        <mat-icon naturalIcon="feedback" />
                                    </button>
                                    <div fxFlex></div>
                                    @if (!item.terminated) {
                                        <button
                                            mat-flat-button
                                            color="warn"
                                            (click)="endBooking(item)"
                                            [pHidden]="!!item.explode"
                                            (pComplete)="item.terminated = true"
                                            appParticleEffect
                                            [pParticlesAmountCoefficient]="2"
                                            [pOscillationCoefficient]="100"
                                            [pDuration]="350"
                                            pEasing="easeOutQuad"
                                            [pSpeed]="0.1"
                                            pColor="#f44336"
                                        >
                                            Annoncer retour
                                        </button>
                                    }
                                </div>
                            </div>
                            <div class="comment padding" fxLayout="column" fxLayoutGap="10px">
                                <div fxFlex class="overflow" fxLayout="column">
                                    <div class="mat-headline-6">Commentaires</div>
                                    <mat-form-field>
                                        <mat-label>Commentaire de départ</mat-label>
                                        <textarea
                                            matInput
                                            [ngModel]="item.booking.startComment"
                                            (change)="
                                                update({id: item.booking.id, startComment: $any($event.target).value})
                                            "
                                            [cdkTextareaAutosize]="true"
                                            [cdkAutosizeMinRows]="3"
                                        ></textarea>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Commentaire de fin</mat-label>
                                        <textarea
                                            matInput
                                            [ngModel]="item.booking.endComment"
                                            (change)="
                                                update({id: item.booking.id, endComment: $any($event.target).value})
                                            "
                                            [cdkTextareaAutosize]="true"
                                            [cdkAutosizeMinRows]="3"
                                        ></textarea>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row">
                                    <button mat-icon-button color="primary" (click)="item.showComments = false">
                                        <mat-icon naturalIcon="clear" />
                                    </button>
                                </div>
                            </div>
                        </app-card>
                    </div>
                }
            }
        </div>
    }

    @if (bookings && bookings.length > bookings.items.length) {
        <button mat-button (click)="nextPage()">Voir plus</button>
    }
</div>
