.PopUpUserContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0px;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 350px;
    padding: 10px;
    background-color: white;
    text-align: center;
}


#inputTabCahierSearch {
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    height: 42px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url(../img/IconSearchBlack.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 40px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    z-index: 5;
}

    #inputTabCahierSearch:focus {
        border: 2px solid var(--accent);
        background-color: white;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
        background-image: url(../img/IconSearchBlue.png);
    }

    #inputTabCahierSearch:hover {
        background-color: white;
    }


/*#inputTabCahierSearch:focus ~ #divTabCahierSearchResult {

}*/



#divTabCahierSearchResult {
    position: relative;
    left: 0%;
    width: 100%;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 45px;
    border: 2px solid transparent;
    height: 230px;
    transition: all 0.2s linear 0s;
}



.divTabCahierResultEntry { /*divTabCahierSearchResult > div {*/
    position: relative;
    left: -2px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: blue; /*useless*/
    font-size: 20px;
    padding-left: 45px;
    text-align:left;
    transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    border-width: 0px;
    border-color: gray;
    border-style: outset;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(../img/IconMan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 8px;
    background-position-y: 5px;
    display: table;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    color:var(--fontBlack);
}

    .divTabCahierResultEntry:nth-child(2n) {
        background-color: white;
    }

    .divTabCahierResultEntry:nth-child(2n+1) {
        background-color: lightgray;
    }

    .divTabCahierResultEntry:hover {
        background-color: darkgray;
        margin-left: 10px;
    }


.spanTabCahierSurName { /*#divTabCahierSearchResult > div > span:nth-child(1) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    width: 120px;
}

.divTabCahierResultEntry:hover .spanTabCahierSurName {
    text-decoration: underline;
}

.spanTabCahierFirstName { /*#divTabCahierSearchResult > div > span:nth-child(2) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    text-align: left;
}

.divTabCahierResultEntry:hover .spanTabCahierFirstName {
    text-decoration: underline;
}


#imgTabCahierSearchIconEnter {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}
