<div class="body nat-padding nat-gap nat-vertical nat-center nat-expand" [formGroup]="form">
    <div class="nat-vertical nat-gap-15">
        <h1 class="mat-h1">Changement de mot de passe</h1>

        <app-password [form]="form" />
        <!-- Spacer-->
        <div></div>

        <div class="nat-horizontal nat-center">
            <button
                mat-raised-button
                color="primary"
                [disabled]="form.disabled || !form.valid"
                (click)="maybeConfirm()"
            >
                <mat-icon naturalIcon="send" />
                Envoyer
            </button>
        </div>
    </div>
</div>
