parameters:
	ignoreErrors:
		-
			message: "#^Property Application\\\\Model\\\\Account\\:\\:\\$budgetBalance is never written, only read\\.$#"
			count: 1
			path: server/Application/Model/Account.php
