<div class="nat-horizontal nat-wrap nat-gap-10">
    @for (file of files; track $index) {
        <div class="nat-vertical nat-top nat-center">
            <natural-file
                accept="image/bmp,image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/webp,application/pdf,application/x-pdf"
                [model]="file"
                [height]="fileHeight()"
                [style.width.px]="fileWidth()"
                [action]="getAction(file, $index, $last)"
                (modelChange)="fileAdded($event, $index)"
            />
            @if (canRemove() && !disabled && !$last) {
                <button matIconButton (click)="!$last ? removeFile($index) : null">
                    <mat-icon naturalIcon="clear" />
                </button>
            }
            @if (!disabled && $last) {
                <p style="text-align: center" [style.maxWidth.px]="fileWidth()">
                    Images (jpg, png, webp, svg, gif, bmp) ou document PDF uniquement
                </p>
            }
        </div>
    }
</div>
