<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [newLabel]="data.seo.title"
        label="Frais et remboursement"
        [model]="data.model"
        [listRoute]="['admin', 'expense-claim']"
    >
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            @if (
                isUpdatePage() &&
                data.model.status === ExpenseClaimStatus.new &&
                data.model.reviewer === null &&
                permissionsService.gteResponsible(viewer)
            ) {
                <a mat-stroked-button color="basic" (click)="approve()">
                    <mat-icon naturalIcon="verified"></mat-icon>
                    <span class="mat-subtitle-2">Approuver</span>
                </a>
            }
            @if (isUpdatePage() && data.model.reviewer && !permissionsService.isAdministrator(viewer)) {
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon naturalIcon="verified"></mat-icon>
                    <span class="mat-body">Approuvé par {{ data.model.reviewer.name }}</span>
                </div>
            }

            @if (
                isUpdatePage() && data.model.transactions.length === 0 && permissionsService.crud?.transaction.create
            ) {
                <a
                    mat-flat-button
                    color="accent"
                    [routerLink]="['/admin/transaction/new', {expenseClaim: data.model.id}]"
                >
                    <mat-icon naturalIcon="payments"></mat-icon>
                    @if (data.model.type === ExpenseClaimType.expenseClaim) {
                        <span>Créditer le solde</span>
                    }
                    @if (data.model.type === ExpenseClaimType.refund) {
                        <span>Rembourser</span>
                    }
                    @if (data.model.type === ExpenseClaimType.invoice) {
                        <span>Payer</span>
                    }
                </a>
            }

            @if (isUpdatePage() && data.model.transactions.length === 1) {
                <a mat-flat-button [routerLink]="['/admin/transaction', data.model.transactions[0].id]">
                    Voir l'écriture
                </a>
            }

            @if (isUpdatePage() && data.model.transactions.length > 1) {
                <a
                    mat-flat-button
                    [routerLink]="transactionLineService.linkToTransactionLinesForTransactions(data.model.transactions)"
                >
                    Voir les écritures
                </a>
            }

            <app-money [amount]="data.model.amount" sizeClass="mat-headline-4" [showSignal]="false"></app-money>
        </div>
    </natural-detail-header>

    <div fxLayout="column" fxLayoutGap="20px" class="padding-top">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="20px">
            <div fxFlex="60" fxLayout="column">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name" (change)="update()" />
                    @if (form.get('name')?.hasError('maxlength')) {
                        <mat-error>
                            Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                        </mat-error>
                    }
                    @if (form.get('name')?.hasError('required')) {
                        <mat-error>Requis</mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea
                        matInput
                        formControlName="description"
                        (change)="update()"
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="1"
                    ></textarea>
                </mat-form-field>

                <div id="sectorSelect">
                    @if (form.get('type')?.value !== ExpenseClaimType.refund) {
                        <mat-form-field>
                            <mat-label>Secteur concerné</mat-label>
                            <mat-select formControlName="sector" (selectionChange)="update()">
                                <mat-option></mat-option>
                                @for (option of expenseClaimService.getSectors(); track option) {
                                    <mat-option [value]="option">
                                        {{ option }}
                                    </mat-option>
                                }
                            </mat-select>
                            <!-- Clear button -->
                            <div class="suffix-buttons" matIconSuffix>
                                @if (form.get('sector')?.value !== '') {
                                    <button
                                        (click)="form.get('sector')?.setValue(''); $event.stopPropagation(); update()"
                                        mat-icon-button
                                        matTooltip="Aucun"
                                    >
                                        <mat-icon naturalIcon="close"></mat-icon>
                                    </button>
                                }
                            </div>
                        </mat-form-field>
                    }
                </div>
            </div>

            <div fxFlex="40" fxLayout="column">
                <natural-select-enum
                    enumName="ExpenseClaimType"
                    formControlName="type"
                    (selectionChange)="update()"
                    placeholder="Type"
                ></natural-select-enum>

                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex="120px">
                        <mat-label>Montant</mat-label>
                        <input matInput type="number" step="0.01" formControlName="amount" (change)="update()" />
                        <div matTextSuffix>CHF</div>
                        @if (form.get('amount')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                        @if (form.get('amount')?.hasError('min')) {
                            <mat-error>Le montant doit être positif</mat-error>
                        }
                        @if (form.get('amount')?.hasError('money')) {
                            <mat-error>Le montant doit être un nombre avec un maximum de deux décimales </mat-error>
                        }
                    </mat-form-field>

                    <natural-select-enum
                        enumName="ExpenseClaimStatus"
                        formControlName="status"
                        (selectionChange)="update()"
                        placeholder="Status"
                        fxFlex
                    ></natural-select-enum>
                </div>

                <div fxLayout="row" fxLayout.gt-sm="column" fxLayoutGap="15px" fxLayoutGap.gt-sm="0">
                    <natural-select
                        fxFlex="50"
                        formControlName="owner"
                        placeholder="Membre"
                        [service]="userService"
                        (selectionChange)="update()"
                    ></natural-select>

                    @if (permissionsService.isAdministrator(viewer)) {
                        <natural-select
                            formControlName="reviewer"
                            placeholder="Approbateur"
                            [service]="userService"
                            (selectionChange)="update()"
                            fxFlex
                        ></natural-select>
                    }
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <h2 class="mat-headline-6">Commentaires</h2>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <mat-label>Remarques</mat-label>
                    <textarea
                        matInput
                        formControlName="remarks"
                        (change)="update()"
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="3"
                    ></textarea>
                </mat-form-field>
            </div>

            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <mat-label>Remarques internes</mat-label>
                    <textarea
                        matInput
                        formControlName="internalRemarks"
                        (change)="update()"
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="3"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>

        @if (isUpdatePage() && data.model.accountingDocuments.length) {
            <mat-divider></mat-divider>

            <div>
                <div class="mat-headline-6">Pièces justificatives</div>
                <div fxLayout="row" fxLayoutGap="10px">
                    @for (file of data.model.accountingDocuments; track file) {
                        <natural-file
                            [model]="file"
                            [height]="150"
                            [style.width.px]="200"
                            action="download"
                        ></natural-file>
                    }
                </div>
            </div>
        }

        <mat-divider></mat-divider>

        @if (isUpdatePage()) {
            <natural-stamp [item]="data.model"></natural-stamp>
        }
    </div>

    @if (showFabButton) {
        <natural-fixed-button-detail
            [form]="form"
            [model]="data.model"
            (create)="create()"
            (delete)="delete()"
        ></natural-fixed-button-detail>
    }
</div>
