<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [newLabel]="data.seo.title"
        label="Frais et remboursement"
        [model]="data.model"
        [listRoute]="['admin', 'expense-claim']"
    >
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <a
                *ngIf="
                    data.model.id &&
                    data.model.status === ExpenseClaimStatus.new &&
                    data.model.reviewer === null &&
                    permissionsService.gteResponsible(viewer)
                "
                mat-stroked-button
                color="basic"
                (click)="approve()"
            >
                <mat-icon naturalIcon="verified"></mat-icon>
                <span class="mat-subtitle-2">Approuver</span>
            </a>
            <div
                *ngIf="data.model.id && data.model.reviewer && !permissionsService.isAdministrator(viewer)"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon naturalIcon="verified"></mat-icon>
                <span class="mat-body">Approuvé par {{ data.model.reviewer.name }}</span>
            </div>

            <a
                *ngIf="
                    data.model.id &&
                    data.model.transactions?.length === 0 &&
                    permissionsService.crud?.transaction.create
                "
                mat-flat-button
                color="accent"
                [routerLink]="['/admin/transaction/new', {expenseClaim: data.model.id}]"
            >
                <mat-icon naturalIcon="payments"></mat-icon>
                <span *ngIf="data.model.type === ExpenseClaimType.expenseClaim">Créditer le solde</span>
                <span *ngIf="data.model.type === ExpenseClaimType.refund">Rembourser</span>
                <span *ngIf="data.model.type === ExpenseClaimType.invoice">Payer</span>
            </a>

            <a
                *ngIf="data.model.transactions?.length === 1"
                mat-flat-button
                [routerLink]="['/admin/transaction', data.model.transactions[0].id]"
            >
                Voir l'écriture
            </a>

            <a
                *ngIf="data.model.transactions?.length > 1"
                mat-flat-button
                [routerLink]="transactionLineService.linkToTransactionLinesForTransactions(data.model.transactions)"
            >
                Voir les écritures
            </a>

            <app-money [amount]="data.model.amount" sizeClass="mat-display-1" [showSignal]="false"></app-money>
        </div>
    </natural-detail-header>

    <div fxLayout="column" fxLayoutGap="20px" class="padding-top">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="20px">
            <div fxFlex="60" fxLayout="column">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name" (change)="update()" />
                    <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
                        Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                    </mat-error>
                    <mat-error *ngIf="form.get('name')?.hasError('required')">Requis</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea
                        matInput
                        formControlName="description"
                        (change)="update()"
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="1"
                    ></textarea>
                </mat-form-field>

                <div id="sectorSelect">
                    <mat-form-field *ngIf="form.get('type')?.value !== ExpenseClaimType.refund">
                        <mat-label>Secteur concerné</mat-label>
                        <mat-select formControlName="sector" (selectionChange)="update()">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let option of expenseClaimService.getSectors()" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                        <!-- Clear button -->
                        <div class="suffix-buttons" matIconSuffix>
                            <button
                                *ngIf="form.get('sector')?.value !== ''"
                                (click)="form.get('sector')?.setValue(''); $event.stopPropagation(); update()"
                                mat-icon-button
                                matTooltip="Aucun"
                            >
                                <mat-icon naturalIcon="close"></mat-icon>
                            </button>
                        </div>
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="40" fxLayout="column">
                <natural-select-enum
                    enumName="ExpenseClaimType"
                    formControlName="type"
                    (selectionChange)="update()"
                    placeholder="Type"
                ></natural-select-enum>

                <div fxLayout="row" fxLayoutGap="15px">
                    <mat-form-field fxFlex="120px">
                        <mat-label>Montant</mat-label>
                        <input matInput type="number" step="0.01" formControlName="amount" (change)="update()" />
                        <div matTextSuffix>CHF</div>
                        <mat-error *ngIf="form.get('amount')?.hasError('required')">Requis</mat-error>
                    </mat-form-field>

                    <natural-select-enum
                        enumName="ExpenseClaimStatus"
                        formControlName="status"
                        (selectionChange)="update()"
                        placeholder="Status"
                        fxFlex
                    ></natural-select-enum>
                </div>

                <div fxLayout="row" fxLayout.gt-sm="column" fxLayoutGap="15px" fxLayoutGap.gt-sm="0">
                    <natural-select
                        fxFlex="50"
                        formControlName="owner"
                        placeholder="Membre"
                        [service]="userService"
                        (selectionChange)="update()"
                    ></natural-select>

                    <natural-select
                        *ngIf="permissionsService.isAdministrator(viewer)"
                        formControlName="reviewer"
                        placeholder="Approbateur"
                        [service]="userService"
                        (selectionChange)="update()"
                        fxFlex
                    ></natural-select>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <h2 class="mat-headline-6">Commentaires</h2>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <mat-label>Remarques</mat-label>
                    <textarea
                        matInput
                        formControlName="remarks"
                        (change)="update()"
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="3"
                    ></textarea>
                </mat-form-field>
            </div>

            <div fxFlex fxLayout="column">
                <mat-form-field>
                    <mat-label>Remarques internes</mat-label>
                    <textarea
                        matInput
                        formControlName="internalRemarks"
                        (change)="update()"
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="3"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>

        <mat-divider *ngIf="data?.model?.accountingDocuments?.length"></mat-divider>

        <div *ngIf="data?.model?.accountingDocuments?.length">
            <div class="mat-headline-6">Pièces justificatives</div>

            <div fxLayout="row" fxLayoutGap="10px">
                <natural-file
                    *ngFor="let file of data?.model?.accountingDocuments"
                    [model]="file"
                    [height]="150"
                    [style.width.px]="200"
                    action="download"
                ></natural-file>
            </div>
        </div>

        <mat-divider></mat-divider>

        <natural-stamp [item]="data.model"></natural-stamp>
    </div>

    <natural-fixed-button-detail
        *ngIf="showFabButton"
        [form]="form"
        [model]="data.model"
        (create)="create()"
        (delete)="delete()"
    ></natural-fixed-button-detail>
</div>
