#divTabCahierEquipmentCategories {
}

#divTabCahierEquipmentCategoriesContainer {
    position: relative;
    top: 0px;
    left: 2.5%;
    background-color: transparent;
    width: 95%;
    min-height: 100px;
    text-align: center;
}

.BoxesBottomText1 {
    position: absolute;
    top: 20px;
    left: 2.5%;
    transition: all 0.1s linear 0s;
    background-color: white;
    width: 95%;
    height: 25px;
    color: black;
    font-size: 25px;
    text-align: center;
}

.BoxesBottomText2 {
    position: absolute;
    top: -20px;
    left: 2.5%;
    transition: all 0.1s linear 0s;
    width: 95%;
    height: 20px;
    color: gray;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
}
