#divTabCahierEquipmentChoice {
}
#divTabCahierEquipmentChoice.listBarActive {
    padding-right: 0px;
}

.divTabCahierEquipmentChoiceContainer {
}

.divTabCahierEquipmentChoiceInputCodeContainer {
    /*margin-top:15px;*/
    margin-bottom: 5px;
    height: 55px;
    text-align: center;
}

.divTabCahierEquipmentChoiceInputCodeContainer > div:nth-child(2) {
    display: inline-block;
    position: absolute;
    z-index: 9;
    transition: all 0.1s linear 0s;
    margin-top: 0px;
    margin-left: -269px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(../../../assets/navigations/icons/hashtag.png);
    background-position: left;
    background-size: 50px;
    background-color: black;
    width: 54px;
    height: 54px;
}

.divTabCahierEquipmentChoiceContainer input {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: rgb(245, 245, 245);
    padding-left: 60px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    text-transform: uppercase;
}
.divTabCahierEquipmentChoiceContainer input.animationShake {
    border-color: red !important;
}
.divTabCahierEquipmentChoiceContainer input + div.animationShake {
    background-color: red !important;
}
.animationShake {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: shake;
}
.divTabCahierEquipmentChoiceContainer input::placeholder {
    text-transform: initial;
}
.divTabCahierEquipmentChoiceContainer input:focus {
    border-color: var(--accent);
    background-color: white;
}

.divTabCahierEquipmentChoiceContainer input:hover {
    background-color: white;
}

.divTabCahierEquipmentChoiceContainer input:focus ~ div:nth-child(2) {
    background-color: var(--accent);
}

.divTabCahierEquipmentChoiceInputCodeContainer > div:nth-child(3) {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 100px;
}
.divTabCahierEquipmentChoiceInputCodeContainer > div:nth-child(3) .Buttons {
    transition: all 0.1s linear 0s;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url(../../../assets/navigations/icons/validated.png);
    background-position: center;
    background-position-x: 30px;
    background-color: lightgray;
    padding-left: 0px;
    width: 100px;
}
.divTabCahierEquipmentChoiceInputCodeContainer > div:nth-child(3) .Buttons:not(.activated) {
    cursor: initial;
}
.divTabCahierEquipmentChoiceInputCodeContainer > div:nth-child(3) .Buttons.activated {
    background-color: var(--accent);
}
.divTabCahierEquipmentChoiceInputCodeContainer > div:nth-child(3) .Buttons.activated:hover {
    background-color: var(--accentHover);
}

#btnNext {
    transition: all 0.1s linear 0s;
}
#btnNext:not(.activated) {
    cursor: initial;
    background-color: lightgray;
}

.divTabCahierEquipmentChoiceInputCodeContainer + div {
    margin-bottom: 20px;
    margin-left: -90px;
    color: gray;
    font-size: 15px;
    text-align: center;
}
.divTabCahierEquipmentChoiceInputCodeContainer + div + div {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.divTabCahierEquipmentChoiceContainer .NormalButtons {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url(../../../assets/navigations/icons/own-sail.png);
    background-position: center;
    background-position-x: 5px;
    background-size: 40px;
    padding-left: 50px;
    width: 165px;
    height: 50px;
    line-height: 20px;
}
.divTabCahierEquipmentChoiceContainer .NormalButtons:nth-child(2) {
    background-image: url(../../../assets/navigations/icons/sail.png);
    background-blend-mode: exclusion;
}

.divTabCahierEquipmentChoiceContainer > div:nth-child(4) {
    text-align: center;
}

.divTabCahierEquipmentChoiceContainer > div:nth-child(4) .Buttons.buttonNonActive {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: lightgray;
}

/* IDEA IS FROM  https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
