#divTabCahierEquipmentElements {
    padding-right: 120px; /*OK ? $$*/
}

.divTabCahierEquipmentElementsContainer {
    position: relative;
    left: 2.5%;
    margin-top: 30px;
    background-color: transparent;
    width: 95%;
    min-height: 100px;
    text-align: center;
}

.divTabCahierEquipmentElementsContainer > div {
    display: inline-block;
    position: relative;
    top: 0px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 10px;
    width: 215px;
    height: 300px;
}

.divTabCahierEquipmentElementsContainer > div.selected > div:first-child {
    border: 5px solid var(--accent);
}
.divTabCahierEquipmentElementsContainer > div.selected.used > div:first-child {
    border: 5px solid red;
}

.divTabCahierEquipmentElementsContainer > div > div:nth-child(2) {
    transition: opacity 0.1s linear 0s;
}

.divTabCahierEquipmentElementsContainer > div.used {
    opacity: 0.4;
}
.divTabCahierEquipmentElementsContainer > div.selected.used {
    opacity: 1;
}

.divTabCahierEquipmentElementsContainer > div.used > div > div {
    color: gray;
}
.divTabCahierEquipmentElementsContainer > div.selected.used > div > div {
    color: black;
}

.divTabCahierEquipmentElementsContainer > div.used > div:nth-child(2) {
    position: absolute;
    top: 90px;
    left: 10px;
    transform: rotate(-45deg);
    opacity: 1;
    transition: opacity 0.1s linear 0s;
    box-shadow: none;
    border: 0px !important;
    border-radius: 0px;
    background-color: transparent;
    width: 200px;
    height: 50px;
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 25px;
}

.divTabCahierEquipmentElementsContainer > div.selected.used > div:nth-child(2) {
    opacity: 0;
}

.divTabCahierEquipmentElementsContainer > div.used > div:nth-child(3) {
    position: absolute;
    top: 115px;
    left: 35px;
    transform: rotate(-45deg);
    opacity: 1;
    transition: opacity 0.1s linear 0s;
    box-shadow: none;
    border: 0px !important;
    border-radius: 0px;
    background-color: transparent;
    width: 200px;
    height: 50px;
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 15px;
}

.divTabCahierEquipmentElementsContainer > div.selected.used > div:nth-child(3) {
    opacity: 0;
}

.divTabCahierEquipmentElementsContainer > div > div:first-child {
    position: absolute;
    /*border: 2px solid black;*/
    top: 0px;
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    margin: 0px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: 5px solid transparent;
    border-radius: 24px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.divTabCahierEquipmentElementsContainer > div:hover > div:first-child {
    top: 5px;
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.5);
    /*background-color: lightgray;*/
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(1) {
    position: absolute;
    right: 0px;
    bottom: 70px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    background-color: white;
    padding-top: 8px;
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(2) {
    display: table;
    position: absolute;
    top: 220px;
    left: 0px;
    opacity: 1;
    z-index: 3;
    transition: background-color 0.1s linear 0s;
    box-sizing: border-box;
    border-top: 2px solid gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 70px;
    text-align: right;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(2) > div:nth-child(1) {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    transition: all 0.1s linear 0s;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    width: 200px;
    height: 25px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(3) {
    position: absolute;
    z-index: 0;
    transition: all 0.2s linear 0s;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    background-position: center;
    background-size: 220px;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.divTabCahierEquipmentElementsContainer > div:hover > div > div:nth-child(3) {
    background-size: 240px;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(4) {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    transition: all 0.2s linear 0s;
    background-image: url(../../../assets/navigations/icons/chose.png);
    background-position: center;
    background-size: 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.divTabCahierEquipmentElementsContainer > div:hover > div:first-child > div:nth-child(4) {
    background-size: 218px;
}

.divTabCahierEquipmentElementsContainer > div.selected:hover > div > div:nth-child(4) {
    background-image: url(../../../assets/navigations/icons/chose-blue.png);
    background-size: 100px;
}
.divTabCahierEquipmentElementsContainer > div.selected > div > div:nth-child(4) {
    background-image: url(../../../assets/navigations/icons/chose-blue.png);
    background-size: 200px;
}

.divTabCahierEquipmentElementsContainer > div.selected.used:hover > div > div:nth-child(4) {
    background-image: url(../../../assets/navigations/icons/chose-red.png);
    background-size: 100px;
}
.divTabCahierEquipmentElementsContainer > div.used.selected > div > div:nth-child(4) {
    background-image: url(../../../assets/navigations/icons/chose-red.png);
    background-size: 200px;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(5) {
    position: absolute;
    top: 5px;
    left: 5px;
    transition:
        background-color 0.5s ease 0s,
        background-size 0.1s linear 0s;
    border-radius: 30px;
    background-image: url(../../../assets/navigations/icons/info.png);
    background-position: center;
    background-size: 0px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.divTabCahierEquipmentElementsContainer > div:hover > div > div:nth-child(5) {
    background-size: 30px;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(5):hover {
    background-color: lightgray;
}

.divTabCahierEquipmentElementsContainer > div > div > div:nth-child(6) {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    background-image: url(../../../assets/navigations/icons/license.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#divTabCahierEquipmentElementsButtonsContainer {
    position: relative;
    left: 2.5%;
    box-sizing: border-box;
    border-left-width: 130px;
    border-left-style: solid;
    border-color: transparent;
    background-color: transparent;
    width: 95%;
    min-height: 10px;
    text-align: right;
}

#divTabCahierEquipmentElementsButtonsContainer > div {
    display: inline-block;
    position: relative;
    top: 0px;
    vertical-align: top;
    margin-bottom: 5px;
    background-color: transparent;
    height: 40px; /*important ?*/
}

#divTabCahierEquipmentElementsButtonsContainer > div > div {
    position: absolute;
}

#divTabCahierEquipmentElementsButtonsContainer > div select {
    position: absolute;
    margin-left: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;
    padding-left: 10px;
}

#divTabCahierEquipmentElementsSelectSort {
    z-index: 2;
    transition: all 0.1s linear 0s;
}

#divTabCahierEquipmentElementsSelectSort:hover {
    margin-top: 4px;
}

#divTabCahierEquipmentElementsSelectSort > div {
    position: absolute;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../../../assets/navigations/icons/sort-asc.png);
    background-color: white;
    width: 30px;
}

#divTabCahierEquipmentElementsSelectSort > div:hover {
    margin-top: 0px;
    background-position-x: 0px;
    background-position-y: -1px;
    background-size: 40px;
}

#divTabCahierEquipmentElementsSelectCategorie {
    z-index: 2;
    transition: all 0.1s linear 0s;
}

#divTabCahierEquipmentElementsSelectCategorie:hover {
    margin-top: 4px;
}

#divTabCahierEquipmentElementsSelectCategorie > div {
    position: absolute;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../../../assets/navigations/icons/chose.png);
    background-color: white;
    width: 30px;
}

#divTabCahierEquipmentElementsSelectCategorie > div:hover {
    margin-top: 0px;
}

#divTabCahierEquipmentElementsSelectPageSize {
    z-index: 2;
    transition: all 0.1s linear 0s;
}

#divTabCahierEquipmentElementsSelectPageSize:hover {
    margin-top: 4px;
}

#divTabCahierEquipmentElementsSelectPageSize > div {
    position: absolute;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: url(../../../assets/navigations/icons/eye.png);
    background-color: white;
    width: 30px;
}

#divTabCahierEquipmentElementsSelectPageSize > div:hover {
    margin-top: 0px;
}

#inputTabCahierEquipmentElementsInputSearch {
    position: relative;
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: url(../../../assets/navigations/icons/search-black.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-color: white; /*rgb(237,237,237);*/
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 40px;
    width: 120px;
    height: 34px;
    color: black;
    font-size: 20px;
    /*text-align: center;*/
}

#inputTabCahierEquipmentElementsInputSearch::placeholder {
    color: gray;
}

#inputTabCahierEquipmentElementsInputSearch:focus {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
    border-color: var(--accent);
    background-image: url(../../../assets/navigations/icons/search-blue.png);
    width: 200px;
}

#inputTabCahierEquipmentElementsInputSearch:hover {
    margin-top: 4px;
}
