.PopUpBookableHistoryContainer {
    height: 700px;
}
.PopUpBookableHistoryContainerScroll {
    position: relative;
    height: 630px;
    overflow-y: auto;
}
.PopUpBookableHistoryContainerScroll::-webkit-scrollbar {
    width: 3px;
}
.PopUpBookableHistoryContainerScroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}
.PopUpBookableHistoryContainerScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: darkgray;
}
.PopUpYear {
    position: relative;
}
.PopUpYear > div:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 8px;
    background-color: gray;
    width: 8px;
    height: 8px;
}
.PopUpYear > div:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    color: gray;
    font-size: 18px;
}
.PopUpYear > div:nth-child(3) {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 20px;
    height: 20px;
    color: gray;
    font-size: 18px;
}
.PopUpYear > div:nth-child(3) > div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 6px;
    padding-left: 5px;
    font-size: 13px;
    text-align: center;
}

.PopUpMonth {
    position: relative;
}
.PopUpMonth > div:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 3px;
    margin-left: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    width: 10px;
    height: 20px;
}
.PopUpMonth > div:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
.PopUpMonth > div:nth-child(3) {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 15px;
    min-width: 30px;
    height: 30px;
}
.PopUpMonth > div:nth-child(3) > div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 6px;
    padding-left: 5px;
    font-size: 20px;
    text-align: center;
}

.PopUpDay {
    position: relative;
    margin-bottom: 35px;
}
.PopUpDay > div:nth-child(1) {
    margin-bottom: 4px;
}

.PopUpDay > div:nth-child(1) > div:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 40px;
    border-radius: 3px;
    background-color: black;
    width: 6px;
    height: 6px;
}

.PopUpDay > div:nth-child(1) > div:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.PopUpDay > div:nth-child(1) > div:nth-child(3) {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    opacity: 0;
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 20px;
    height: 20px;
}

.PopUpDay > div:nth-child(1) > div:nth-child(3) > div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 6px;
    padding-left: 5px;
    font-size: 12px;
    text-align: center;
}

.PopUpSortie {
    position: relative;
    /*background-color:red;*/
    margin-bottom: 5px;
    margin-left: 70px;
    height: 40px;
}

.PopUpSortie > div {
    display: inline-block;
    vertical-align: middle;
}

.PopUpSortie > div:nth-child(1) {
    transition: all 0.1s linear 0s;
    width: 50px;
    color: gray;
    text-align: center;
}
.PopUpSortie:hover > div:nth-child(1) {
    color: black;
}

.PopUpSortie > div:nth-child(2) {
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    width: 550px;
    height: 40px;
    color: var(--fontBlack);
}
.PopUpDay:nth-child(2n) > .PopUpSortie:nth-child(2n + 1) > div:nth-child(2) {
    background-color: white;
}
.PopUpDay:nth-child(2n + 1) > .PopUpSortie:nth-child(2n) > div:nth-child(2) {
    background-color: white;
}
.PopUpSortie:hover > div:nth-child(2) {
    background-color: lightgray !important;
}

.PopUpSortie > div:nth-child(2) > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.PopUpSortie > div:nth-child(2) > div:nth-child(1) {
    width: 240px;
    font-size: 20px;
}
.PopUpSortie > div:nth-child(2) > div:nth-child(1) > div {
    background-size: 30px;
    background-position-x: 2.5px;
    background-position-y: 2.5px;
}

.PopUpSortie > div:nth-child(2) > div:nth-child(2) {
    width: 150px;
    font-size: 20px;
}

.PopUpSortie > div:nth-child(2) > div:nth-child(3) {
    width: 150px;
}

.PopUpBookableHistoryContainerScroll .Buttons {
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    background-image: url(../../../assets/navigations/icons/eye.png);
    width: 150px;
}
