@use 'sass:map';
@use '@angular/material' as mat;
@mixin rich-text($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    .rich-text {
        line-height: 1.6em;
    }

    .rich-text a,
    a.app-link {
        cursor: pointer;
        border-bottom: 2px solid mat.m2-get-color-from-palette($primary);
        color: inherit;
        text-decoration: none;

        &:hover {
            color: mat.m2-get-color-from-palette($primary);
        }
    }
}
