/**
 * !!! NEVER INCLUDE THIS FILE IN A SCSS FILE
 * See source doc here https://github.com/angular/material2/tree/master/src/lib/core/theming
 */
// Import theming files full relative way or karma will display warning
@use '~@angular/material' as mat;
@import '~@ecodev/natural/theming/natural.theme';
@import '../app/shared/components/boot-loader/boot-loader.theme';
@import '../app/app.theme';
@import '../app/door/door.theme';
@import 'rich-text';
@import '../app/shared/components/money/money.theme';
@import '../app/admin/admin/admin.theme';
@import '../app/admin/configurations/support/support.theme';
@import '../app/shared/components/transaction-amount/transaction-amount.theme';

// Include material core (only once !)
@include mat.core();

// Include components themes
@mixin components-theme($theme) {
    @include app($theme);
    @include natural($theme);
    @include boot-loader($theme);
    @include door($theme);
    @include money($theme);
    @include transaction-amount($theme);
    @include rich-text($theme);
    @include support($theme);
    @include admin($theme);
}

$mat-ichtus: (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #3176a2,
    // logo's color
    600: #1e88e5,
    700: #1976d2,
    800: #1565c0,
    900: #0d47a1,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #2962ff,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: rgba(white, 0.87),
        900: rgba(white, 0.87),
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

// Configure themes
$ichtus-blue: mat.define-palette($mat-ichtus);
$ichtus-orange: mat.define-palette(mat.$orange-palette);
$ichtus-red: mat.define-palette(mat.$red-palette);
$ichtus-theme: mat.define-light-theme($ichtus-blue, $ichtus-orange, $ichtus-red);

@include mat.all-component-themes($ichtus-theme);
@include components-theme($ichtus-theme);
