@if (loaded) {
    <div [formGroup]="form">
        <div class="nat-vertical">
            <div class="nat-horizontal nat-align nat-gap-10">
                <natural-select-enum
                    enumName="Relationship"
                    formControlName="familyRelationship"
                    placeholder="Rôle dans la famille"
                    (selectionChange)="update()"
                />
                <button
                    mat-stroked-button
                    color="warn"
                    [disabled]="!form.enabled || !service.canLeaveFamily(user())"
                    (click)="leaveFamily()"
                >
                    Détacher du ménage
                </button>
            </div>
            <mat-divider class="nat-margin-bottom" />
            <h2 class="mat-font-title-lg">Compte</h2>
            <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput formControlName="email" (change)="update()" />
                <mat-icon matIconPrefix naturalIcon="alternate_email" />
                <mat-error>{{ form.get('email')?.errors | errorMessage }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput formControlName="login" (change)="update()" />
                <mat-icon matIconPrefix naturalIcon="person" />
                @if (form.get('login')?.hasError('invalid')) {
                    <mat-error>{{ form.get('login')?.getError('invalid') }}</mat-error>
                } @else {
                    <mat-error>{{ form.get('login')?.errors | errorMessage }}</mat-error>
                }
            </mat-form-field>
            <mat-divider class="nat-margin-bottom" />
            <h2 class="mat-font-title-lg">Coordonnées</h2>
            <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstName" (change)="update()" />
                <mat-error>{{ form.get('firstName')?.errors | errorMessage }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nom de famille</mat-label>
                <input matInput formControlName="lastName" (change)="update()" />
                <mat-error>{{ form.get('lastName')?.errors | errorMessage }}</mat-error>
            </mat-form-field>
            <natural-select-enum
                enumName="Sex"
                formControlName="sex"
                placeholder="Genre"
                (selectionChange)="update()"
            />
            <app-address [form]="form" [vertical]="true" (addressChange)="update()" />
            <mat-form-field>
                <mat-label>Téléphone fixe</mat-label>
                <input matInput formControlName="phone" (change)="update()" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Téléphone mobile</mat-label>
                <input matInput formControlName="mobilePhone" (change)="update()" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date de naissance</mat-label>
                <input matInput formControlName="birthday" [matDatepicker]="picker" (dateChange)="update()" />
                <mat-datepicker-toggle matIconSuffix [for]="picker" />
                <mat-datepicker #picker />
            </mat-form-field>
            <!-- Newsletter -->
            <mat-checkbox formControlName="receivesNewsletter" (change)="update()">
                Abonné à la newsletter</mat-checkbox
            >
        </div>
        @if (form.get('remarks')?.value) {
            <div>
                <mat-divider class="nat-margin-vertical" />
                <div class="mat-font-title-sm nat-bold">Remarques</div>
                <div class="line-break">{{ form.get('remarks')?.value }}</div>
            </div>
        }
        @if (isUpdatePage() && data.model.permissions.update) {
            <span matTooltip="Demande déjà envoyée" [matTooltipDisabled]="!userDeletionRequested.has(data.model.id)">
                <button
                    mat-stroked-button
                    color="warn"
                    i18n
                    [disabled]="userDeletionRequested.has(data.model.id)"
                    (click)="requestUserDeletion()"
                >
                    Supprimer
                </button>
            </span>
        }
        @if (!isUpdatePage()) {
            <natural-fixed-button icon="save" [color]="form.valid ? 'accent' : 'warn'" (click)="create(false)" />
        }
    </div>
}
