.formations {
    gap: 50px;
}

app-bookable-price {
    height: 36px;
    line-height: 36px;

    &:empty {
        display: none;
    }
}

.inactive {
    opacity: 0.5;
}

.description {
    word-break: break-word;
}
