<div class="nat-vertical nat-expand">
    <h1 class="mat-font-headline-lg text-center">Nouvelle sortie</h1>
    <div class="nat-vertical nat-gap nat-md-horizontal">
        <div class="nat-vertical nat-gap-30 nat-sm-horizontal nat-center">
            <app-card [file]="bookable?.image">
                <div class="nat-vertical nat-gap-10 nat-center">
                    @if (!bookable?.image) {
                        <div class="card-illustration nat-padding">
                            <natural-avatar initials="?" [size]="160" />
                        </div>
                    }
                    <h2 class="mat-font-title-lg">Matériel</h2>
                    <div class="nat-horizontal nat-center nat-gap-10">
                        <div class="mat-font-title-sm nat-bold nat-expand">
                            {{ bookable?.name || 'Mon propre matériel' }}
                        </div>
                        @if (bookable) {
                            <mat-divider [vertical]="true" />
                        }
                        <div class="mat-font-title-sm nat-bold">{{ bookable?.code }}</div>
                    </div>
                </div>
            </app-card>

            <app-card>
                <div class="card-illustration nat-padding">
                    @if (!!booking.owner) {
                        <natural-avatar [initials]="booking.owner.name" [gravatar]="booking.owner.email" [size]="160" />
                    }
                    @if (!booking.owner) {
                        <natural-avatar initials="Invité" [size]="160" />
                    }
                </div>

                <div class="nat-vertical nat-gap-10 nat-center">
                    <h2 class="mat-font-title-lg">Responsable</h2>
                    <div>
                        <span class="mat-font-title-sm nat-bold nat-no-margin">{{ booking.owner.name }}</span>
                    </div>
                </div>
            </app-card>
        </div>

        <div class="nat-md-expand nat-md-gap-0 nat-md-vertical nat-gap nat-sm-horizontal nat-vertical">
            <div class="nat-sm-expand nat-vertical">
                <div>
                    <mat-form-field>
                        <mat-label>Nombre de participants</mat-label>
                        <input
                            #participantCount="ngModel"
                            matInput
                            type="number"
                            step="1"
                            min="1"
                            max="100"
                            [required]="true"
                            [(ngModel)]="booking.participantCount"
                        />
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <mat-label>Destination</mat-label>
                    <input matInput [(ngModel)]="booking.destination" />
                </mat-form-field>
            </div>

            <div class="nat-sm-expand nat-vertical">
                <mat-form-field>
                    <mat-label>Heure estimée de retour</mat-label>
                    <input matInput [(ngModel)]="booking.estimatedEndDate" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Remarques</mat-label>
                    <textarea
                        matInput
                        [cdkTextareaAutosize]="true"
                        [cdkAutosizeMinRows]="5"
                        [cdkAutosizeMaxRows]="5"
                        [(ngModel)]="booking.startComment"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<natural-fixed-button
    icon="check"
    [disabled]="participantCount.invalid ?? true"
    (click)="participantCount.valid && createBooking()"
/>
