:host {
    display: flex;
    flex: 1;
    padding: 20px 20px 100px 20px;
    overflow: auto;

    & > div {
        margin: auto;
        max-width: 1300px;
    }
}

app-card {
    min-width: 280px;
}
