#divTabCahier {
    top: 0px;
    opacity: 1;
    z-index: 5;
}

#divTabCahierTables {
    /*background-color: lightcyan;*/
    margin-bottom: 50px;
    margin-left: 2.5%;
    width: 95%;
    min-height: 200px;
}

.BookingsTable {
    display: table;
    position: relative;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    min-height: 0px;
}

#divTabCahierActualize {
    position: absolute;
    top: 65px;
    right: 0px;
    z-index: 2;
    transition: all 1s ease 0s;
    cursor: pointer;
    border-radius: 20px;
    background-image: url(../../../assets/navigations/icons/actualize.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    text-align: right;
}
#divTabCahierActualize:hover {
    transform: rotate(360deg);
    background-color: lightgray;
}

#divTabCahierLogin {
    position: absolute;
    top: 95px;
    right: 0px;
    z-index: 2;
    transition: all 1s ease 0s;
    cursor: pointer;
    border-radius: 20px;
    background-image: url(../../../assets/navigations/icons/password-black.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    text-align: right;
}

#divTabCahierLogin:hover {
    background-color: lightgray;
}

.TableTopBar {
    margin-bottom: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: transparent;
}

.TableTopBar > div {
    transition: all 0.3s linear 0s;
    box-sizing: border-box;
    border-top: 10px solid transparent;
    border-right: 0px solid gray;
    border-bottom: 4px solid transparent;
    border-left: 0px solid gray;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-bottom-color: red !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    padding-right: 30px;
    padding-left: 5px;
    color: gray;
    font-size: 17px;
}

#divTabCahierTableActualBookings .TableTopBar > div:last-child:hover {
    background-color: white;
}

#divTabCahierTableActualBookings .TableTopBar > div:last-child:hover > div:nth-child(1) {
    background-size: 0px;
}

.TableTopBar > div::first-line {
    line-height: 35px;
}

.TableTopBar > div:hover {
    border-bottom: 4px outset black;
    background-color: lightgray;
}

.TableTopBar > div > div:nth-child(1) {
    position: absolute;
    right: 0px;
    bottom: 5px;
    transition: all 0.1s linear 0s;
    background-image: url(../../../assets/navigations/icons/sort-asc.png);
    background-position-x: 15px;
    background-position-y: 15px;
    background-size: 0px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    /*background-color: red;*/
}

.TableTopBar > div:hover > div:nth-child(1) {
    background-position-x: 7.5px;
    background-position-y: 7.5px;
    background-size: 15px;
}

.TableTopBar > div * {
    display: inline-block;
    vertical-align: middle;
}

.TableTopBar img {
    filter: brightness(0.5);
    margin-right: 5px;
    width: 25px;
}

.BookingsTopBarSorted {
    background-color: rgb(235, 235, 235) !important;
    /*border-bottom: 4px outset black !important;*/
}

.BookingsTopBarSorted:hover {
    background-color: lightgray !important;
}

.BookingsTopBarSorted > div {
    background-position-x: 5px !important;
    background-position-y: 5px !important;
    background-size: 20px !important;
}

@keyframes OpacityAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.TableEntries {
    display: table-row;
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    background-color: white;
    min-height: 50px;
    color: var(--fontBlack);
    font-size: 16px;
    /*animation: OpacityAnimation 1s linear;*/
}
/*.TableEntries:nth-child(2n+1) .Buttons {
        background-color:black;
    }*/

.TableEntries .Buttons {
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    box-sizing: border-box;
    margin-right: 4px;
    margin-bottom: 0px;
    background-color: red;
    width: 100px;
    height: 40px;
    color: white !important;
    font-size: 20px;
    /*margin-top: 0px;*/
}

.TableEntries .Buttons::after {
    content: 'Terminer';
}

.TableEntries .Buttons:hover {
    background-color: rgb(137, 16, 16);
}

.TableEntries:nth-child(2n) {
    background-color: rgb(235, 235, 235);
}

.TableEntries:last-child > div:last-child {
    border-right-width: 0px;
    border-bottom-right-radius: 10px;
}

.TableEntries:last-child > div:first-child {
    border-left-width: 0px;
    border-bottom-left-radius: 10px;
}
.TableEntries:last-child > div {
    border-bottom-width: 0px;
}

.TableEntries > div {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    /*display: inline-block;*/
    width: 100px;
    height: 50px;
    /*cursor:pointer;*/
}

.TableEntries > div:nth-child(1) {
    width: 1%;
    text-align: center;
}

.TableEntriesAlert {
    position: absolute;
    vertical-align: middle;
    margin-top: -2.5px;
    margin-left: -40px;
    background-image: url(../../../assets/navigations/icons/alert.png);
    background-position: top left;
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

#divTabCahierTableActualBookings .TableEntries > div:nth-child(2) {
    width: 0.01%;
    text-align: center;
}
#divTabCahierTableActualBookings .TableEntries > div:nth-child(3) {
    width: 20%;
}
#divTabCahierTableActualBookings .TableEntries > div:nth-child(4) {
    width: 32%;
}
#divTabCahierTableActualBookings .TableEntries > div:nth-child(5) {
    width: 15%;
}
#divTabCahierTableActualBookings .TableEntries > div:last-child {
    width: 1%;
}

.BookingsTable:not(#divTabCahierTableActualBookings) .TableEntries > div:nth-child(2) {
    width: 1%;
    text-align: center;
}
.BookingsTable:not(#divTabCahierTableActualBookings) .TableEntries > div:nth-child(3) {
    width: 0.1%;
    text-align: center;
}
.BookingsTable:not(#divTabCahierTableActualBookings) .TableEntries > div:nth-child(4) {
    width: 20%;
}
.BookingsTable:not(#divTabCahierTableActualBookings) .TableEntries > div:nth-child(4) > div {
    display: inline-block;
    vertical-align: middle;
}
.BookingsTable:not(#divTabCahierTableActualBookings) .TableEntries > div:nth-child(5) {
    width: 35%;
}

.TableEntriesHover:hover {
    background-color: lightgray;
}

.TableEntriesBookableBox {
}

.TableEntriesBookableBox > div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: all 0.1s linear 0s;
    cursor: pointer;
    margin-top: 5px;
    /*background-color:rgba(0, 0, 0, 0.04);*/
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 200px;
}
.TableEntriesBookableBox > div:hover {
    background-color: rgba(0, 0, 0, 0.14);
}
.TableEntriesBookableBox > div > div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.TableEntriesBookableBox > div > div:nth-child(3n + 1) {
    border-radius: 5px;
    background-size: 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}
.TableEntriesBookableBox > div > div:nth-child(3n + 2) {
    margin: 5px;
    font-weight: 300;
    font-size: 20px;
}
.TableEntriesBookableBox > div > div:nth-child(3n + 3) {
    font-size: 16px;
}

.TableEntriesImg {
    margin-right: 5px;
    background-size: 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

#divTabCahierPopUp {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -350px;
    width: 700px;
    height: 450px;
}

#divTabCahierPopUp > div:nth-child(1) {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5;
    z-index: 4;
    transition: all 0.1s linear 0s;
    background-image: url(../../../assets/navigations/icons/cancel.png);
    background-position-x: right;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#divTabCahierPopUp > div:nth-child(1):hover {
    opacity: 1;
}

.radioContainer {
    position: absolute;
    top: 5px;
    left: 350px;
    background-color: transparent;
    width: 290px;
    min-height: 10px;
}

.radioContainer > div {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radioContainer > .radioSelected {
    cursor: initial;
}

.radioContainer > .radioSelected > div:nth-child(1) {
    background-color: white;
}

.radioContainer > .radioSelected > div:nth-child(2) {
    color: var(--accent);
}

.radioContainer > .radioSelected > div:nth-child(1) > div {
    background-color: var(--accent);
}

.radioContainer > div > div {
    display: inline-block;
    vertical-align: middle;
}

.radioContainer > div > div:nth-child(1) {
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightgray;
    width: 20px;
    height: 20px;
}

.radioContainer > div > div:nth-child(1) > div {
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all 0.1s linear 0s;
    border-radius: 10px;
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.radioContainer > div > div:nth-child(2) {
    transition: all 0.1s linear 0s;
    margin-right: 20px;
    margin-left: 5px;
    background-color: transparent;
    min-width: 10px;
    height: 20px;
    font-size: 18px;
}

.PopUpBookingsListTable {
    display: table;
    position: relative;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

.PopUpBookingsListRow {
    display: table-row;
    position: relative;
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 50px;
}

.PopUpBookingsListRow:nth-child(2n) {
    border: 2px solid black;
    background-color: white;
}

.PopUpBookingsListRow:hover {
    background-color: lightgray;
}

.PopUpBookingsListRow > div {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    font-size: 20px;
}

.PopUpBookingsListRow > div:first-child {
    padding-left: 10px;
}

#divTabCahierAlertButtonsLegend {
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

#divTabCahierAlertButtonsLegend div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 20px;
    background-image: url(../../../assets/navigations/icons/alert.png);
    background-position: center;
    background-size: 25px;
    width: 25px;
    height: 25px;
}
#divTabCahierAlertButtonsLegend div:first-child {
    filter: grayscale(1) invert(1);
}
#divTabCahierAlertButtonsLegend div:nth-child(2) {
    filter: grayscale(1);
}

#btnModify {
    position: absolute;
    transform: translate(0px, 5px);
    opacity: 1;
    transition: opacity 0.3s linear 0s;
    background-image: url(../../../assets/navigations/icons/sail.png);
    background-position-y: 11px;
    background-size: 30px;
    /*background-blend-mode: exclusion;*/
    background-color: orange;
    padding-top: 4px;
    padding-right: 12px;
    width: 164px;
    height: 50px;
    color: white;
    font-size: 20px;
}

#btnModify:hover {
    background-color: darkorange;
}

#btnEditBooking {
    position: absolute;
    right: 10px;
    transform: translate(0px, 5px);
    /*background-blend-mode: exclusion;*/
    opacity: 1;
    transition:
        opacity 0.3s linear 0s,
        background-color 0.1s linear 0s;
    background-image: url(../../../assets/navigations/icons/edit-white.png);
    background-position-x: 10px;
    background-position-y: 14px;
    background-size: 26px;
    background-color: gray;
    padding-top: 15px;
    padding-right: 12px;
    width: 190px;
    height: 39px;
    color: white;
    font-size: 20px;
}

#btnEditBooking.buttonNonActive {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: lightgray;
}

#btnEditBooking:hover {
    background-color: rgb(88, 88, 88);
}

#btnEditBooking.buttonNonActive:hover {
    background-color: lightgray;
}

@keyframes InputAnimation {
    from {
        right: -200px;
    }

    to {
        right: 2.5%;
    }
}
#divTabCahierTables > input {
    position: absolute;
    right: 2.5%;
    animation: InputAnimation 0.4s ease-out 1 normal;
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    margin-top: 40px;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: none;
    background-image: url(../../../assets/navigations/icons/search-black.png);
    background-position-x: 65px;
    background-position-x: 0px;
    background-position-y: 4px;
    background-position-y: 0px;
    background-size: 40px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 245);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    width: 120px;
    height: 34px;
    color: black;
    font-size: 20px;
    /*text-align: center;*/
}

#divTabCahierTables > input::placeholder {
    color: gray;
}

#divTabCahierTables > input:focus {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
    border-color: var(--accent);
    background-image: url(../../../assets/navigations/icons/search-blue.png);
    background-color: white;
    width: 200px;
}

#divTabCahierTables > input:hover {
    background-color: white;
    /*margin-top: -5px;*/
}

@keyframes TextAnimation {
    from {
        margin-left: -200px;
    }

    to {
        margin-left: 0%;
    }
}
.BookingsTableText {
    animation: TextAnimation 0.4s ease-out 1 normal;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 25px;
}
.BookingsTableTextNoBooking {
    animation: TextAnimation 0.4s ease-out 1 normal;
    margin-top: 20px;
    color: gray;
    font-size: 20px;
}
