#divTabCahierTopList {
    position: absolute;
    top: 0px;
    right: 2.5%;
    transform: translate(0px);
    opacity: 1;
    z-index: 4;
    transition: transform 0.3s linear 0s;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    border-top: 180px solid transparent;
    border-bottom: 150px solid transparent;
    width: 110px;
    height: 100%;

    /*background-color:blue;*/
    /*position: absolute;
    top: 180px;
    max-height: 0px;
    min-height: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    transform: translate(0px);
    transition: transform 0.3s linear 0s;
    z-index: 4;
    opacity: 1;*/
}

#divTabCahierTopList > div:first-child {
    left: 2.5%;
    opacity: 0;
    transition: opacity 0.3s linear 0s;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 2px;
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    overflow-y: scroll;
    /*line-height: 92px;*/
    text-align: center;
}

#divTabCahierTopList > div:first-child > div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.1s linear 0s;
    margin: 7px 5px 7px 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: red;
    background-color: white;
    width: 80px;
    height: 90px;
}
#divTabCahierTopList > div:first-child > div:hover {
    background-color: rgb(235, 235, 235);
}

#divTabCahierTopList > div:first-child > div:hover > div:nth-child(3) {
    background-color: rgb(235, 235, 235);
}

#divTabCahierTopList > div:first-child > div.PersonalSail > div {
    cursor: unset !important;
}

#divTabCahierTopList > div:first-child > div.PersonalSail:hover {
    background-color: white;
}

#divTabCahierTopList > div:first-child > div.PersonalSail:hover > div:nth-child(3) {
    background-color: white;
}

#divTabCahierTopList > div:first-child > div > div:first-child {
    position: absolute;
    transition: all 0.1s linear 0s;
    cursor: pointer;
    border-radius: 5px;
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#divTabCahierTopList > div:first-child > div > div:nth-child(2) {
    position: absolute;
    top: -4px;
    right: -6px;
    opacity: 1;
    z-index: 2;
    transition: all 0.1s linear 0s;
    cursor: pointer !important;
    border-radius: 17px;
    background-image: url(../../../assets/navigations/icons/bin-open.png);
    /*top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    border-radius: 15px;*/
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: dimgray;
    width: 34px;
    height: 34px;
}
#divTabCahierTopList > div:first-child > div > div:nth-child(2):hover {
    background-image: url(../../../assets/navigations/icons/bin-closed.png);
    background-color: gray;
}

#divTabCahierTopList > div:first-child > div > div:nth-child(3) {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: background-color 0.1s;
    cursor: pointer;
    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    background-color: white;
    background-color: white;
    width: 50px;
    height: 30px;
    color: var(--fontBlack);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

#divTabCahierTopList > div:first-child > div > div:nth-child(4) {
    position: absolute;
    bottom: 2px;
    left: 2px;
    cursor: pointer;

    background-image: url(../../../assets/navigations/icons/alert.png);
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

#divTabCahierTopList > div:nth-child(2) {
    opacity: 0;
    transition: all 0.1s linear 0s;
    margin-top: 10px;
    margin-left: 0px;
    background-position-x: center;
    background-position-y: 38px;
    padding-right: 10px;
    width: 90px;
    height: 67px;
    font-size: 26.8px;
}
