@use 'sass:map';
@use '@angular/material' as mat;
@mixin support($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    app-support {
        a {
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-color: mat.get-color-from-palette($accent);

            color: mat.get-color-from-palette($foreground, text);
            text-decoration: none;

            &:hover {
                border-color: mat.get-color-from-palette($accent);
                color: mat.get-color-from-palette($accent);
            }
        }

        // Copied from .mat-headline
        h1 {
            margin: 0 0 16px;
            font:
                400 24px/32px Roboto,
                'Helvetica Neue',
                sans-serif;
        }

        // Copied from .mat-title
        h2 {
            margin: 0 0 16px;
            font:
                500 20px/32px Roboto,
                'Helvetica Neue',
                sans-serif;
        }
    }
}
