@mixin support($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-support {

        a {

            text-decoration: none;
            border-bottom-width: 2px;
            border-bottom-style: solid;

            color: mat-color($foreground, text);
            border-color: mat-color($accent);

            &:hover {
                color: mat-color($accent);
                border-color: mat-color($accent)
            }

        }

        // Copied from .mat-headline
        h1 {
            font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
            margin: 0 0 16px;
        }

        // Copied from .mat-title
        h2 {
            font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
            margin: 0 0 16px;
        }

    }

}
