<mat-dialog-content>
    @if (!readonly && activable) {
        <mat-slide-toggle [(ngModel)]="active" (change)="update()"> Actif </mat-slide-toggle>
    }
    @if (!readonly) {
        @defer {
            <natural-editor [(ngModel)]="text" />
        }
    }
    @if (readonly) {
        <div class="content" [innerHTML]="text"></div>
    }

    @if ((permissionsService.crud | async)?.configuration.create && !readonly) {
        <natural-fixed-button icon="save" [disabled]="updating" (click)="update()" />
    }
</mat-dialog-content>
@if (data?.data?.showCloseButton) {
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
}
