:host {
    padding: 20px;
}

.content {
    padding: 10px;
    margin: auto;
    max-width: 1000px;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
mat-slide-toggle {
    margin-bottom: 30px;
}
