:host {
    padding: 20px;

    .content-wrapper {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .content {
        padding: 10px;
        margin: auto;
        max-width: 1000px;
    }

}
