@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-headline-5 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-horizontal nat-margin-vertical overflow">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    [multipleGroups]="true"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="color">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header natural-3em-column></th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-avatar [bgColor]="element.color" [size]="32" [initials]="element.name" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                matTooltip="Éditer"
                                [label]="element.name"
                                [navigate]="['/admin/bookable-tag', element.id]"
                            />
                        </td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-margin">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if (permissionsService.crud?.bookableTag.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/bookable-tag/new']" />
}
