<div class="detail-body" [formGroup]="form">
    <div class="nat-vertical pageHeader">
        <div class="mat-font-headline-sm nat-gap-5 nat-horizontal nat-align">
            <a matIconButton [routerLink]="['..']">
                <mat-icon naturalIcon="arrow_back" />
            </a>
            @if (!form.get('name')?.value) {
                <span>Nouvelle certification</span>
            }
            @if (form.get('name')?.value) {
                <span class="pageTitle">
                    <span>Certification</span>
                    {{ form.get('name')?.value }}
                </span>
            }
        </div>
    </div>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <input matInput formControlName="name" (change)="update()" />
                        <mat-label>Nom</mat-label>
                        @if (form.get('name')?.hasError('duplicateValue')) {
                            <mat-error>Ce nom est déjà attribué à une certification</mat-error>
                        } @else {
                            <mat-error>{{ form.get('name')?.errors | errorMessage }}</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <mat-divider class="nat-margin-vertical" />

            @if (isUpdatePage()) {
                <div class="nat-vertical nat-md-horizontal nat-gap-horizontal">
                    <div class="nat-expand nat-vertical">
                        <h2 class="mat-font-title-lg">Utilisateurs certifiés</h2>
                        <natural-relations
                            placeholder="Certifier un utilisateur"
                            [main]="data.model"
                            [service]="userService"
                            [filter]="{groups: [{conditions: [{licenses: {have: {values: [data.model.id]}}}]}]}"
                        >
                            <ng-template let-item="item">
                                <div class="nat-horizontal nat-align nat-gap-10">
                                    <natural-table-button [navigate]="['/admin/user/', item.id]" [label]="item.name" />
                                </div>
                            </ng-template>
                        </natural-relations>
                    </div>
                    <div class="nat-expand nat-vertical">
                        <h2 class="mat-font-title-lg">Réservables certifiés</h2>
                        <natural-relations
                            placeholder="Associer à un réservable"
                            [main]="data.model"
                            [service]="bookableService"
                            [filter]="{groups: [{conditions: [{licenses: {have: {values: [data.model.id]}}}]}]}"
                        >
                            <ng-template let-item="item">
                                <div class="nat-horizontal nat-align nat-gap-10">
                                    <natural-table-button
                                        [navigate]="['/admin/bookable/', item.id]"
                                        [label]="item.name"
                                    />
                                </div>
                            </ng-template>
                        </natural-relations>
                    </div>
                </div>
            }

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
