<div class="detail-body" [formGroup]="form">
    <div class="nat-vertical pageHeader">
        <div class="mat-headline-5 nat-no-margin nat-gap-5 nat-horizontal nat-align">
            <a mat-icon-button [routerLink]="['..']">
                <mat-icon naturalIcon="arrow_back" />
            </a>
            @if (!form.get('name')?.value) {
                <span>Nouvelle certification</span>
            }
            @if (form.get('name')?.value) {
                <span class="pageTitle">
                    <span>Certification</span>
                    {{ form.get('name')?.value }}
                </span>
            }
        </div>
    </div>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab id="general" label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <input matInput formControlName="name" (change)="update()" />
                        <mat-label>Nom</mat-label>
                        @if (form.get('name')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                        }
                        @if (form.get('name')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                        @if (form.get('name')?.hasError('duplicateValue')) {
                            <mat-error> Ce nom est déjà attribué à une certification</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <mat-divider class="nat-margin-vertical" />

            @if (isUpdatePage()) {
                <div class="nat-vertical nat-md-horizontal nat-gap-horizontal">
                    <div class="nat-expand nat-vertical">
                        <h2 class="mat-headline-6">Utilisateurs certifiés</h2>
                        <natural-relations
                            placeholder="Certifier un utilisateur"
                            [main]="data.model"
                            [service]="userService"
                            [filter]="{groups: [{conditions: [{licenses: {have: {values: [data.model.id]}}}]}]}"
                        >
                            <ng-template let-item="item">
                                <div class="nat-horizontal nat-align nat-gap-10">
                                    <natural-table-button [navigate]="['/admin/user/', item.id]" [label]="item.name" />
                                </div>
                            </ng-template>
                        </natural-relations>
                    </div>
                    <div class="nat-expand nat-vertical">
                        <h2 class="mat-headline-6">Réservables certifiés</h2>
                        <natural-relations
                            placeholder="Associer à un réservable"
                            [main]="data.model"
                            [service]="bookableService"
                            [filter]="{groups: [{conditions: [{licenses: {have: {values: [data.model.id]}}}]}]}"
                        >
                            <ng-template let-item="item">
                                <div class="nat-horizontal nat-align nat-gap-10">
                                    <natural-table-button
                                        [navigate]="['/admin/bookable/', item.id]"
                                        [label]="item.name"
                                    />
                                </div>
                            </ng-template>
                        </natural-relations>
                    </div>
                </div>
            }

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
