<div class="body padding" [formGroup]="form">
    <div fxLayout="column" fxLayoutGap="15px">
        <div class="mat-h1">Demande de changement de mot de passe</div>

        <mat-form-field>
            <mat-label>Email ou nom d'utilisateur</mat-label>
            <input matInput formControlName="login" (keyup.enter)="submit()" />
            <mat-icon matIconPrefix naturalIcon="person" />
            @if (form.get('login')?.hasError('required')) {
                <mat-error>Requis</mat-error>
            }
        </mat-form-field>

        <!-- Spacer-->
        <div></div>

        <div fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="sending || !form.valid">
                <mat-icon naturalIcon="send" />
                Envoyer
            </button>
        </div>
    </div>
</div>
