<div class="body nat-padding" [formGroup]="form">
    <div class="nat-vertical nat-gap-15">
        <div class="mat-font-headline-sm">Demande de changement de mot de passe</div>

        <mat-form-field>
            <mat-label>Email ou nom d'utilisateur</mat-label>
            <input matInput formControlName="login" (keyup.enter)="submit()" />
            <mat-icon matIconPrefix naturalIcon="person" />
            <mat-error>{{ form.get('login')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        <!-- Spacer-->
        <div></div>

        <div class="text-center">
            <!-- todo: layout check-->
            <button matButton="filled" [disabled]="sending || !form.valid" (click)="submit()">
                <mat-icon naturalIcon="send" />
                Envoyer un email
            </button>
        </div>
    </div>
</div>
