:host {
    display: flex;
    flex: 1;
    padding: 20px;
    padding-bottom: 100px;
    overflow: auto;

    & > div {
        margin: auto;
        max-width: 1300px;
    }
}

#sector {
    width: 250px;
}

#amount {
    width: 150px;
}
