<mat-card class="nat-vertical nat-no-padding">
    @if (file) {
        <natural-file
            [model]="file"
            [height]="illustrationHeight()"
            [style.border-top-left-radius.px]="4"
            [style.border-top-right-radius.px]="4"
        />
    }

    <div class="illustration">
        <ng-content select=".card-illustration" [style.height.px]="illustrationHeight" />
    </div>

    <div class="nat-padding nat-expand nat-vertical">
        <ng-content />
    </div>
</mat-card>
