:host {
    display: flex;
    flex-direction: row;

    & > mat-card {
        flex: 1;
    }
}

.illustration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-position: center;
    background-size: cover;
}
