.mat-mdc-cell,
.mat-mdc-header-cell,
.mat-mdc-footer-cell {
    padding: 3px;
}

.head-toolbar {
    margin-bottom: 10px;
}

.mat-column-date {
    width: 154px;

    mat-form-field {
        width: 145px;
    }
}

.mat-column-balance {
    width: 110px;

    mat-form-field {
        width: 100px;
    }
}

.mat-column-remove,
.mat-column-isReconciled {
    width: 1em; // Make the column as narrow as possible
}

.mat-column-credit,
.mat-column-debit {
    max-width: 14em;
}

.mat-column-bookable,
.mat-column-transactionTag {
    max-width: 9em;
}

.mat-column-remarks {
    max-width: 9em;
}

mat-form-field,
natural-select {
    width: 100%;
}

/* Smaller text on all form values */
.mat-mdc-form-field.mat-mdc-form-field,
:host ::ng-deep natural-select-hierarchic input,
:host ::ng-deep natural-select input {
    font-size: 14px !important;
}

app-warning {
    margin-block: 1em 2em;
    color: var(--mat-sys-error-container);
}
