@if (form) {
    <div class="nat-vertical responsive-table nat-gap nat-top nat-left" [formGroup]="form">
        <table mat-table formArrayName="rows" [dataSource]="dataSource">
            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns" mat-row></tr>

            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Nom</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error>{{ formArray.at(i).get('name')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="balance">
                <th *matHeaderCellDef mat-header-cell>Montant</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Montant</mat-label>
                        <input matInput type="number" formControlName="balance" step="0.01" />
                        <mat-error>{{ formArray.at(i).get('balance')?.errors | errorMessage }}</mat-error>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="debit">
                <th *matHeaderCellDef mat-header-cell>Compte débit</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <natural-select-hierarchic
                        formControlName="debit"
                        placeholder="Compte débit"
                        [config]="accountHierarchicConfig"
                        [showIcon]="false"
                    />
                </td>
            </ng-container>

            <ng-container matColumnDef="credit">
                <th *matHeaderCellDef mat-header-cell>Compte crédit</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <natural-select-hierarchic
                        formControlName="credit"
                        placeholder="Compte crédit"
                        [config]="accountHierarchicConfig"
                        [showIcon]="false"
                    />
                </td>
            </ng-container>

            <ng-container matColumnDef="isReconciled">
                <th *matHeaderCellDef mat-header-cell style="text-align: left !important">Pointé</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <mat-checkbox formControlName="isReconciled" />
                </td>
            </ng-container>

            <ng-container matColumnDef="transactionTag">
                <th *matHeaderCellDef mat-header-cell>Tag</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <natural-select
                        formControlName="transactionTag"
                        placeholder="Tag"
                        [service]="transactionTagService"
                        [showIcon]="false"
                    />
                </td>
            </ng-container>

            <ng-container matColumnDef="bookable">
                <th *matHeaderCellDef mat-header-cell>Réservable</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <natural-select
                        formControlName="bookable"
                        placeholder="Réservable"
                        [service]="bookableService"
                        [showIcon]="false"
                    />
                </td>
            </ng-container>

            <ng-container matColumnDef="remarks">
                <th *matHeaderCellDef mat-header-cell>Remarque</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Remarques</mat-label>
                        <textarea
                            matInput
                            formControlName="remarks"
                            [cdkTextareaAutosize]="true"
                            [cdkAutosizeMinRows]="1"
                        ></textarea>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="remove">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <button matIconButton color="error" [disabled]="dataSource.data.length < 2" (click)="removeAt(i)">
                        <mat-icon naturalIcon="delete" />
                    </button>
                </td>
            </ng-container>
        </table>
    </div>
}
