<!--
Warning this template is used by two components BookablesComponent and UsageBookablesComponent
-->

@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-headline-5 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [class.nat-hide]="!(route.snapshot.data.showColumnPicker ?? true)"
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-horizontal nat-margin-vertical overflow">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    [multipleGroups]="true"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>
                    @if (!route.snapshot.data.hideTableFooter) {
                        <tr *matFooterRowDef="columnsForTable" mat-footer-row></tr>
                    }

                    <ng-container matColumnDef="image">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header natural-2em-column></th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.image) {
                                <natural-file
                                    [model]="element.image"
                                    [height]="40"
                                    [style.width.px]="40"
                                    [style.borderRadius.px]="40"
                                />
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                matTooltip="Éditer"
                                [ngClass]="{inactive: !element.isActive}"
                                [label]="element.name"
                                [navigate]="['/admin/bookable', element.id]"
                            />
                        </td>
                        <td *matFooterCellDef mat-footer-cell>Totaux</td>
                    </ng-container>

                    <ng-container matColumnDef="readOnlyName">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header="name">Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <span [ngClass]="{inactive: isFullyBooked(element)}">
                                {{ element.name }}
                            </span>
                            @if (isAlreadyPending(element)) {
                                <app-flag status="pending-application">Déjà demandé </app-flag>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell>Totaux</td>
                    </ng-container>

                    <ng-container matColumnDef="code">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Code</th>
                        <td *matCellDef="let element" mat-cell>{{ element.code }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th *matHeaderCellDef mat-header-cell>Description</th>
                        <td *matCellDef="let element" mat-cell>{{ element.description }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="purchasePrice">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            natural-align-right
                            class="app-price-column"
                        >
                            Prix achat
                        </th>
                        <td *matCellDef="let element" mat-cell natural-align-right>
                            @if (element.purchasePrice > 0) {
                                <span>{{ element.purchasePrice | currency: 'CHF' }}</span>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cellnatural-align-right>
                            @if (dataSource.data?.totalPurchasePrice > 0) {
                                <span>
                                    {{ dataSource.data?.totalPurchasePrice | currency: 'CHF' }}
                                </span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="initialPrice">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            natural-align-right
                            class="app-price-column"
                        >
                            Prix init.
                        </th>
                        <td *matCellDef="let element" mat-cell natural-align-right>
                            @if (element.initialPrice !== '0.00') {
                                <span>{{ element.initialPrice | currency: 'CHF' }}</span>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cellnatural-align-right>
                            @if (dataSource.data?.totalInitialPrice > 0) {
                                <span>
                                    {{ dataSource.data?.totalInitialPrice | currency: 'CHF' }}
                                </span>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="periodicPrice">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            mat-sort-header
                            natural-align-right
                            class="app-price-column"
                        >
                            Prix périod.
                        </th>
                        <td *matCellDef="let element" mat-cell natural-align-right>
                            @if (element.periodicPrice !== '0.00') {
                                <span>{{ element.periodicPrice | currency: 'CHF' }}</span>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cellnatural-align-right>
                            @if (dataSource.data?.totalPeriodicPrice > 0) {
                                <span>
                                    {{ dataSource.data?.totalPeriodicPrice | currency: 'CHF' }}
                                </span>
                            }
                        </td>
                    </ng-container>
                    <!-- Merge in a single column the periodic price and the initial price -->

                    <ng-container matColumnDef="price">
                        <th *matHeaderCellDef mat-header-cell natural-7em-column natural-align-right>Prix</th>
                        <td *matCellDef="let element" mat-cell natural-align-right>
                            @if (element.periodicPrice !== '0.00') {
                                <span> {{ element.periodicPrice | currency: 'CHF' }}&nbsp;/an </span>
                            }
                            @if (element.periodicPrice !== '0.00' && element.initialPrice !== '0.00') {
                                <span> +</span>
                            }
                            @if (element.initialPrice !== '0.00') {
                                <span>
                                    {{ element.initialPrice | currency: 'CHF' }}
                                </span>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="updateDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header class="app-date-column">
                            Dernière modification
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.updateDate | swissDate }}
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="verificationDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header class="app-date-column">
                            Dernière vérification
                        </th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.verificationDate | swissDate }}
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="usage">
                        <th *matHeaderCellDef mat-header-cell natural-3em-column natural-align-center>Utilisations</th>
                        <td *matCellDef="let element" mat-cell natural-align-center>
                            @for (b of element.simultaneousBookings; track b) {
                                <div class="nat-horizontal">
                                    <natural-avatar
                                        [initials]="b.owner.name"
                                        [gravatar]="element.owner?.email"
                                        [size]="36"
                                    />
                                    <a mat-button [routerLink]="['/admin/user', b.owner.id]">
                                        {{ b.owner.name }}
                                    </a>
                                </div>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="availability">
                        <th *matHeaderCellDef mat-header-cell natural-3em-column natural-align-center>Disponibilité</th>
                        <td *matCellDef="let element" mat-cell natural-align-center>
                            @if (element.simultaneousBookings) {
                                <app-flag [status]="availabilityStatus(element)">{{
                                    availabilityText(element)
                                }}</app-flag>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="usageStatus">
                        <th *matHeaderCellDef mat-header-cell natural-3em-column natural-align-center>Inscriptions</th>
                        <td *matCellDef="let element" mat-cell natural-align-center>
                            @if (element.simultaneousBookings) {
                                <app-flag [status]="usageStatus(element)">{{ usageText(element) }}</app-flag>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="select">
                        <th *matHeaderCellDef mat-header-cell natural-5em-column></th>
                        <td *matCellDef="let element" mat-cell>
                            <button mat-flat-button color="primary" (click)="bookableClick.emit(element)">
                                {{ route.snapshot.data.actionButtonLabel || 'Sélectionner' }}
                            </button>
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="createApplication">
                        <th *matHeaderCellDef mat-header-cell natural-5em-column></th>
                        <td *matCellDef="let element" mat-cell>
                            @if (allowBooking(element)) {
                                <button
                                    mat-flat-button
                                    [color]="isAlreadyPending(element) ? 'accent' : 'primary'"
                                    [disabled]="isFullyBooked(element) || creating.has(element.id)"
                                    (click)="createApplication(element)"
                                >
                                    @if (!isAlreadyPending(element)) {
                                        {{ route.snapshot.data.actionButtonLabel || 'Demander' }}
                                    }
                                    @if (isAlreadyPending(element)) {
                                        Nouvelle demande
                                    }
                                </button>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-margin">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

<!--
This view is used for profile on front office too.
The hideCreateFab flag is there to hide the create button for admins (is hidden for other users too.
If we want to display the FAB, we need to add padding in bottom of page to prevent overlay over paginator
-->
@if (!route.snapshot.data.hideCreateFab && permissionsService.crud?.bookable.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/bookable/new']" />
}
