#divTabCahierConfirmation {
}

/*#divTabCahierConfirmationFirstContainer .Buttons::after {
    content: none;
}

#divTabCahierConfirmationFirstContainer .Buttons {
    position: absolute;
    right: 10px;
    margin-left: 0px;
}

#divTabCahierConfirmationFirstContainer {
    position: relative;
    width: 95%;
    left: 2.5%;
    min-height: 20px;
    background-color: transparent;
    text-align: center;
}*/

.divTabCahierConfirmationContainer {
    position: relative;
    left: 50%;
    margin-left: -350px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 680px;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}
.divTabCahierConfirmationEmbarcationContainer {
    width: 680px;
}

.divTabCahierConfirmationContainer::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
}

.divTabCahierConfirmationContainer::-webkit-scrollbar-track {
    border-radius: 5px;
}

.divTabCahierConfirmationContainer::-webkit-scrollbar-thumb {
    outline: 1px solid black;
    border-radius: 5px;
    background-color: darkgrey;
}

.divTabCahierConfirmationContainer.confirmationTab {
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    margin-top: 50px;
    width: 680px;
    height: 265px;
}
@keyframes shrink {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.divTabCahierConfirmationContainer .ReturnButtons {
    position: absolute;
    right: 10px;
    bottom: 0px;
    margin-left: 0px;
    background-image: url(../../../assets/navigations/icons/edit.png);
    background-size: 25px;
    background-position-x: 6px;
    background-position-y: 6px;
    width: 110px;
}
.divTabCahierConfirmationContainer .ReturnButtons::after {
    content: none;
}
.divTabCahierConfirmationContainer.confirmationTab .divConfirmationTexts > div:nth-child(3) > .ReturnButtons {
    top: -3px;
}
.divTabCahierConfirmationContainer.confirmationTab .ReturnButtons:nth-child(8) {
    position: relative;
    top: 5px;
    left: 350px;
    transform: translateX(-100%);
}

.divTabCahierConfirmationContainer .ValidateButtons {
    /*Terminer Button*/
    left: 50%;
    transform: translate(-50%, 5px);
    background-image: none;
    padding-left: 0px;
    text-align: center;
}

.divConfirmationTexts {
    position: relative;
    transition: opacity 0.1s linear 0s;
    border-radius: 5px;
    background-color: white;
    width: 680px;
    min-height: 10px;
    font-size: 25px;
}
.divConfirmationTexts.confirmationTab {
    width: 350px;
}
.divConfirmationTexts.confirmationTab:nth-child(3) {
    margin-bottom: 10px;
    width: 680px;
}

.divConfirmationTexts:nth-child(3) {
    font-size: 35px;
}
.divConfirmationTexts:nth-child(2n) {
    background-color: rgb(235, 235, 235);
}
.divConfirmationTexts:nth-child(1) > div {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.divConfirmationTexts > div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    min-height: 30px;
}

.divConfirmationTexts > div:nth-child(1) {
    box-sizing: border-box;
    padding: 2px;
    width: 50px;
    height: 40px;
}

.divConfirmationTexts > div:nth-child(1) > div {
    margin-left: 5px;
    border-radius: 10px;
    background-size: 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 100%;
}

.divConfirmationTexts > div:nth-child(2) {
    box-sizing: border-box;
    width: 240px;
    color: gray;
    text-align: left;
}
.divConfirmationTexts.confirmationTab:nth-child(3) > div:nth-child(2) {
    color: var(--fontBlack);
}
.divConfirmationTexts.confirmationTab:not(:nth-child(3)) > div:nth-child(2) {
    width: 295px;
    color: var(--fontBlack);
}
.divTabCahierConfirmationEmbarcationBoxContainer
    .divConfirmationTexts.confirmationTab:not(:nth-child(3))
    > div:nth-child(2) {
}
.divTabCahierConfirmationEmbarcationBoxContainer.confirmationTab .divConfirmationTexts > div:nth-child(2) {
    width: 200px;
} /*Embarcation text in confirmation*/

.divConfirmationTexts > div:nth-child(3) {
    width: 390px;
    color: var(--fontBlack);
    text-align: left;
}
.divConfirmationTexts.confirmationTab > div:nth-child(2) {
    width: 490px;
}
.divConfirmationTexts.confirmationTab > div:nth-child(3) {
    width: 140px;
}

.divConfirmationTexts > div:first-child > div:first-child {
    filter: brightness(0.5);
}

/*.divConfirmationTexts > div:nth-child(4).Buttons {
            top:-60px;
        }*/

.divTabCahierConfirmationEmbarcationBoxContainer {
    position: absolute;
    top: 57px;
    left: 370px;
    margin-top: 53px;
    background-color: yellow;
    width: 320px;
    min-height: 300px;
}
.divTabCahierConfirmationEmbarcationBox {
    display: inline-block;
    position: relative;
    margin-left: 40px;
    width: 300px;
    height: 124px;
    /*background-color: rgba(110, 250, 0, 0.36);*/
}
.divTabCahierConfirmationEmbarcationBox.confirmationTab {
    position: absolute;
    top: 50px;
    margin-left: 0px;
    width: 320px;
    /*background-color:rgba(156, 118, 39, 0.35);*/
}
.divTabCahierConfirmationEmbarcationBoxContainer .divConfirmationTexts {
    width: 320px;
}
.divTabCahierConfirmationEmbarcationBoxContainer .divConfirmationTexts > div:nth-child(2) {
    width: 265px !important;
}
.divTabCahierConfirmationEmbarcationBoxContainer .ReturnButtons {
    top: 75px;
    background-image: url(../../../assets/navigations/icons/sail.png);
    background-blend-mode: exclusion;
}
.divTabCahierConfirmationEmbarcationBoxContainer .ReturnButtons.ButtonChose {
    background-size: 30px;
    background-color: var(--accent);
    background-blend-mode: unset;
    background-position-y: 3px;
    color: white;
}
.divTabCahierConfirmationEmbarcationBoxContainer .ReturnButtons.ButtonChose:hover {
    background-color: var(--accentHover);
}

.divTabCahierConfirmationEmbarcationBox > div:nth-child(1) {
    position: absolute;
    transition: all 0.1s linear 0s;
    cursor: pointer !important;
    margin: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid lightgray;
    border-radius: 10px;
    background-image: url(../../../assets/navigations/icons/info.png), none, none;
    background-position:
        top left,
        62px 65px,
        top left;
    background-size: 25px, 35px, 100px;
    background-repeat: no-repeat;
    background-color: white;
    width: 100px;
    height: 100px;
}
.divTabCahierConfirmationEmbarcationBox > div:nth-child(1).PersonalSail {
    cursor: unset !important;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0);
    border-width: 0px;
    background-size: 0px, 35px, 100px;
}
.divTabCahierConfirmationEmbarcationBox > div:nth-child(1):not(.PersonalSail):hover {
    margin-top: 15px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.6);
    background-size: 30px, 35px, 100px;
}

/*.divTabCahierConfirmationEmbarcationBox > div:nth-child(3) {
    position:absolute;
    left:73px;
    top:75px;
    height:35px;
    width:35px;
    background-size:35px;
    background-image:url(../../../assets/navigations/icons/alert.png);
    background-repeat:no-repeat;
    cursor:pointer;
}*/

.divTabCahierConfirmationContainerTextsContainer {
    position: absolute;
    margin-top: 10px;
    margin-left: 130px;
    width: 170px;
    min-height: 20px;
    font-size: 25px;
    text-align: left;
}

.divTabCahierConfirmationContainerTextsContainer > div {
    position: relative;
    margin-bottom: 5px;
    min-height: 20px;
    color: var(--fontBlack);
    font-size: 30px;
}

.divTabCahierConfirmationContainerTextsContainer > div:nth-child(2) {
    color: gray;
    font-size: 20px;
}

/* terminate one bookable button*/
.divTabCahierConfirmationContainerTextsContainer > .btnTerminateOneBookable {
    position: absolute;
    top: 66px;
    opacity: 0;
    transition: opacity 0.3s linear 0s;
    background-image: none;
    background-color: red;
    width: 88px;
    color: white;
    font-size: 20px;
}

.divTabCahierConfirmationEmbarcationButtonContainer {
    position: relative;
    width: 100%;
    height: 30px;
}
.divTabCahierConfirmationEmbarcationButtonContainer > .Buttons {
    background-image: url(../../../assets/navigations/icons/sail.png);
    background-blend-mode: exclusion;
}

#divTabCahierConfirmationInfosBox {
    position: relative;
    margin-left: 40px;
    background-color: azure;
    width: 640px;
    height: 50px;
}

.divTabCahierConfirmationContainer textarea {
    position: relative;
    top: 5px;
    left: 0px;
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: url(../../../assets/navigations/icons/check-black.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: white; /*rgb(237,237,237);*/
    background-position-x: 340px;
    background-position-y: 50px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    width: 385px;
    height: 95px;
    resize: none;
    color: black;
    font-size: 20px;
    font-family: Arial;
}

.divTabCahierConfirmationContainer textarea:focus {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

.divTabCahierConfirmationDeleteBooking {
    position: absolute;
    top: -10px;
    right: -10px;
    transition: all 0.1s linear 0s;
    border-radius: 50px;
    background-image: url(../../../assets/navigations/icons/cancel.png);
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: dimgray;
    background-blend-mode: color-dodge;
    width: 30px;
    height: 30px;
}
.divTabCahierConfirmationDeleteBooking:hover {
    top: -15px;
    right: -15px;
    background-size: 30px;
    width: 40px;
    height: 40px;
}
