<ng-template #displayTemplate let-element let-canCancel="canCancel" let-canRevoque="canRevoque">
    <div class="nat-vertical nat-gap-10">
        <h2 class="mat-font-headline-sm nat-expand">{{ element.bookable.name }}</h2>

        <div class="-1 description">{{ element.bookable.description }}</div>
        <div class="nat-horizontal nat-align nat-gap-20 nat-wrap">
            <div class="nat-expand nat-horizontal nat-gap-horizontal-30 nat-gap-vertical-10 nat-wrap">
                @if (element.bookable.owner) {
                    <app-user-contact-data [user]="element.bookable.owner" />
                }

                <div>
                    <div class="mat-font-title-sm nat-bold nat-no-margin-bottom">Participant:</div>
                    <span>{{ element.owner.name }}</span>
                </div>
            </div>
            <div class="nat-vertical nat-right nat-gap-5">
                <app-bookable-price [bookable]="element.bookable" />
                @if (canRevoque && canRevoke(element)) {
                    <button mat-flat-button color="error" (click)="revokeBooking(element)">
                        <mat-icon naturalIcon="delete_forever" />
                        Se désinscrire
                    </button>
                } @else if (canCancel) {
                    <button
                        mat-flat-button
                        color="error"
                        [disabled]="deleting.has(element.id)"
                        (click)="cancelApplication(element)"
                    >
                        <mat-icon naturalIcon="delete" />
                        Annuler la demande
                    </button>
                }
            </div>
        </div>
    </div>
</ng-template>

<div class="root">
    <div class="pending-or-running nat-vertical">
        @if (runningServicesDS.data?.items.length) {
            <div class="running formation-list">
                <h1 class="mat-font-headline-lg">Inscriptions validées</h1>
                <div class="nat-vertical formation-items">
                    @for (element of runningServicesDS.data?.items; track element) {
                        <ng-template
                            *ngTemplateOutlet="
                                displayTemplate;
                                context: {$implicit: element, canCancel: false, canRevoque: true}
                            "
                        />
                    }
                </div>
            </div>
        }

        @if (pendingApplicationsDS.data?.items.length) {
            <div class="pending formation-list">
                <h1 class="mat-font-headline-lg">Demandes en attente</h1>
                <div class="nat-vertical formation-items">
                    @for (element of pendingApplicationsDS.data?.items; track element) {
                        <ng-template
                            *ngTemplateOutlet="
                                displayTemplate;
                                context: {$implicit: element, canCancel: true, canRevoque: false}
                            "
                        />
                    }
                </div>
            </div>
        }
    </div>

    <div class="available">
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="all">Tous</a>
            <a mat-list-item routerLinkActive="active" routerLink="aviron">Aviron</a>
            <a mat-list-item routerLinkActive="active" routerLink="laser">Laser</a>
            <a mat-list-item routerLinkActive="active" routerLink="catamaran">Catamaran</a>
            <a mat-list-item routerLinkActive="active" routerLink="planche">Planches</a>
            <a mat-list-item routerLinkActive="active" routerLink="sup">SUP</a>
            <a mat-list-item routerLinkActive="active" routerLink="wing-foil">Wing foil</a>
            <a mat-list-item routerLinkActive="active" routerLink="surprise">Surprise</a>
            <a mat-list-item routerLinkActive="active" routerLink="camps">Camps</a>
        </mat-nav-list>

        <h1 class="list-title mat-font-headline-lg">Nos cours et certifications</h1>
        <div class="list">
            <router-outlet />
        </div>
    </div>
</div>
