#divTabCahierTopList {
    position: absolute;
    top: 0px;
    border-top: 180px solid transparent;
    border-bottom: 70px solid transparent;
    height: 100%;
    right: 2.5%;
    margin-left: 0px;
    margin-top: 0px;
    width: 110px;
    transform: translate(0px);
    transition: transform 0.3s linear 0s;
    z-index: 4;
    opacity: 1;
    box-sizing: border-box;

    /*background-color:blue;*/
    /*position: absolute;
    top: 180px;
    max-height: 0px;
    min-height: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    transform: translate(0px);
    transition: transform 0.3s linear 0s;
    z-index: 4;
    opacity: 1;*/
}

    #divTabCahierTopList > div:first-child {
        /*position: absolute;
        left: 2.5%;
        width: 95%;
        height: 102px;
        max-height: 102px;
        box-sizing: border-box;
        border: 2px solid lightgray;
        border-radius: 10px;
        background-color: #fafafa;
        border-radius: 10px;
        padding: 2px;
        line-height: 92px;
        text-align: center;*/
        transition:opacity 0.3s linear 0s;
        opacity:0;
        left: 2.5%;
        width: 100%;
        min-height: 100px;
        max-height:100%;
        box-sizing: border-box;
        border: 2px solid lightgray;
        border-radius: 10px;
        background-color: #fafafa;
        border-radius: 10px;
        padding: 2px;
        /*line-height: 92px;*/
        text-align: center;
        overflow-y:scroll;
    }

        #divTabCahierTopList > div:first-child > div {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 90px;
            background-color: red;
            vertical-align: middle;
            margin: 7px 5px 7px 5px;
            background-color: white;
            border-radius: 5px;
            -moz-box-shadow: 1px 2px 10px rgba(0,0,0,0.75);
            -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.75);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
            -moz-transition: background-color 0.1s linear 0s;
            -o-transition: background-color 0.1s linear 0s;
            -webkit-transition: background-color 0.1s linear 0s;
            transition: background-color 0.1s linear 0s;
        }
        #divTabCahierTopList > div:first-child > div:hover {
            background-color:rgb(235,235,235);
        }


            #divTabCahierTopList > div:first-child > div.PersonalSail >div{
                cursor:unset !important;
            }

                #divTabCahierTopList > div:first-child > div.PersonalSail:hover {
                    background-color: white;
                }

            #divTabCahierTopList > div:first-child > div > div:first-child {
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80px;
                cursor: pointer;
                -moz-transition: all 0.1s linear 0s;
                -o-transition: all 0.1s linear 0s;
                -webkit-transition: all 0.1s linear 0s;
                transition: all 0.1s linear 0s;
            }


            #divTabCahierTopList > div:first-child > div > div:nth-child(2) {
                position: absolute;
                top: -12px;
                right: -12px;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/icons/cancel.png);
                background-size: 20px;
                background-blend-mode:color-dodge;
                background-color: dimgray;
                -moz-transition: all 0.1s linear 0s;
                -o-transition: all 0.1s linear 0s;
                -webkit-transition: all 0.1s linear 0s;
                transition: all 0.1s linear 0s;
                opacity: 1;
                z-index:2;
                cursor:pointer;
            }
            #divTabCahierTopList > div:first-child > div > div:nth-child(2):hover {
                background-color: gray;
            }

            #divTabCahierTopList > div:first-child > div > div:nth-child(3) {
                position: absolute;
                width: 50px;
                height: 30px;
                right: 0px;
                bottom: 0px;
                color: var(--fontBlack);
                border-top-left-radius: 15px;
                border-bottom-right-radius: 5px;
                background-color: white;
                -webkit-box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.3);
                box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.3);
                background-color: white;
                text-align: center;
                line-height: 30px;
                font-weight: bold;
                font-size: 18px;
                cursor: pointer;
            }

    #divTabCahierTopList > div:nth-child(2) {
        width: 90px;
        margin-top: 10px;
        margin-left: 0px;
        background-position-x: center;
        background-position-y: 38px;
        font-size:26.8px;
        height: 67px;
        padding-right:10px;
        opacity:0;
        transition: all 0.1s linear 0s;
    }

