@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-vertical">
            <div class="nat-horizontal">
                <div class="nat-horizontal nat-wrap nat-expand nat-align">
                    <div
                        class="mat-headline-5 nat-no-margin-vertical nat-margin-right"
                        [routerLink]="getChildLink(null)"
                    >
                        {{ routeData?.seo.title }}
                    </div>
                    @for (element of breadcrumbs; track element) {
                        <div>
                            /
                            <a mat-button color="primary" [routerLink]="getChildLink(element)">{{ element.name }}</a>
                        </div>
                    }
                </div>
                <natural-columns-picker
                    [availableColumns]="availableColumns"
                    [selections]="selectedColumns"
                    [buttons]="buttons | async"
                    (selectionChange)="selectColumns($event)"
                />
            </div>
            <div class="nat-vertical">
                <div class="nat-horizontal nat-margin-vertical overflow">
                    <natural-search
                        class="nat-expand"
                        [facets]="naturalSearchFacets"
                        [selections]="naturalSearchSelections"
                        [multipleGroups]="true"
                        (selectionChange)="search($event)"
                    />
                </div>
                <div class="responsive-table">
                    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                        <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                        <ng-container matColumnDef="navigation">
                            <th *matHeaderCellDef mat-header-cell></th>
                            <td *matCellDef="let element" mat-cell natural-2em-column>
                                @if (element.item.type === 'group') {
                                    <natural-table-button
                                        icon="chevron_right"
                                        matTooltip="Afficher les sous-comptes"
                                        [navigate]="getChildLink(element.item)"
                                    />
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="code">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Code</th>
                            <td *matCellDef="let element" mat-cell>
                                <natural-table-button
                                    matTooltip="Voir les écritures"
                                    [label]="element.item.code"
                                    [navigate]="transactionLineService.linkToTransactionLinesForAccount(element.item)"
                                />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                            <td *matCellDef="let element" mat-cell>
                                <natural-table-button
                                    matTooltip="Éditer"
                                    [label]="formatName(element.item.name)"
                                    [navigate]="[element.item.id]"
                                />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                            <td *matCellDef="let element" mat-cell>
                                {{ element.item.type | enum: 'AccountType' | async }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="owner">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Membre</th>
                            <td *matCellDef="let element" mat-cell>
                                @if (element.item.owner) {
                                    <div class="nat-horizontal nat-align">
                                        <natural-avatar
                                            [initials]="element.item.owner?.name"
                                            [gravatar]="element.item.owner?.email"
                                            [size]="36"
                                        />
                                        <natural-table-button
                                            matTooltip="Éditer"
                                            [label]="element.item.owner?.name"
                                            [navigate]="['/admin/user/', element.item.owner?.id]"
                                        />
                                    </div>
                                }
                                @if (!element.item.owner) {
                                    <div class="nat-horizontal nat-align">
                                        <natural-avatar initials="ichtus" [size]="36" />
                                        <button mat-button>Ichtus</button>
                                    </div>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="totalBalance">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header natural-align-right>Solde</th>
                            <td *matCellDef="let element" mat-cell natural-align-right>
                                <app-money [amount]="element.item.totalBalance" [showCurrency]="false" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="totalBalanceFormer">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header natural-align-right>
                                Solde précédant
                            </th>
                            <td *matCellDef="let element" mat-cell natural-align-right>
                                <app-money [amount]="element.item.totalBalanceFormer" [showCurrency]="false" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="budgetAllowed">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header natural-align-right>Budget prévu</th>
                            <td *matCellDef="let element" mat-cell natural-align-right>
                                <app-money
                                    [amount]="element.item.budgetAllowed"
                                    [showCurrency]="false"
                                    [showSignal]="false"
                                />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="budgetBalance">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header natural-align-right>
                                Budget restant
                            </th>
                            <td *matCellDef="let element" mat-cell natural-align-right>
                                <app-money [amount]="element.item.budgetBalance" [showCurrency]="false" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="iban">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>IBAN</th>
                            <td *matCellDef="let element" mat-cell>{{ element.item.iban | iban }}</td>
                        </ng-container>

                        <ng-container matColumnDef="creationDate">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Créé le</th>
                            <td *matCellDef="let element" mat-cell>{{ element.item.creationDate | date }}</td>
                        </ng-container>

                        <ng-container matColumnDef="updateDate">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Modifié le</th>
                            <td *matCellDef="let element" mat-cell>{{ element.item.updateDate | date }}</td>
                        </ng-container>
                    </table>
                </div>
                @if (dataSource.data?.length === 0) {
                    <div class="nat-vertical nat-center nat-margin">
                        <div>Pas de résultats</div>
                    </div>
                }
                @if (!dataSource.data) {
                    <div class="nat-vertical nat-center nat-margin">
                        <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                    </div>
                }
                @if (dataSource.data?.length) {
                    <mat-paginator
                        [length]="dataSource.data?.length"
                        [pageSize]="dataSource.data?.pageSize"
                        [pageIndex]="dataSource.data?.pageIndex"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="pagination($event)"
                    />
                }
            </div>
        </div>
        @if (permissionsService.crud?.account.create) {
            <natural-fixed-button icon="add" [routerLink]="addLink()" />
        }
    </div>
}
