<div *ngIf="dataSource" fxLayout="column">
    <div fxLayout="column">
        <div class="mat-headline-5 no-margin" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            {{ routeData?.seo.title }}
        </div>
    </div>

    <div fxLayout="column">
        <div fxLayout="row" class="margin-v overflow">
            <natural-search
                fxFlex
                [facets]="naturalSearchFacets"
                [selections]="naturalSearchSelections"
                (selectionChange)="search($event)"
                [multipleGroups]="true"
            >
                <app-copy-contact-data
                    *ngIf="contactType"
                    [type]="contactType"
                    [variablesManager]="variablesManager"
                ></app-copy-contact-data>

                <natural-columns-picker (selectionChange)="selectColumns($event)" [selections]="selectedColumns">
                    <span *ngIf="columnIsAvailable('edit')" naturalColumnsPickerColumn="edit">Editer</span>
                    <span *ngIf="columnIsAvailable('owner')" naturalColumnsPickerColumn="owner">Utilisateur</span>
                    <span *ngIf="columnIsAvailable('ownerReadonly')" naturalColumnsPickerColumn="ownerReadonly"
                        >Utilisateur</span
                    >
                    <span *ngIf="columnIsAvailable('status')" naturalColumnsPickerColumn="status">Statut</span>
                    <span *ngIf="columnIsAvailable('ownerBalance')" naturalColumnsPickerColumn="ownerBalance"
                        >Solde</span
                    >
                    <span *ngIf="columnIsAvailable('ownerCreationDate')" naturalColumnsPickerColumn="ownerCreationDate"
                        >Membre depuis</span
                    >
                    <span *ngIf="columnIsAvailable('bookable')" naturalColumnsPickerColumn="bookable">Item</span>
                    <span *ngIf="columnIsAvailable('destination')" naturalColumnsPickerColumn="destination"
                        >Destination</span
                    >
                    <span *ngIf="columnIsAvailable('startDate')" naturalColumnsPickerColumn="startDate">Début</span>
                    <span *ngIf="columnIsAvailable('startComment')" naturalColumnsPickerColumn="startComment"
                        >Note de début</span
                    >
                    <span *ngIf="columnIsAvailable('endDate')" naturalColumnsPickerColumn="endDate">Fin</span>
                    <span *ngIf="columnIsAvailable('estimatedEndDate')" naturalColumnsPickerColumn="estimatedEndDate"
                        >Retour prévu</span
                    >
                    <span *ngIf="columnIsAvailable('participantCount')" naturalColumnsPickerColumn="participantCount"
                        >Nb participants</span
                    >
                    <span *ngIf="columnIsAvailable('endComment')" naturalColumnsPickerColumn="endComment"
                        >Note de fin</span
                    >
                    <span *ngIf="columnIsAvailable('terminateBooking')" naturalColumnsPickerColumn="terminateBooking"
                        >Terminer</span
                    >
                    <span *ngIf="columnIsAvailable('email')" naturalColumnsPickerColumn="email">Email</span>
                    <span *ngIf="columnIsAvailable('mobilePhone')" naturalColumnsPickerColumn="mobilePhone">Tél.</span>
                </natural-columns-picker>
            </natural-search>
        </div>
        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sorting([$event])">
                <tr mat-header-row *matHeaderRowDef="columnsForTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsForTable"></tr>
                <tr mat-footer-row *matFooterRowDef="columnsForTable"></tr>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <natural-table-button
                                icon="edit"
                                [navigate]="['/admin/booking/', element.id]"
                                matTooltip="Éditer"
                            ></natural-table-button>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="owner">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Utilisateur</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="element.owner">
                            <natural-avatar
                                [initials]="element.owner.name"
                                [gravatar]="element.owner?.email"
                                [size]="36"
                            ></natural-avatar>
                            <natural-table-button
                                [label]="element.owner.name"
                                [navigate]="['/admin/user/', element.owner.id]"
                                matTooltip="Éditer"
                            ></natural-table-button>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="ownerReadonly">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="owner">Utilisateur</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="element.owner">
                            <natural-avatar
                                [initials]="element.owner.name"
                                [gravatar]="element.owner?.email"
                                [size]="36"
                            ></natural-avatar>
                            <span [style.padding-left.px]="16">{{ element.owner.name }}</span>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="bookable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Réservable</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.bookable" fxLayout="row">
                            <natural-file
                                *ngIf="element.bookable.image"
                                [model]="element.bookable.image"
                                [height]="40"
                                [style.width.px]="40"
                                [style.borderRadius.px]="40"
                            ></natural-file>
                            <natural-table-button
                                [label]="
                                    (element.bookable.code ? element.bookable.code + ' ' : '') + element.bookable.name
                                "
                                [navigate]="['/admin/bookable/', element.bookable.id]"
                                matTooltip="Éditer"
                            ></natural-table-button>
                        </div>
                        <button *ngIf="!element.bookable" mat-button [style.margin-left.px]="40">
                            Matériel personnel
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{ element.owner.email }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="mobilePhone">
                    <th mat-header-cell *matHeaderCellDef>Tél.</th>
                    <td mat-cell *matCellDef="let element">{{ element.owner.mobilePhone }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="destination">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
                    <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Début</th>
                    <td mat-cell *matCellDef="let element">{{ element.startDate | swissDate }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="startComment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Note de début</th>
                    <td mat-cell *matCellDef="let element">{{ element.startComment | ellipsis : 32 }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fin</th>
                    <td mat-cell *matCellDef="let element">{{ element.endDate | swissDate }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="estimatedEndDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Retour prévu</th>
                    <td mat-cell *matCellDef="let element">{{ element.estimatedEndDate }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.status | enum : 'BookingStatus' | async | capitalize }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="participantCount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon naturalIcon="group" matTooltip="Nombre de participants"></mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.participantCount }}</td>
                    <td mat-footer-cell *matFooterCellDef>{{ dataSource.data?.totalParticipantCount || 0 }}</td>
                </ng-container>

                <ng-container matColumnDef="endComment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Note de fin</th>
                    <td mat-cell *matCellDef="let element">{{ element.endComment | ellipsis : 32 }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="ownerBalance">
                    <th mat-header-cell *matHeaderCellDef>Solde</th>
                    <td mat-cell *matCellDef="let element">
                        <app-money
                            [showCurrency]="false"
                            [showSignal]="true"
                            [amount]="element.owner.account?.balance"
                        ></app-money>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="ownerCreationDate">
                    <th mat-header-cell *matHeaderCellDef>Membre depuis</th>
                    <td mat-cell *matCellDef="let element">{{ element.owner.creationDate | date : 'dd.MM.y' }}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="terminateBooking">
                    <th mat-header-cell *matHeaderCellDef natural-5em-column></th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            *ngIf="!element.endDate"
                            mat-flat-button
                            color="warn"
                            (click)="maybeTerminateBooking(element.id)"
                        >
                            Terminer
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
            </table>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="dataSource.data?.length === 0">
            <div>Pas de résultats</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="margin" *ngIf="!dataSource?.data">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>

        <mat-paginator
            *ngIf="dataSource.data?.length"
            [length]="dataSource.data?.length"
            [pageSize]="dataSource.data?.pageSize"
            [pageIndex]="dataSource.data?.pageIndex"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pagination($event)"
        ></mat-paginator>
    </div>
</div>

<natural-fixed-button
    [routerLink]="['/admin/booking/new']"
    icon="add"
    *ngIf="permissionsService.crud?.booking.create && !!showFabButton"
></natural-fixed-button>
