@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-headline-5 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                [buttons]="buttons"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-horizontal nat-margin-vertical overflow">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    [multipleGroups]="true"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>
                    <tr *matFooterRowDef="columnsForTable" mat-footer-row></tr>

                    <ng-container matColumnDef="edit">
                        <th *matHeaderCellDef mat-header-cell></th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="nat-horizontal nat-align">
                                <natural-table-button
                                    icon="edit"
                                    matTooltip="Éditer"
                                    [navigate]="['/admin/booking/', element.id]"
                                />
                            </div>
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="owner">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Utilisateur</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.owner) {
                                <div class="nat-horizontal nat-align">
                                    <natural-avatar
                                        [initials]="element.owner.name"
                                        [gravatar]="element.owner?.email"
                                        [size]="36"
                                    />
                                    <natural-table-button
                                        matTooltip="Éditer"
                                        [label]="element.owner.name"
                                        [navigate]="['/admin/user/', element.owner.id]"
                                    />
                                </div>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="ownerReadonly">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header="owner">Utilisateur</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.owner) {
                                <div class="nat-horizontal nat-align">
                                    <natural-avatar
                                        [initials]="element.owner.name"
                                        [gravatar]="element.owner?.email"
                                        [size]="36"
                                    />
                                    <span [style.padding-left.px]="16">{{ element.owner.name }}</span>
                                </div>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="bookable">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Réservable</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.bookable) {
                                <div class="nat-horizontal">
                                    @if (element.bookable.image) {
                                        <natural-file
                                            [model]="element.bookable.image"
                                            [height]="40"
                                            [style.width.px]="40"
                                            [style.borderRadius.px]="40"
                                        />
                                    }
                                    <natural-table-button
                                        matTooltip="Éditer"
                                        [label]="
                                            (element.bookable.code ? element.bookable.code + ' ' : '') +
                                            element.bookable.name
                                        "
                                        [navigate]="['/admin/bookable/', element.bookable.id]"
                                    />
                                </div>
                            }
                            @if (!element.bookable) {
                                <button mat-button [style.margin-left.px]="40">Matériel personnel</button>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th *matHeaderCellDef mat-header-cell>Email</th>
                        <td *matCellDef="let element" mat-cell>{{ element.owner.email }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="mobilePhone">
                        <th *matHeaderCellDef mat-header-cell>Tél.</th>
                        <td *matCellDef="let element" mat-cell>{{ element.owner.mobilePhone }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="destination">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Destination</th>
                        <td *matCellDef="let element" mat-cell>{{ element.destination }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="startDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Début</th>
                        <td *matCellDef="let element" mat-cell>{{ element.startDate | swissDate }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="startComment">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Note de début</th>
                        <td *matCellDef="let element" mat-cell>{{ element.startComment | ellipsis: 32 }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="endDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Fin</th>
                        <td *matCellDef="let element" mat-cell>{{ element.endDate | swissDate }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="estimatedEndDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Retour prévu</th>
                        <td *matCellDef="let element" mat-cell>{{ element.estimatedEndDate }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Statut</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.status | enum: 'BookingStatus' | async | capitalize }}
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="participantCount">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                            <mat-icon naturalIcon="group" matTooltip="Nombre de participants" />
                        </th>
                        <td *matCellDef="let element" mat-cell>{{ element.participantCount }}</td>
                        <td *matFooterCellDef mat-footer-cell>{{ dataSource.data?.totalParticipantCount || 0 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="endComment">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Note de fin</th>
                        <td *matCellDef="let element" mat-cell>{{ element.endComment | ellipsis: 32 }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="ownerBalance">
                        <th *matHeaderCellDef mat-header-cell>Solde</th>
                        <td *matCellDef="let element" mat-cell>
                            <app-money
                                [showCurrency]="false"
                                [showSignal]="true"
                                [amount]="element.owner.account?.balance"
                            />
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="ownerCreationDate">
                        <th *matHeaderCellDef mat-header-cell>Membre depuis</th>
                        <td *matCellDef="let element" mat-cell>{{ element.owner.creationDate | date: 'dd.MM.y' }}</td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="terminateBooking">
                        <th *matHeaderCellDef mat-header-cell natural-5em-column></th>
                        <td *matCellDef="let element" mat-cell>
                            @if (!element.endDate) {
                                <button mat-flat-button color="warn" (click)="maybeTerminateBooking(element.id)">
                                    Terminer
                                </button>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="usageStatus">
                        <th *matHeaderCellDef mat-header-cell natural-3em-column natural-align-center>Inscriptions</th>
                        <td *matCellDef="let element" mat-cell natural-align-center>
                            <app-flag [status]="usageStatus(element.bookable)">{{
                                usageText(element.bookable)
                            }}</app-flag>
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-margin">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if (permissionsService.crud?.booking.create && !!showFabButton) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/booking/new']" />
}
