<div class="overflow" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutAlign="start center" class="padding margin-top">
        <h1 class="mat-headline-3 margin-bottom text-center">Sélectionnez la porte du local à ouvrir</h1>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px grid">
            @for (door of doorService.doors; track door) {
                @if (viewer[door.id]) {
                    <app-card
                        (click)="open(door)"
                        [illustrationUrl]="'assets/images/' + door.image"
                        [style.min-width.px]="300"
                    >
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div class="mat-subtitle-2">{{ door.name }}</div>
                            <div>
                                <button mat-raised-button [disabled]="door.opened">
                                    <mat-icon [fontIcon]="door.opened ? 'lock_open' : 'lock'" />
                                    Ouvrir
                                </button>
                            </div>
                        </div>
                    </app-card>
                }
            }
        </div>
    </div>
</div>
