<div class="nat-gap-30 nat-padding-top nat-vertical nat-center">
    <h1 class="mat-font-headline-lg nat-margin-bottom">Sélectionnez la porte du local à ouvrir</h1>

    <div class="nat-horizontal nat-wrap nat-center nat-gap">
        @for (door of doorService.doors; track door) {
            @if (viewer[door.id]) {
                <app-card
                    [illustrationUrl]="`assets/images/${door.image}`"
                    [style.min-width.px]="300"
                    (click)="open(door)"
                >
                    <div class="nat-vertical nat-gap-10">
                        <div class="mat-font-title-sm">{{ door.name }}</div>
                        <div>
                            <button matButton="filled" [disabled]="door.opened">
                                <mat-icon [fontIcon]="door.opened ? 'lock_open' : 'lock'" />
                                Ouvrir
                            </button>
                        </div>
                    </div>
                </app-card>
            }
        }
    </div>
</div>
