<h2 mat-dialog-title>Faire un versement</h2>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="5px" *ngIf="!paymentMode">
        <div>
            <p class="mat-body-1">Nous t'encourageons à payer par e-banking (BVR) qui est sans frais pour le club.</p>
            <p class="mat-body-1">
                Tu peux aussi payer en ligne par carte de débit / crédit (une commission sera prélevée au passage).
            </p>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <button mat-flat-button color="primary" (click)="setPaymentMode('ebanking')">
                E-Banking
                <!-- : BVR--->
            </button>

            <button mat-flat-button color="primary" (click)="setPaymentMode('datatrans')">
                En ligne
                <!-- : Postfinance / Visa / Mastercard-->
            </button>
        </div>
    </div>

    <div class="padding" *ngIf="paymentMode === 'datatrans'">
        <p class="mat-body">Merci d'indiquer le montant que tu souhaites verser.</p>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-form-field style="width: 120px">
                <mat-label>Montant</mat-label>
                <input matInput type="number" step="1" [formControl]="formCtrl" [errorStateMatcher]="matcher" />
                <mat-error *ngIf="formCtrl.errors?.min"
                    >Minimum {{ formCtrl.errors.min.min | currency: 'CHF' }}</mat-error
                >
                <div matSuffix>CHF</div>
            </mat-form-field>

            <button mat-flat-button color="primary" [mat-dialog-close]="formCtrl.value" [disabled]="!formCtrl.valid">
                Suivant
            </button>
        </div>
    </div>

    <app-bvr [bankingData]="bvrData" *ngIf="paymentMode === 'ebanking'"></app-bvr>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="0px">
    <button *ngIf="showExportBillButton()" mat-button (click)="exportBill()">Télécharger bulletin de paiement</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Fermer</button>
</mat-dialog-actions>
