<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [newLabel]="data.seo.title"
        label="Utilisateur"
        [model]="data.model"
        [listRoute]="['admin', 'user']"
    >
        @if (isUpdatePage() && data.model.account) {
            <app-money [amount]="data.model.account.balance" sizeClass="mat-headline-4" />
        }
    </natural-detail-header>

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab id="general" label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <h2 class="mat-headline-6">Coordonnées</h2>

                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex.gt-xs
                                ><!-- row child -->
                                <mat-label>Prénom</mat-label>
                                <input matInput formControlName="firstName" (change)="update()" />
                                @if (form.get('firstName')?.hasError('maxlength')) {
                                    <mat-error>
                                        Maximum
                                        {{ form.get('firstName')?.errors?.maxlength?.requiredLength }} caractères
                                    </mat-error>
                                }
                                @if (form.get('firstName')?.hasError('required')) {
                                    <mat-error>Requis</mat-error>
                                }
                            </mat-form-field>

                            <mat-form-field fxFlex.gt-xs
                                ><!-- row child -->
                                <mat-label>Nom de famille</mat-label>
                                <input matInput formControlName="lastName" (change)="update()" />
                                @if (form.get('lastName')?.hasError('maxlength')) {
                                    <mat-error>
                                        Maximum {{ form.get('lastName')?.errors?.maxlength?.requiredLength }} caractères
                                    </mat-error>
                                }
                                @if (form.get('lastName')?.hasError('required')) {
                                    <mat-error>Requis</mat-error>
                                }
                            </mat-form-field>

                            <natural-select-enum
                                enumName="Sex"
                                formControlName="sex"
                                (selectionChange)="update()"
                                placeholder="Genre"
                            />
                        </div>

                        <app-address [form]="form" (addressChange)="update()" />

                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex.gt-xs
                                ><!-- row child -->
                                <mat-label>Téléphone fixe</mat-label>
                                <mat-hint>032 xxx xx xx</mat-hint>
                                <input matInput formControlName="phone" (change)="update()" />
                            </mat-form-field>

                            <mat-form-field fxFlex.gt-xs
                                ><!-- row child -->
                                <mat-label>Téléphone mobile</mat-label>
                                <mat-hint>07x xxx xx xx</mat-hint>
                                <input matInput formControlName="mobilePhone" (change)="update()" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-headline-6">Compte</h2>
                        <mat-form-field>
                            <mat-label>email</mat-label>
                            <input matInput formControlName="email" (change)="update()" />
                            @if (form.get('email')?.hasError('required')) {
                                <mat-error>Requis</mat-error>
                            }
                            @if (form.get('email')?.hasError('email')) {
                                <mat-error>Adresse email invalide</mat-error>
                            }
                            @if (form.get('email')?.hasError('duplicateValue')) {
                                <mat-error> Cet email est déjà attribué et doit être unique </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Nom d'utilisateur</mat-label>
                            <input matInput formControlName="login" (change)="update()" />
                            @if (form.get('login')?.hasError('maxlength')) {
                                <mat-error>
                                    Maximum {{ form.get('login')?.errors?.maxlength?.requiredLength }} caractères
                                </mat-error>
                            }
                            @if (form.get('login')?.hasError('required')) {
                                <mat-error>Requis</mat-error>
                            }
                            @if (form.get('login')?.hasError('invalid')) {
                                <mat-error>{{ form.get('login')?.getError('invalid') }}</mat-error>
                            }
                            @if (form.get('login')?.hasError('duplicateValue')) {
                                <mat-error> Ce nom est déjà attribué à un utilisateur </mat-error>
                            }
                        </mat-form-field>

                        <mat-divider class="margin-bottom" />

                        <h2 class="mat-headline-6">État</h2>

                        <natural-select-enum
                            enumName="UserStatus"
                            formControlName="status"
                            (selectionChange)="update()"
                            placeholder="Status"
                        />

                        <natural-select-enum
                            enumName="UserRole"
                            formControlName="role"
                            (selectionChange)="update()"
                            placeholder="Rôle"
                            [optionDisabled]="roleDisabled()"
                        />

                        <natural-select-enum
                            enumName="Relationship"
                            formControlName="familyRelationship"
                            (selectionChange)="update()"
                            placeholder="Rôle dans la famille"
                        />
                    </div>
                </div>

                <mat-divider />

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <h2 class="mat-headline-6">Autres</h2>

                        <natural-select
                            [service]="service"
                            formControlName="owner"
                            placeholder="Chef de famille"
                            (selectionChange)="update()"
                            [showIcon]="false"
                            [filter]="ownerFilter"
                        />

                        <mat-form-field>
                            <mat-label>Swiss sailling</mat-label>
                            <input matInput formControlName="swissSailing" (change)="update()" />
                        </mat-form-field>

                        <natural-select-enum
                            enumName="SwissSailingType"
                            formControlName="swissSailingType"
                            (selectionChange)="update()"
                            nullLabel=" "
                            placeholder="Licence swiss sailing"
                        />

                        <natural-select-enum
                            enumName="SwissWindsurfType"
                            formControlName="swissWindsurfType"
                            (selectionChange)="update()"
                            nullLabel=" "
                            placeholder="License swiss windsurfing"
                        />

                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px">
                            <natural-select-enum
                                fxFlex
                                enumName="BillingType"
                                formControlName="billingType"
                                (selectionChange)="update()"
                                placeholder="Méthode de paiement"
                            />

                            <mat-form-field fxFlex.gt-xs
                                ><!-- row child -->
                                <mat-label>Date de naissance</mat-label>
                                <input
                                    matInput
                                    formControlName="birthday"
                                    [matDatepicker]="picker"
                                    (dateChange)="update()"
                                />
                                <mat-datepicker-toggle matIconSuffix [for]="picker" />
                                <mat-datepicker #picker />
                                @if (isUpdatePage() && data.model.age) {
                                    <mat-hint>Âge: {{ data.model.age }} ans</mat-hint>
                                }
                            </mat-form-field>
                        </div>

                        <div class="mat-body-2" fxLayout="column" fxLayoutGap="20px">
                            <!-- Has Insurance -->
                            <mat-checkbox formControlName="hasInsurance" (change)="update()">
                                Assurance RC
                            </mat-checkbox>

                            <!-- Newsletter -->
                            <mat-checkbox formControlName="receivesNewsletter" (change)="update()">
                                Abonné à la newsletter
                            </mat-checkbox>
                        </div>
                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <h2 class="mat-headline-6">Commentaires</h2>

                        <mat-form-field>
                            <mat-label>Remarques</mat-label>
                            <textarea
                                matInput
                                formControlName="remarks"
                                (change)="update()"
                                [cdkTextareaAutosize]="true"
                                [cdkAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Remarques internes</mat-label>
                            <textarea
                                matInput
                                formControlName="internalRemarks"
                                (change)="update()"
                                [cdkTextareaAutosize]="true"
                                [cdkAutosizeMinRows]="3"
                            ></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Bookings -->
                @if (isUpdatePage()) {
                    <mat-divider />
                }

                @if (isUpdatePage()) {
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                        <div fxFlex="45" fxLayout="column">
                            <h2 class="mat-headline-6">Certifications</h2>
                            <natural-relations
                                [main]="data.model"
                                [service]="licenseService"
                                [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"
                                [disabled]="!permissionsService.crud?.license.create"
                                placeholder="Attribuer une certification"
                            >
                                <ng-template let-item="item">
                                    <natural-table-button
                                        [navigate]="['/admin/license/', item.id]"
                                        [label]="item.name"
                                    />
                                </ng-template>
                            </natural-relations>
                        </div>
                        <div fxFlex="40" fxLayout="column">
                            <h2 class="mat-headline-6">Tags</h2>
                            <natural-relations
                                [main]="data.model"
                                [service]="userTagService"
                                [filter]="{groups: [{conditions: [{users: {have: {values: [data.model.id]}}}]}]}"
                                [disabled]="!permissionsService.crud?.userTag.create"
                                placeholder="Ajouter un tag"
                            >
                                <ng-template let-item="item">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                        <natural-avatar [bgColor]="item.color" [initials]="item.name" [size]="36" />
                                        <natural-table-button
                                            [navigate]="['/admin/user-tag', item.id]"
                                            [label]="item.name"
                                        />
                                    </div>
                                </ng-template>
                            </natural-relations>
                        </div>
                        <div fxFlex="10" fxLayout="column">
                            <mat-slide-toggle fxFlex formControlName="door1" (change)="update()" class="margin-bottom">
                                Porte 1
                            </mat-slide-toggle>
                            <mat-slide-toggle fxFlex formControlName="door2" (change)="update()" class="margin-bottom">
                                Porte 2
                            </mat-slide-toggle>
                            <mat-slide-toggle fxFlex formControlName="door3" (change)="update()" class="margin-bottom">
                                Porte 3
                            </mat-slide-toggle>
                            <mat-slide-toggle fxFlex formControlName="door4" (change)="update()" class="margin-bottom">
                                Porte 4
                            </mat-slide-toggle>
                        </div>
                    </div>
                }

                <mat-divider />

                <div fxLayout="column" fxLayoutGap="15px">
                    @if (isUpdatePage()) {
                        <natural-stamp [item]="data.model" />
                    }

                    <!-- Welcome session date -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <mat-form-field>
                            <mat-label>Séance d'accueil</mat-label>
                            <input
                                matInput
                                formControlName="welcomeSessionDate"
                                [matDatepicker]="picker2"
                                (dateChange)="update()"
                            />

                            <div matIconSuffix fxLayoutAlign="start center">
                                <mat-datepicker-toggle [for]="picker2" />
                                <mat-datepicker #picker2 />

                                @if (form.get('welcomeSessionDate')?.value) {
                                    <button
                                        mat-icon-button
                                        (click)="form.get('welcomeSessionDate')?.setValue(null); update()"
                                    >
                                        <mat-icon naturalIcon="close" />
                                    </button>
                                }
                            </div>
                        </mat-form-field>
                    </div>

                    @if (isUpdatePage() && data.model.firstLogin) {
                        <div>
                            <span class="mat-subtitle-2">Première connexion :</span>
                            {{ data.model.firstLogin | swissDate }} ({{ data.model.firstLogin | timeAgo }})
                        </div>
                    }

                    @if (isUpdatePage() && data.model.lastLogin) {
                        <div>
                            <span class="mat-subtitle-2">Dernière connexion :</span>
                            {{ data.model.lastLogin | swissDate }} ({{ data.model.lastLogin | timeAgo }})
                        </div>
                    }

                    @if (isUpdatePage() && data.model.resignDate && data.model.status === 'archived') {
                        <div>
                            <span class="mat-subtitle-2">Démission le :</span>
                            {{ data.model.resignDate | swissDate }} ({{ data.model.resignDate | timeAgo }})
                        </div>
                    }
                </div>
            </div>
        </mat-tab>

        @if (isUpdatePage() && showFamilyTab) {
            <mat-tab id="family" label="Famille">
                <app-users [forcedVariables]="familyVariables" [persistSearch]="false" class="margin-top" />
            </mat-tab>
        }

        @if (isUpdatePage() && data.model.account && permissionsService.gteResponsible(viewer)) {
            <mat-tab id="history" label="Historique">
                <app-transaction-lines
                    [selectedColumns]="['name', 'bookable', 'transactionDate', 'remark', 'account']"
                    [forcedVariables]="transactionLinesVariables"
                    [relativeToAccount]="data.model.account"
                    [persistSearch]="false"
                    class="margin-top"
                />
            </mat-tab>
        }

        @if (isUpdatePage() && permissionsService.gteResponsible(viewer)) {
            <mat-tab id="finances" label="Dépenses et remboursements">
                <div fxLayout="column" fxLayoutGap="30px">
                    <div fxLayout="row" fxLayoutGap="10px" class="margin-top">
                        <natural-select
                            fxFlex="50"
                            formControlName="account"
                            placeholder="Compte"
                            [service]="accountService"
                            [showIcon]="false"
                            [navigateTo]="['/admin/account', form.get('account')?.value?.id]"
                        />
                        <mat-form-field fxFlex="50"
                            ><!-- row child -->
                            <mat-label>IBAN</mat-label>
                            <input
                                matInput
                                [formControl]="ibanCtrl"
                                (change)="updateIban()"
                                (blur)="lockIbanIfDefined()"
                            />
                            @if (canUpdateIban()) {
                                <button
                                    mat-icon-button
                                    matIconSuffix
                                    (click)="ibanCtrl.enable()"
                                    [disabled]="ibanCtrl.enabled || updating"
                                    matTooltip="Déverouiller"
                                >
                                    <mat-icon naturalIcon="lock" />
                                </button>
                            }
                            @if (ibanCtrl.hasError('iban')) {
                                <mat-error> IBAN invalide</mat-error>
                            }
                            <mat-hint>Pour les demandes de remboursement</mat-hint>
                        </mat-form-field>
                    </div>
                    <app-finances [viewer]="data.model" />
                </div>
            </mat-tab>
        }

        @if (
            isUpdatePage() &&
            permissionsService.gteResponsible(viewer) &&
            [UserStatus.active, UserStatus.new].includes(data.model.status)
        ) {
            <mat-tab id="services" label="Prestations et services">
                <br class="margin-top" />
                <app-services [user]="data.model" />
            </mat-tab>
        }
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" />
    }
</div>
