.PopUpLoginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0px;
    background-color: white;
    padding: 10px;
    width: 350px;
    height: 200px;
    text-align: center;
}
.PopUpLoginContainer input {
    display: inline-block;
    position: relative;
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné */
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: none;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: white; /*rgb(237,237,237);*/
    background-position-x: 65px;
    background-position-y: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    width: 250px;
    height: 50px;
    color: black;
    font-size: 20px;
}

.PopUpLoginContainer input::placeholder {
    color: gray;
}

.PopUpLoginContainer input:focus {
    /*border-color: var(--accent);*/
    /*background-image: url(../../../assets/navigations/icons/search-blue.png);*/
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.PopUpLoginContainer > div:nth-child(4) {
    position: absolute;
    top: 63px;
    left: 16px;
    z-index: 2;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    background-color: black;
    width: 50px;
    height: 50px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    transition: all 0.1s linear 0s;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-image: url(../../../assets/navigations/icons/password.png);
    background-size: 50px;
    background-repeat: no-repeat;
}

.PopUpLoginContainer .Buttons {
    display: inline-block;
    top: 10px;
    background-image: none;
}
