#divTabCahierMemberContainer > div {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateX(-50%);
    margin-left: 50%;
    border-radius: 20px;
    background-color: rgb(240, 240, 240) !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding: 10px;
    width: 60% !important;
    height: 300px !important;
    height: 350px;
    text-align: center;
}

#divTabCahierMemberContainer #inputTabCahierSearch {
    margin-top: 20px;
}
