body {
    margin: 0px;
    background-color:rgb(234,234,234);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    font-family: Arial;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
/*COLORS*/
:root {
    --accent: rgb(49, 118, 162);
    /*--accent: blue;*/
    --accentHover: rgb(62, 149, 204);
    --fontBlack: #444;
}

td {
    padding: 0px;
}

table {
    border-spacing: 0px;
}

img {
    display: block;
    pointer-events: none
}
input {
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/

    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white; /*rgb(237,237,237);*/
    padding-left: 40px;
    padding-right: 5px;
    padding-top: 0px;
    height: 34px;
    width: 120px;
    padding-bottom: 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 65px;
    background-position-y: 4px;
    color: black;
    font-size: 20px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    border-radius: 10px;
}
input[type= "text"] {
    cursor: pointer;
}
input[type = "text"]:focus{
    cursor:text;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    cursor: pointer;
}
input[type="number"]:focus {
    cursor: text;
}

/*input + div {
    cursor:pointer;
}
input:focus + div {
    cursor:text;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

select {
    padding-top:3px;
    height: 38px;
    top:0px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    outline: none;
}
option {
    border-radius:10px;
}

.title {
    position: relative;
    margin-top: -30px;
    width: 100%;
    font-size: 25px;
    color: var(--fontBlack);
    text-align: center;
}


.checkBox {
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
    background-color: rgb(237,237,237);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    cursor: pointer;
    background-size: 24px;
    background-position-x: -2px;
    background-position-y: -3px;
}
.checkBox:hover {
    background-color: white;
}

/*#region ScrollBar */
/*body::-webkit-scrollbar {
    width: 5px;
    position:absolute;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }*/
/*#endregion*/

#divScreen {
    position: absolute;
    left:50%;
    transform:translate(-50%,0%);
    max-width: 1500px;
    width:100%;
    min-height: 100%;
    top: 0px;
    background-color: yellow;
    z-index: 80;
    transition: filter 0.2s linear 0s;
    -moz-transition: -moz-filter 0.2s linear 0s;
    -o-transition: -o-filter 0.2s linear 0s;
    -webkit-transition: -webkit-filter 0.2s linear 0s;
}
.Blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}




.divTab { /*#divScreen div[id*=Tab]    #divScreen > div  */
    position: absolute;
    left: 0px;
    margin-left: 0px;
    top: -30000px;
    margin-top: 0px;
    width: 100%;
    float: left; /*//*/
    min-height: 100%; /*//*/
    padding-right: 0px;
    transform: translate(0px);
    transition: transform 0.3s linear 0s;
    z-index: 3;
    opacity: 1;
    background-color: #fafafa;

    transition: padding-right 0.3s linear 0s;
    box-sizing: border-box;
}
    .divTab.listBarActive {
        padding-right: 120px;
    }


.resetAnimation {
    animation:none;
}



/*  mettre UN <BR/> POUR EVITER QUE TOUTE LA PAGE BOUGE AVEC... */
.Buttons {
    position: relative;
    width: 151px;
    height: 44px;
    padding-top: 10px;
    margin-left: 0%; /*changed*/
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-x: 105px;
    background-position-y: 10px;
    cursor: pointer;
    transition: all 0.1s linear 0s;
    text-align: left;
    z-index: 2;
    /*border:2px solid transparent;*/
}

    .Buttons:hover {
        /*margin-top: 4px;
        margin-bottom: 0px;*/
        /*-webkit-box-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
        -moz-box-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
        box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);*/
        background-color: rgb(235, 235, 235);
    }

    .Buttons:focus {
        /*border-color: var(--accent);*/
        outline: 0;
    }

.ValidateButtons {
    color: white;
    background-color: var(--accent);
    background-image: url(../img/icons/arrow.png);
    background-position-x: 115px;
}
    .ValidateButtons:hover {
        background-color: var(--accentHover);
    }
/*.ValidateButtons:focus {
    border-color:black;
    outline: 0;
}*/



.ReturnButtons {
    width: 100px;
    height: 30px;
    padding-top: 8px;
    background-position-x: 5px;
    background-position-y: 4px;
    background-size: 30px;
    background-image: url(../img/icons/back.png);
    color: black;
    background-color: white;
    text-align: right;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 2.5%; /*changed*/
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5) !important;
}
.ReturnButtons::after{
    content:"Retour";
}
.ReturnButtons:hover {
    /*-webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;*/
}


.NormalButtons {
    width: 100px;
    height: 30px;
    padding-top: 8px;
    background-position-x: 5px;
    background-position-y: 4px;
    background-size: 30px;
    background-image: url(../img/icons/back.png);
    color: black;
    background-color: white;
    text-align: right;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 0px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5) !important;
}
    .NormalButtons:hover {
        /*-webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5) !important;
        -moz-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5) !important;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;*/
    }





/* BOXES */
.BoxesContainer {
    position: relative;
    display: inline-block;
    box-sizing: border-box; /*TELLEMENT BIEN !!*/
    /*border: 2px solid black;*/
    top: 0px;
    width: 265px;
    height: 300px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.Boxes {
    position: absolute;
    box-sizing: border-box; /*TELLEMENT BIEN !!*/
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s;
}

.BoxesContainer:hover > .Boxes {
    top: 15px;
    -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.5);
}

.BoxesTop {
    position: absolute;
    left: 32.5px;
    top: 0px;
    width: 200px;
    height: 220px;
    z-index: 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 0px, 200px;
    background-position-x: 100px,0px;
    background-position-y: 100px,0px;
    transition: all 0.2s linear 0s;
}

.Boxes:hover > .BoxesTop {
    background-position-x: 0px,-20px;
    background-position-y: 0px,-20px;
    background-size: 200px,240px;
    /*filter:grayscale(1);*/
}


.BoxesBottom {
    position: absolute;
    left: 0px;
    top: 220px;
    width: 100%;
    height: 80px;
    box-sizing: border-box; /*TELLEMENT BIEN !!*/
    border-top: 2px solid gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    opacity: 1;
    z-index: 3;
}



.divPopUpClose {
    position: absolute;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/cancel-black.png);
    background-size:25px;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 0.5;
    z-index: 4;
    transition: all 0.1s linear 0s;
    cursor:pointer;
}
    .divPopUpClose:hover {
        opacity: 1;
    }



.Modals {
    display: none;
    position: fixed; /*important*/
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: all 0.1s linear 0s;

}
.divCahierSpacers {
    position:relative;
    height:220px;
    /*background-color:rgba(186, 29, 29, 0.04);*/
}
.divMaterielSpacers {
    position: relative;
    min-height: 30px;
    margin-top:-30px; /*takes no place hehe*/
    /*background-color: rgba(186, 256, 29, 0.05);*/
}

    .divMaterielSpacers .Buttons {
        background-image: url(../img/icons/arrow-back.png);
    }