.PopUpAlertContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0px;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 130px;
    padding: 10px;
    background-color: white;
    text-align: center;
}
    .PopUpAlertContainer > div:nth-child(4) {
        font-size:18px;
        min-height:50px;
    }


.PopUpAlertContainer.booking {
    height: 200px;
    width: 460px;
}
    .PopUpAlertContainer.booking .Buttons {
        margin: 10px;
        margin-top:0px;
        font-size:21px;
        padding-top:0px;
        height:54px;
        line-height:54px;
    }

