/*#divBottom {
	position:relative;
	background-color:green;
	height:100px;
	width:100%;
	top:2200px;
	z-index:20;
	opacity:0.3;
}*/

.divBottoms {
    position:absolute;
    bottom:0px;
    width:100%;
    height:50px;
    background-color:#444;
    color:white;
    font-size:30px;
    text-align:center;
}

.divSpacers {
    position: relative;
    bottom: 0px;
    width: 10%;
    margin-left:90%;
    height: 50px;
    background-color: yellowgreen;
    opacity:0;
    z-index:20;
    background-color:rgba(154, 32, 32, 0.86);
}