#divTabCahierMaterielCategories {
}



#divTabCahierMaterielCategoriesContainer {
    position: relative;
    left: 2.5%;
    top: 0px;
    width: 95%;
    min-height: 100px;
    text-align: center;
    background-color: transparent;
}


.BoxesBottomText1 {
    position: absolute;
    left: 2.5%;
    top: 20px;
    width: 95%;
    height: 25px;
    font-size: 30px;
    text-align: center;
    background-color: white;
    color: black;
    transition: all 0.1s linear 0s;
}
.Boxes:hover .BoxesBottomText1 {
    font-size: 35px;
}

    .BoxesBottomText2 {
        position: absolute;
        left: 2.5%;
        top: -20px;
        width: 95%;
        height: 20px;
        font-size: 15px;
        text-align: right;
        line-height: 20px;
        color: gray;
        transition: all 0.1s linear 0s;
    }

