#divTabCahierMember {

}

#divTabCahierMemberContainer {
    /*background-color:red;*/
}

    #divTabCahierMemberContainer > div {
        position:relative !important;
        top:0px !important;
        left:0px !important;
        background-color:transparent !important;
        margin-left:50%;
        transform:translateX(-50%);
        width: 700px;
        height: 350px;
        padding: 10px;
        text-align: center;
    }