#divTabCahierMateriel {
    background-color:white;
}

#divTabCahierMaterielCodeEmbarcation {
    position: absolute;
    left: 50%;
    margin-left:-250px;
    top: 240px;
    width: 500px;
    height: 80px;
    /*border: 2px solid gray;*/
    /*background-color: red;*//*rgb(237,237,237);*/
    /*border-radius: 20px;*/
    /*box-shadow:5px 5px 10px rgba(0,0,0,0.75);*/
}

#divTabCahierMaterielCodeEmbarcation > div:nth-child(4){ /*divTabCahierMaterielCodeEmbarcationText*/
     position: absolute;
    left: 0px;
    top: -35px;
    width: 100%;
    font-size: 40px;
    color: black;
    text-align: center;
}

#divTabCahierMaterielCodeEmbarcation input {
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white; /*rgb(237,237,237);*/
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 235px;
    background-position-y: 4px;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    /*text-align: center;*/
}
#divTabCahierMaterielCodeEmbarcation input::placeholder {
    color: gray;
}

#divTabCahierMaterielCodeEmbarcation input:hover {
    background-color: white;
}

 #divTabCahierMaterielCodeEmbarcation input:focus {
    /*border-color:rgb(66, 133, 244);*/
    -webkit-box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 42px 6px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
    text-decoration: underline;
}
#divTabCahierMaterielCodeEmbarcation input:nth-child(1) {
    background-color: white;
    left: 50%;
    margin-left: -208px;
    top: 15px;
    width: 80px;
    height: 50px;
    padding-left:55px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; 
}
#divTabCahierMaterielCodeEmbarcation input:nth-child(2) + div{ /*#divTabCahierMaterielCodeEmbarcationInputTypeBack*/
    position: absolute;
    left: 50%;
    margin-left: -208px;
    top: 17px;
    width: 50px;
    height: 50px;
    background-color: black;
    z-index: 2;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all 0.1s linear 0s;
    background-image: url(Img/IconHashtagTransparent.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 0px;
    background-position-y: 0px;
    opacity: 0.8;
}

#divTabCahierMaterielCodeEmbarcation input:nth-child(2) {
    background-color: white;
    left: 50%;
    margin-left:-71px;
    top: 15px;
    width: 100px;
    height: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}




#divTabCahierMaterielCodeEmbarcationTypeResults {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 72px;
    background-color: red;
}
.divTabCahierMaterielCodeEmbarcationTypeResult { /*divTabCahierSearchResult > div {*/
    position: relative;
    left: 0px;
    margin-left: -2px;
    top: 0px;
    margin-bottom: 2px;
    width: 198px;
    height: 40px;
    background-color: blue; /*useless*/
    font-size: 20px;
    padding-left: 45px;
    transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    border-width: 2px;
    border-color: gray;
    border-style: outset;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(Img/IconMan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 8px;
    background-position-y: 5px;
    display: table;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.divTabCahierMaterielCodeEmbarcationTypeResult:nth-child(2n) {
    background-color: white;
}

.divTabCahierMaterielCodeEmbarcationTypeResult:nth-child(2n+1) {
    background-color: lightgray;
}

.divTabCahierMaterielCodeEmbarcationTypeResult:hover {
    background-color: gray;
    margin-left: 10px;
}

.spanTabMaterielCodeEmbarcationTypeLetter { /*#divTabCahierSearchResult > div > span:nth-child(1) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    width: 10px;
    /*background-color: red;*/
}

.divTabCahierMaterielCodeEmbarcationTypeResult:hover span {
    text-decoration: underline;
}

.spanTabMaterielCodeEmbarcationType { /*#divTabCahierSearchResult > div > span:nth-child(1) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    width: 100px;
    /*background-color: red;*/
}



#divTabCahierMaterielOther {
    position: absolute;
    left: 0px;
    top: 330px;
    width: 100%;
    font-size:40px;
    color:black;
    text-align:center;
}





#divTabCahierMaterielCategories{
    position:absolute;
    left:2.5%;
    top:430px;
    width:95%;
    height:600px;

}


    #divTabCahierMaterielCategories > div {
        display: inline-block;
        background-color: purple;
        box-sizing: border-box; /*TELLEMENT BIEN !!*/
        position: relative;
        width: 20%;
        height: 300px;
        top: 0px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 0px;
        background-color: white;
        font-size: 30px;
        text-align: center;
        color:black;
        border-radius: 20px
    }

    #divTabCahierMaterielCategories > div > div {
        position:absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin:0px;
        border: 4px solid black;
        border-radius: 20px;
        background-color: white;
        -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
        transition: all 0.1s linear 0s, top 0.2s linear 0s;
        background-image: url(Img/IconSup.png);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position-x: 50%;
    }

    #divTabCahierMaterielCategories > div > div > div:nth-child(1) {
        box-sizing: border-box; /*TELLEMENT BIEN !!*/
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 30px;
        border-top: 2px solid black;
        background-color: white;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        font-size: 25px;
        text-align: center;
        transition: all 0.1s linear 0s;
    }

    #divTabCahierMaterielCategories > div:hover > div {
        -webkit-box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
        background-color: lightgray;
        background-size: 200px;
        top: 32px;
    }


    #divTabCahierMaterielCategories > div:hover > div > div:nth-child(1) {
        background-color: red;
    }



#divTabCahierMateriel .divTabCahierInfosValidateButtons {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: 58px;
    width: 140px;
    /*background-color:lightgray;*/
    background-image: url(Img/IconValidated.png);
    background-position-x: 105px;
}