#divTabCahier {
    top: 0px;
    background-color: white;
    z-index: 5;
    opacity: 1;
}


#inputTabCahierSearch {
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    margin-top: 0px;
    width: 40%;
    box-sizing: border-box;
    height: 42px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    padding-left: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url(Img/IconSearchBlack.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 40px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    text-transform: capitalize;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    z-index: 5;
}

    #inputTabCahierSearch:focus {
        border: 2px solid rgb(66, 133, 244);
        background-color: white;
        width: 60%;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
        background-image: url(Img/IconSearchBlue.png);
    }

    #inputTabCahierSearch:hover {
        background-color: white;
    }

    #inputTabCahierSearch:focus + div {
        left: 80% !important;
    }


#divTabCahierSearchResult {
    position: relative;
    left: 30%;
    width: 40%;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 45px;
    border: 2px solid transparent;
    height: 230px;
    /*top:270px;*/
    /*background-color: orange;*/
    opacity: 0;
    transition: all 0.2s linear 0s;
}

#inputTabCahierSearch:focus ~ #divTabCahierSearchResult {
    opacity: 1;
    left: 20%;
    width: 60%;
}


.divTabCahierResultEntry { /*divTabCahierSearchResult > div {*/
    position: relative;
    left: -2px;
    margin-bottom: 5px;
    box-sizing:border-box;
    width: 100%;
    height: 40px;
    background-color: blue; /*useless*/
    font-size: 20px;
    padding-left: 45px;
    transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    border-width: 0px;
    border-color: gray;
    border-style: outset;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(Img/IconMan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 8px;
    background-position-y: 5px;
    display: table;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}

    .divTabCahierResultEntry:nth-child(2n) {
        background-color: white;
    }

    .divTabCahierResultEntry:nth-child(2n+1) {
        background-color: lightgray;
    }

    .divTabCahierResultEntry:hover {
        background-color: darkgray;
        margin-left: 10px;
    }


.spanTabCahierName { /*#divTabCahierSearchResult > div > span:nth-child(1) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    width: 120px;
    /*background-color: red;*/
}

.divTabCahierResultEntry:hover .spanTabCahierName {
    text-decoration: underline;
}

.spanTabCahierSurname { /*#divTabCahierSearchResult > div > span:nth-child(2) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    /*width: 90%;*/
    text-align: left;
    /*background-color: green;*/
}

.divTabCahierResultEntry:hover .spanTabCahierSurname {
    text-decoration: underline;
}


#imgTabCahierSearchIconEnter {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}



#divTabCahierTables {
    margin-left: 2.5%;
    width: 95%;
    min-height: 200px;
    /*background-color: lightcyan;*/
    margin-bottom: 50px;
}


#divTabCahierTableActualBookings {
    width: 100%;
    min-height: 0px;
    display: table;
    position: relative;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}


.TableTopBar {
    background-color: transparent;
    height: 50px;
    margin-bottom: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .TableTopBar > div {
        height: 45px;
        background-color: white;
        border-top: 10px solid transparent;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        border-left: 0px solid gray;
        border-right: 0px solid gray;
        padding-right: 30px;
        color: gray;
        font-size: 17px;
        transition: all 0.3s linear 0s;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 5px;
    }

        .TableTopBar > div:nth-child(1) {
            padding-left: 10px;
            width: 5%;
        }

        .TableTopBar > div:hover {
            border-bottom: 4px outset black;
            background-color: lightgray;
        }

        .TableTopBar > div > div:nth-child(1) {
            position: absolute;
            right: 0px;
            bottom: 5px;
            width: 30px;
            height: 30px;
            background-size: 0px;
            background-position-x: 15px;
            background-position-y: 15px;
            background-repeat: no-repeat;
            background-image: url(Img/IconSortASC.png);
            transition: all 0.1s linear 0s;
            /*background-color: red;*/
        }

        .TableTopBar > div:hover > div:nth-child(1) {
            background-size: 15px;
            background-position-x: 7.5px;
            background-position-y: 7.5px;
        }

.BookingsTopBarSorted {
    background-color: rgb(235,235,235) !important;
    /*color: white !important;*/
    border-bottom: 4px outset black !important;
}

    .BookingsTopBarSorted:hover {
        background-color: lightgray !important;
    }

    .BookingsTopBarSorted > div {
        background-size: 20px !important;
        background-position-x: 5px !important;
        background-position-y: 5px !important;
    }

    .BookingsTopBarSorted:hover > div {
    }


.TableEntries {
    background-color: white;
    min-height: 30px;
    box-sizing: border-box;
    font-size: 20px;
    transition: all 0.1s linear 0s;
    display: table-row;
}
    /*.TableEntries:nth-child(2n+1) .Buttons {
        background-color:black;
    }*/

    .TableEntries .Buttons {
        position: relative;
        height: 40px;
        width: 100px;
        left: 50%;
        transform: translate(-50%,-0%);
        box-sizing: border-box;
        font-size: 20px;
        color: white !important;
        background-color: red;
        margin-right: 4px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

        .TableEntries .Buttons::after {
            content: "Terminer";
        }

        .TableEntries .Buttons:hover {
            margin-left: 4px;
            margin-right: 0px;
            background-color: rgb(137, 16, 16)
        }

    .TableEntries:nth-child(2n) {
        background-color: rgb(235, 235, 235);
    }

    .TableEntries > div:nth-child(1) {
        padding-left: 10px;
        /*width: 20px;*/
        /*text-align: center;*/
    }

    .TableEntries:last-child > div:last-child {
        border-bottom-right-radius: 10px;
    }

    .TableEntries:last-child > div:first-child {
        border-bottom-left-radius: 10px;
    }

    .TableEntries > div {
        position: relative;
        /*display: inline-block;*/
        width: 100px;
        min-height: 30px;
        box-sizing: border-box;
        padding: 2px;
        display: table-cell;
        vertical-align: middle;
    }


.TableEntriesHover:hover {
    background-color: lightgray;
}











#divTabCahierPopUp {
    position: relative;
    left: 50%;
    margin-left: -350px;
    top: 50%;
    margin-top: -225px;
    width: 700px;
    height: 450px;
}

    #divTabCahierPopUp > div:nth-child(1) {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-image: url(Img/IconCancelBlack.png);
        background-repeat: no-repeat;
        background-position-x: right;
        opacity: 0.5;
        z-index: 4;
        transition: all 0.1s linear 0s;
    }

        #divTabCahierPopUp > div:nth-child(1):hover {
            opacity: 1;
        }




.radioContainer {
    position: absolute;
    width: 290px;
    min-height: 10px;
    background-color: transparent;
    left: 350px;
    top: 5px;
}

    .radioContainer > div {
        position: relative;
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
    }

    .radioContainer > .radioSelected {
        cursor: initial;
    }

        .radioContainer > .radioSelected > div:nth-child(1) {
            background-color: white;
        }

        .radioContainer > .radioSelected > div:nth-child(2) {
            color: rgb(66,133,244);
        }

        .radioContainer > .radioSelected > div:nth-child(1) > div {
            background-color: rgb(66,133,244);
        }

    .radioContainer > div > div {
        display: inline-block;
        vertical-align: middle;
    }

        .radioContainer > div > div:nth-child(1) {
            box-sizing: border-box;
            border: 1px solid black;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: lightgray;
            transition: all 0.1s linear 0s;
        }

            .radioContainer > div > div:nth-child(1) > div {
                position: absolute;
                width: 10px;
                height: 10px;
                left: 5px;
                top: 5px;
                border-radius: 10px;
                background-color: transparent;
                transition: all 0.1s linear 0s;
            }

        .radioContainer > div > div:nth-child(2) {
            margin-left: 5px;
            margin-right: 20px;
            min-width: 10px;
            height: 20px;
            background-color: transparent;
            font-size: 18px;
            transition: all 0.1s linear 0s;
        }






.PopUpBookingsListTable {
    position: relative;
    display: table;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}

.PopUpBookingsListRow {
    position: relative;
    display: table-row;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(235,235,235);
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.1s linear 0s;
}

    .PopUpBookingsListRow:nth-child(2n) {
        background-color: white;
        border: 2px solid black;
    }

    .PopUpBookingsListRow:hover {
        background-color: lightgray;
    }


.PopUpBookingsListRow > div {
    position:relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
}

    .PopUpBookingsListRow > div:first-child {
        padding-left: 10px;
    }
