#divTabCahierMateriel {
    background-color:white;
}

#divTabCahierMaterielCodeEmbarcation {
    position: absolute;
    left: 2.5%;
    margin-left:-1px;
    top: 240px;
    width: 95%;
    height: 80px;
    border: 2px solid gray;
    background-color: white;/*rgb(237,237,237);*/
    border-radius: 20px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.75);
}

#divTabCahierMaterielCodeEmbarcationText {
    position: absolute;
    left: 21px;
    top: -35px;
    font-size: 30px;
    color: black;
}

#divTabCahierMaterielCodeEmbarcation input {
    position: absolute;
    
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white; /*rgb(237,237,237);*/
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 235px;
    background-position-y: 4px;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
}
#divTabCahierMaterielCodeEmbarcation input:nth-child(1) {
    background-color: red;
    left: 40%;
    top: 32px;
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#divTabCahierMaterielCodeEmbarcation input:nth-child(2) {
    background-color: green;
    left: 60%;
    top: 32px;
    width: 100px;
    height: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}




    #divTabCahierMaterielCodeEmbarcationTypeResults {
    position:absolute;
    left:40%;
    top:100px;
    background-color:red;

}
.divTabMaterielCodeEmbarcationTypeResult { /*divTabCahierSearchResult > div {*/
    position: relative;
    left: 0px;
    margin-left: -2px;
    top: 0px;
    margin-bottom: 2px;
    width: 240px;
    height: 40px;
    background-color: blue; /*useless*/
    font-size: 20px;
    padding-left: 45px;
    transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    border-width: 2px;
    border-color: gray;
    border-style: outset;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(Img/IconMan.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 8px;
    background-position-y: 5px;
    display: table;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

.divTabMaterielCodeEmbarcationTypeResult:nth-child(2n) {
    background-color: white;
}

.divTabMaterielCodeEmbarcationTypeResult:nth-child(2n+1) {
    background-color: lightgray;
}

.divTabMaterielCodeEmbarcationTypeResult:hover {
    background-color: gray;
    margin-left: 10px;
}

.spanTabMaterielCodeEmbarcationTypeLetter { /*#divTabCahierSearchResult > div > span:nth-child(1) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    width: 10px;
    /*background-color: red;*/
}

.divTabMaterielCodeEmbarcationTypeResult:hover span {
    text-decoration: underline;
}

.spanTabMaterielCodeEmbarcationType { /*#divTabCahierSearchResult > div > span:nth-child(1) {*/
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 0px;
    width: 100px;
    /*background-color: red;*/
}



#divTabCahierMaterielOther {
    position: absolute;
    left: 0px;
    top: 360px;
    width: 100%;
    font-size:40px;
    color:gray;
    text-align:center;
}

