#divTabCahierMaterielOptions {

}


#divTabCahierMaterielOptionsContainer {
    position: relative;
    margin-top: 50px;
    margin-left: 2.5%;
    width: 95%;
    min-height: 10px;
    text-align: center;

    background-color: azure;
}

    #divTabCahierMaterielOptionsContainer  .BoxesTop {
        background-image: url(Img/IconChose.png), none;
    }


        

#divTabCahierMaterielOptionsContainer .Buttons {
    position:absolute;
    margin-left:0px;
}


