.PopUpStatsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 450px;
    padding: 10px;
    box-sizing: border-box;
}

.divStatsContainer {
    position:absolute;
    margin-top:20px;
    width:680px;
    height:400px;
}

.PopUpStatsContainerTitle {
    margin-top:-5px;
}
.PopUpStatsContainerTitle div {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    vertical-align:middle;
}
    .PopUpStatsContainerTitle > div:nth-child(1), .PopUpStatsContainerTitle > div:nth-child(2):before {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-image: url(Img/IconArrowBackBlack.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        cursor: pointer;
        transition:all 0.1s linear 0s;
        border-radius:8px;
    }
    .PopUpStatsContainerTitle > div:nth-child(1):hover, .PopUpStatsContainerTitle > div:nth-child(2):hover:before {
        background-color: rgb(235, 235, 235);
    }

    .PopUpStatsContainerTitle > div:nth-child(2) {
        position:absolute;
        right:10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
        .PopUpStatsContainerTitle > div:nth-child(2):before {
            content: "";
            position:absolute;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    .PopUpStatsContainerTitle > div:nth-child(3){
        color:var(--fontBlack);
        font-weight:bold;
        font-size:18px;
    }
    .PopUpStatsContainerTitle > div {
        color: var(--fontBlack);
        font-size: 16px;
    }
     

/*nbr de sorties & jours*/
.PopUpStatsContainer > div:nth-child(4) {
    position: absolute;
    top: 90px;
    left: 15px;
    width: 100px;
    text-align: left;
    color: gray;
    font-size: 12px;
}
.PopUpStatsContainer > div:nth-child(5) {
    position:absolute;
    top:415px;
    right:10px;
    width:100px;
    text-align:right;
    color:gray;
    font-size:12px;
}


/*SCALE*/
.divStatsContainer > div:first-child {
    position: absolute;
    height: 300px;
    width: 50px;
}

        .divStatsContainer > div:first-child > div:nth-child(1) {
            position: absolute;
            left:40px;
            top:20px;
            height: 280px;
            width: 2px;
            background-color: gray;
        }

        .divStatsContainer > div:first-child > div:nth-child(2) {
            position: absolute;
            top: 10px;
            left: 31px;

            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid gray;
        }

        .divStatsContainer > div:first-child > div:not(:nth-child(2)):not(:nth-child(1)) {
            position: absolute;
            top: 300px;
            margin-top:-10px;
            width:33px;
            height:20px;
            line-height:20px;
            color:gray;
            text-align:right;
            font-size:16px;
        }
            .divStatsContainer > div:first-child > div:not(:nth-child(2)):not(:nth-child(1)) > div:first-child {
                position: absolute;
                top:9px;
                left:37px;
                width:8px;
                height:2px;
                background-color:gray;
            }
            .divStatsContainer > div:first-child > div:not(:nth-child(2)):not(:nth-child(1)) > div:nth-child(2) {
                position: absolute;
                top: 9.5px;
                left: 50px;
                width: 620px;
                height: 1px;
                background-color: lightgray;
            }

    /*CENTER*/
    .divStatsContainer > div:nth-child(2) {
        position: absolute;
        left: 50px;
        height: 300px;
        width: 620px;
    }

        .divStatsContainer > div:nth-child(2) > div {
            position: relative;
            display: inline-block;
            height: 300px;
            line-height: 20px;
            box-sizing: border-box;
            text-align: left;
            line-height: 300px;
        }

            .divStatsContainer > div:nth-child(2) > div > div:first-child {
                background-color: black;
                width: 90%;
                margin-left:5%;
                display: inline-block;
                vertical-align: bottom;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .divStatsContainer > div:nth-child(2) > div > div:nth-child(2) {
                position: absolute;
                top: 0px;
                width: 90%;
                margin-left: 5%;
                text-align: center;
                color: transparent;
                transition: all 0.1s linear 0s;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .divStatsContainer > div:nth-child(2) > div:hover > div:nth-child(2) {
                color: white;
                background-color:rgba(0, 0, 0, 0.2);
            }

    /*LEGEND*/
    .divStatsContainer > div:nth-child(3) {
        position: absolute;
        top: 300px;
        left: 50px;
        height: 50px;
        width: 620px;
    }

        .divStatsContainer > div:nth-child(3) > div:first-child {
            position:absolute;
            top:0px;
            left:-10px;
            width:630px;
            height:2px;
            background-color:gray;
        }

        .divStatsContainer > div:nth-child(3) > div:nth-child(2) {
            position: absolute;
            top:-9px;
            left:620px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid gray;
        }

        .divStatsContainer > div:nth-child(3) > div:not(:first-child):not(:nth-child(2)) {
            position: relative;
            display: inline-block;
            vertical-align:top;
            min-height: 20px;
            margin-top: 5px;
            box-sizing: border-box;
            text-align: center;
            color:var(--fontBlack);
            /*background-color:rgba(183, 195, 24, 0.29);*/
        }

            .divStatsContainer > div:nth-child(3) > div:not(:first-child):not(:nth-child(2)) > div {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                min-width: 10px;
                min-height: 20px;
                vertical-align: top;
                box-sizing: border-box;
                color: var(--fontBlack);
                /*background-color: rgba(183, 0, 24, 0.29);*/
            }
