.PopUpCahierBookableContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0px;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 370px;
    padding: 10px;
    background-color: white;
    text-align: center;
}