@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-headline-5 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker [availableColumns]="availableColumns" (selectionChange)="selectColumns($event)" />
        </div>
        <div class="nat-vertical">
            <div class="nat-horizontal nat-margin-vertical">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    [multipleGroups]="true"
                    (selectionChange)="search($event)"
                />
            </div>
            <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                    <td *matCellDef="let element" mat-cell>
                        <natural-table-button
                            matTooltip="Éditer"
                            [label]="element.name"
                            [navigate]="['/admin/license', element.id]"
                        />
                    </td>
                </ng-container>
            </table>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-margin">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if (permissionsService.crud?.license.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/license/new']" />
}
