<div class="nat-expand-no-collapse nat-vertical nat-padding" style="gap: 50px">
    @if (route.snapshot.data.viewer) {
        <div class="nat-horizontal nat-center">
            <app-navigations [user]="route.snapshot.data.viewer" />
        </div>
    }

    @if (permissionsService.crud?.booking?.create) {
        <div class="nat-vertical nat-top nat-center">
            <h1 class="mat-headline-3 nat-margin-bottom text-center">Annoncer une sortie</h1>
            <div class="nat-horizontal nat-wrap nat-gap nat-center">
                <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="/booking/by-scan">
                    <mat-icon naturalIcon="qr" [size]="70" />
                    en scannant un code QR
                </a>
                <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="/booking/by-code">
                    <mat-icon naturalIcon="code" [size]="70" />
                    en saisissant un code
                </a>
                <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="/booking/new">
                    <mat-icon naturalIcon="own_bookable" [size]="70" />
                    avec mon propre matériel
                </a>
            </div>
        </div>
    }

    <div class="nat-vertical nat-margin-bottom padding-bottom nat-top nat-center">
        <h1 class="mat-headline-3 nat-margin-bottom text-center">Autres</h1>
        <div class="nat-horizontal nat-wrap nat-gap nat-center">
            @if (permissionsService.canAccessDoor(route.snapshot.data.viewer)) {
                <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="door">
                    <mat-icon naturalIcon="doors" [size]="70" />
                    Accéder au local
                </a>
            }

            <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="profile">
                <mat-icon naturalIcon="family" [size]="70" />
                Mon compte
            </a>

            <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="/support">
                <mat-icon naturalIcon="support" [size]="70" />
                Guide
            </a>

            @if (permissionsService.canAccessAdmin(route.snapshot.data.viewer)) {
                <a mat-button class="nat-vertical big-button nat-top nat-center" [routerLink]="adminRoute | async">
                    <mat-icon naturalIcon="administrator" [size]="70" />
                    Administration
                </a>
            }

            <a mat-button class="nat-vertical big-button nat-left nat-center" (click)="userService.logout()">
                <mat-icon naturalIcon="exit" [size]="70" />
                Déconnexion
            </a>
        </div>
    </div>
</div>
