<div class="nat-expand-no-collapse nat-vertical nat-center nat-padding" style="gap: 50px">
    <div class="nat-horizontal nat-wrap nat-gap-30">
        @if (route.snapshot.data.viewer) {
            <app-navigations [user]="route.snapshot.data.viewer" />
        }

        @for (formation of formations; track formation) {
            @if (formation.bookable) {
                <mat-card>
                    <mat-icon naturalIcon="certification" [size]="160" />
                    <div class="nat-vertical nat-gap-10">
                        <div class="mat-font-title-sm nat-bold text-center">{{ formation.bookable.name }}</div>
                        @if (formation.bookable.owner) {
                            <mat-divider />
                            <app-user-contact-data class="nat-expand" [user]="formation.bookable.owner" />
                        }
                        <div>
                            <a matButton="filled" routerLink="/profile/services/bookables/formation/all"
                                >Cours et certifications</a
                            >
                        </div>
                    </div>
                </mat-card>
            }
        }
    </div>

    @if ((permissionsService.crud | async)?.booking?.create) {
        <div class="nat-vertical nat-top nat-center">
            <h1 class="mat-font-display-md nat-margin-bottom text-center">Annoncer une sortie</h1>
            <div class="nat-horizontal nat-wrap nat-gap nat-center">
                <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/booking/by-scan">
                    <mat-icon naturalIcon="qr" [size]="70" />
                    en scannant un code QR
                </a>
                <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/booking/by-code">
                    <mat-icon naturalIcon="code" [size]="70" />
                    en saisissant un code
                </a>
                <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/booking/new">
                    <mat-icon naturalIcon="own_bookable" [size]="70" />
                    avec mon propre matériel
                </a>
            </div>
        </div>
    }

    <div class="nat-vertical nat-margin-bottom nat-top nat-center">
        <h1 class="mat-font-display-md nat-margin-bottom text-center">Autres</h1>
        <div class="nat-horizontal nat-wrap nat-gap nat-center">
            @if (permissionsService.canAccessDoor(route.snapshot.data.viewer)) {
                <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="door">
                    <mat-icon naturalIcon="doors" [size]="70" />
                    Accéder au local
                </a>
            }

            <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="profile">
                <mat-icon naturalIcon="family" [size]="70" />
                Mon compte
            </a>

            <a
                matButton
                class="nat-vertical big-button nat-top nat-center"
                routerLink="/profile/services/bookables/formation/all"
            >
                <mat-icon naturalIcon="certification" [size]="70" />
                Cours et certifications
            </a>

            <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/support">
                <mat-icon naturalIcon="support" [size]="70" />
                Guide
            </a>

            @if (permissionsService.canAccessAdmin(route.snapshot.data.viewer)) {
                <a matButton class="nat-vertical big-button nat-top nat-center" [routerLink]="adminRoute | async">
                    <mat-icon naturalIcon="administrator" [size]="70" />
                    Administration
                </a>
            }

            <a matButton class="nat-vertical big-button nat-left nat-center" (click)="userService.logout()">
                <mat-icon naturalIcon="exit" [size]="70" />
                Déconnexion
            </a>
        </div>
    </div>
</div>
