#divTabCahierConfirmation {
}

/*#divTabCahierConfirmationFirstContainer .Buttons::after {
    content: none;
}

#divTabCahierConfirmationFirstContainer .Buttons {
    position: absolute;
    right: 10px;
    margin-left: 0px;
}

#divTabCahierConfirmationFirstContainer {
    position: relative;
    width: 95%;
    left: 2.5%;
    min-height: 20px;
    background-color: transparent;
    text-align: center;
}*/

.divTabCahierConfirmationContainer {
    position: relative;
    left: 50%;
    margin-left: -350px;
    background-color: white;
    padding: 10px;
    width: 680px;
    max-height:90%;
    overflow-y:auto;
    overflow-x:hidden;
    border-radius: 20px;
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.5);
}
.divTabCahierConfirmationEmbarcationContainer {
    width:680px;
}

.divTabCahierConfirmationContainer::-webkit-scrollbar {
    width: 5px;
    border-radius:5px;
}

.divTabCahierConfirmationContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.divTabCahierConfirmationContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid black;
    border-radius: 5px;
}

.divTabCahierConfirmationContainer.confirmationTab {
    position: relative;
    width: 680px;
    height:265px;
    margin-top:50px;
    animation-duration:0.5s;
    animation-iteration-count:1;
    animation-timing-function:ease;
}
@keyframes shrink {
    from {
        transform:scale(1);
        opacity:1;
    }

    to {
        transform: scale(0);
        opacity:0;
    }
}

    .divTabCahierConfirmationContainer .ReturnButtons {
        position: absolute;
        right: 10px;
        bottom: 0px;
        width: 110px;
        margin-left: 0px;
        background-image: url(../img/icons/edit.png);
        background-size: 25px;
        background-position-y: 6px;
        background-position-x: 6px;
    }
    .divTabCahierConfirmationContainer .ReturnButtons::after {
        content:none;
    }
    .divTabCahierConfirmationContainer.confirmationTab .divConfirmationTexts > div:nth-child(3) > .ReturnButtons{
        top:-3px;
    }
    .divTabCahierConfirmationContainer.confirmationTab .ReturnButtons:nth-child(8) {
        position: relative;
        left: 350px;
        transform: translateX(-100%);
        top: 5px;
    }

    .divTabCahierConfirmationContainer .ValidateButtons { /*Terminer Button*/
        left: 50%;
        transform: translate(-50%,5px);
        background-image: none;
        padding-left: 0px;
        text-align: center;
    }

.divConfirmationTexts {
    position: relative;
    min-height: 10px;
    background-color: white;
    width: 680px;
    border-radius: 5px;
    font-size: 25px;
}
.divConfirmationTexts.confirmationTab {
    width: 350px;
}
.divConfirmationTexts.confirmationTab:nth-child(3) {
    width:680px;
    margin-bottom:10px;
}

    .divConfirmationTexts:nth-child(3) {
        font-size: 35px;
    }
    .divConfirmationTexts:nth-child(2n) {
        background-color: rgb(235,235,235);
    }
            .divConfirmationTexts:nth-child(1) > div {
                width:100px;
                display: inline-block;
                vertical-align: middle;
            }

    .divConfirmationTexts > div {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        min-height: 30px;
    }

        .divConfirmationTexts > div:nth-child(1) {
            width: 50px;
            height: 40px;
            padding: 2px;
            box-sizing: border-box;
        }

            .divConfirmationTexts > div:nth-child(1) > div {
                height: 100%;
                width: 36px;
                margin-left: 5px;
                background-size: 36px;
                background-repeat: no-repeat;
                border-radius: 10px;
            }


        .divConfirmationTexts > div:nth-child(2) {
            width: 240px;
            box-sizing: border-box;
            color: gray;
            text-align: left;
        }
        .divConfirmationTexts.confirmationTab:nth-child(3) > div:nth-child(2) {
            color: var(--fontBlack);
        }
        .divConfirmationTexts.confirmationTab:not(:nth-child(3)) > div:nth-child(2) {
            color: var(--fontBlack);
            width: 295px;
        }
        .divTabCahierConfirmationEmbarcationBoxContainer .divConfirmationTexts.confirmationTab:not(:nth-child(3)) > div:nth-child(2) {

        }
        .divTabCahierConfirmationEmbarcationBoxContainer.confirmationTab .divConfirmationTexts > div:nth-child(2) {
            width: 200px;
        }/*Embarcation text in confirmation*/

        .divConfirmationTexts > div:nth-child(3) {
            width: 390px;
            color: var(--fontBlack);
            text-align: left;
        }
        .divConfirmationTexts.confirmationTab > div:nth-child(2) {
            width: 490px;
        }
        .divConfirmationTexts.confirmationTab > div:nth-child(3) {
            width: 140px;
        }

        .divConfirmationTexts > div:first-child > div:first-child {
            -moz-filter: brightness(0.5);
            -ms-filter: brightness(0.5);
            -webkit-filter: brightness(0.5);
            filter: brightness(0.5)rightness(0.5);
        }

        /*.divConfirmationTexts > div:nth-child(4).Buttons {
            top:-60px;
        }*/

.divTabCahierConfirmationEmbarcationBoxContainer {
    position: absolute;
    top: 57px;
    margin-top:53px;
    left: 370px;
    width: 320px;
    min-height:300px;
    background-color:yellow;
}
.divTabCahierConfirmationEmbarcationBox {
    position: relative;
    display:inline-block;
    margin-left: 40px;
    width: 300px;
    height: 124px;
    /*background-color: rgba(110, 250, 0, 0.36);*/
}
    .divTabCahierConfirmationEmbarcationBox.confirmationTab {
        position:absolute;
        width:320px;
        top:50px;
        margin-left:0px;
        /*background-color:rgba(156, 118, 39, 0.35);*/
    }
    .divTabCahierConfirmationEmbarcationBoxContainer .divConfirmationTexts {
        width: 320px;
    }
    .divTabCahierConfirmationEmbarcationBoxContainer .divConfirmationTexts > div:nth-child(2) {
        width:265px !important;
    }
    .divTabCahierConfirmationEmbarcationBoxContainer .ReturnButtons {
        top: 75px;
        background-blend-mode:exclusion;
        background-image:url(../img/icons/sail.png);
    }
        .divTabCahierConfirmationEmbarcationBoxContainer .ReturnButtons.ButtonChose {
            background-size:30px;
            background-color:var(--accent);
            color:white;
            background-blend-mode:unset;
            background-position-y: 3px;
        }
            .divTabCahierConfirmationEmbarcationBoxContainer .ReturnButtons.ButtonChose:hover {
                background-color: var(--accentHover);
            }

.divTabCahierConfirmationEmbarcationBox > div:nth-child(1) {
    position: absolute;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-image:,url(../img/icons/info.png),none;
    background-size: 25px, 100px;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 2px solid lightgray;
    background-color: white;
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s;
    cursor: pointer;
}
    .divTabCahierConfirmationEmbarcationBox > div:nth-child(1).PersonalSail {
        background-size:0px,100px;
        border-width: 0px;
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0);
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0);
        cursor:unset;
    }
    .divTabCahierConfirmationEmbarcationBox > div:nth-child(1):not(.PersonalSail):hover {
            margin-top: 15px;
            background-position-x: 0px,0px;
            background-position-y: 0px,0px;
            background-size: 30px, 100px;
            -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.6);
            -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.6);
            box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.6);
        }


        .divTabCahierConfirmationContainerTextsContainer {
            position: absolute;
            margin-top: 10px;
            margin-left: 130px;
            width: 170px;
            min-height: 20px;
            font-size: 25px;
            text-align: left;
        }

    .divTabCahierConfirmationContainerTextsContainer > div {
        position: relative;
        min-height: 20px;
        margin-bottom: 5px;
        color:var(--fontBlack);
        font-size:30px;
    }

        .divTabCahierConfirmationContainerTextsContainer > div:nth-child(2) {
            font-size: 20px;
            color: gray;
        }


.divTabCahierConfirmationEmbarcationButtonContainer {
    position:relative;
    height:30px;
    width:100%;
}
    .divTabCahierConfirmationEmbarcationButtonContainer > .Buttons {
        background-image: url(../img/icons/sail.png);
        background-blend-mode: exclusion;
    }

    #divTabCahierConfirmationInfosBox {
        position: relative;
        margin-left: 40px;
        width: 640px;
        height: 50px;
        background-color: azure;
    }

.divTabCahierConfirmationContainer textarea {
    position: relative;
    resize: none;
    left: 0px;
    top: 5px;
    margin-bottom: 5px;
    width: 385px;
    height:95px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white; /*rgb(237,237,237);*/
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-image: url(../img/icons/check-black.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 340px;
    background-position-y: 50px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
}

    .divTabCahierConfirmationContainer textarea:focus {
        -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.6);
        box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.6);
    }


.divTabCahierConfirmationDeleteBooking {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: dimgray;
    background-image: url(../img/icons/cancel.png);
    background-blend-mode: color-dodge;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transition:all 0.1s linear 0s;
}
.divTabCahierConfirmationDeleteBooking:hover {
    background-size:30px;
    width:40px;
    height:40px;
    top:-15px;
    right:-15px;
}

#divTabConfrimationButtonsContainer {
    position: relative;
    width: 600px;
    min-height: 10px;
    /*background-color: white;*/
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    /*border: 2px solid lightgray;*/
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
}
    #divTabConfrimationButtonsContainer > .Buttons:first-child {
        background-image: url(../img/logo/full_icon.svg);
    }
    #divTabConfrimationButtonsContainer > .Buttons:nth-child(2){
        background-image: url(../img/icons/guest.png);
    }
    #divTabConfrimationButtonsContainer >  .Buttons {
        vertical-align:bottom;
        display: inline-block;
        width:170px;
        background-position:center;
        background-position-x:5px;
        padding-left:50px;
        margin:10px 10px 10px 10px;
    }
