<div fxLayout="column" fxLayoutGap="15px">
    <!-- Table model template -->
    <ng-template
        #table
        let-dataSource="dataSource"
        let-showDescription="showDescription"
        let-showFullyBooked="showFullyBooked"
        let-showPending="showPending"
        let-columns="columns"
    >
        <div class="responsive-table">
            <table mat-table *ngIf="dataSource" [dataSource]="dataSource">
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let bookable">
                        <span
                            [ngClass]="{
                                inactive: isFull(showFullyBooked, bookable) || isAlreadyPending(showPending, bookable)
                            }"
                            >{{ bookable.name }}</span
                        >
                        <span *ngIf="isFull(showFullyBooked, bookable)" style="color: red"> [COMPLET]</span>
                        <span *ngIf="isAlreadyPending(showPending, bookable)" style="color: red"> [DEJA DEMANDE]</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let bookable">{{ showDescription ? bookable.description : '' }}</td>
                </ng-container>

                <ng-container matColumnDef="periodicPrice">
                    <th mat-header-cell *matHeaderCellDef natural-7em-column natural-align-right>Prix</th>
                    <td mat-cell *matCellDef="let bookable" natural-align-right>
                        <span *ngIf="bookable.periodicPrice !== '0.00'">
                            {{ bookable.periodicPrice | currency : 'CHF' }}&nbsp;/an
                        </span>
                        <span *ngIf="bookable.initialPrice !== '0.00'">
                            {{ bookable.initialPrice | currency : 'CHF' }}</span
                        >
                    </td>
                </ng-container>

                <ng-container matColumnDef="selection">
                    <th mat-header-cell *matHeaderCellDef natural-3em-column></th>
                    <td mat-cell *matCellDef="let bookable">
                        <mat-checkbox
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(bookable) : null"
                            [checked]="selection.isSelected(bookable)"
                            [disabled]="isFull(showFullyBooked, bookable) || isAlreadyPending(showPending, bookable)"
                        ></mat-checkbox>
                    </td>
                </ng-container>
            </table>
        </div>
    </ng-template>

    <div *ngIf="storagesDataSource?.data?.length">
        <h2 class="mat-title">Espaces de stockage</h2>
        <ng-container
            *ngTemplateOutlet="
                table;
                context: {
                    dataSource: storagesDataSource,
                    showDescription: true,
                    showFullyBooked: false,
                    showPending: false,
                    columns: ['selection', 'name', 'description', 'periodicPrice']
                }
            "
        ></ng-container>
    </div>
    <div *ngIf="servicesDataSource?.data?.length">
        <h2 class="mat-title">Services et prestations</h2>
        <ng-container
            *ngTemplateOutlet="
                table;
                context: {
                    dataSource: servicesDataSource,
                    showDescription: false,
                    showFullyBooked: false,
                    showPending: true,
                    columns: ['selection', 'name', 'description', 'periodicPrice']
                }
            "
        ></ng-container>
    </div>

    <div *ngIf="surveyDataSource?.data?.length">
        <h2 class="mat-title">Sondage</h2>
        <ng-container
            *ngTemplateOutlet="
                table;
                context: {
                    dataSource: surveyDataSource,
                    showDescription: false,
                    showFullyBooked: false,
                    showPending: true,
                    columns: ['selection', 'name', 'description']
                }
            "
        ></ng-container>
    </div>

    <div *ngIf="formationsDataSource?.data?.length">
        <h2 class="mat-title">Cours</h2>
        <ng-container
            *ngTemplateOutlet="
                table;
                context: {
                    dataSource: formationsDataSource,
                    showDescription: false,
                    showFullyBooked: true,
                    showPending: true,
                    columns: ['selection', 'name', 'description', 'periodicPrice']
                }
            "
        ></ng-container>
    </div>

    <div *ngIf="welcomeDataSource?.data?.length">
        <h2 class="mat-title">Séance d'accueil</h2>
        <ng-container
            *ngTemplateOutlet="
                table;
                context: {
                    dataSource: welcomeDataSource,
                    showDescription: false,
                    showFullyBooked: true,
                    showPending: true,
                    columns: ['selection', 'name', 'description', 'periodicPrice']
                }
            "
        ></ng-container>
    </div>
</div>
