@let person = user();
@if (person) {
    <div class="nat-expand">
        <div class="mat-font-title-sm nat-bold">{{ title() }}:</div>
        <a>{{ person.name }}</a>
        @if (person.email || person.mobilePhone) {
            ,
        }
        @if (person.email) {
            <a class="app-link" [href]="`mailto:${person.email}?subject=${emailSubject()}`">{{ person.email }} </a>
        }
        @if (person.email && person.mobilePhone) {
            ,
        }
        @if (person.mobilePhone) {
            <a class="app-link" [href]="`tel:${person.mobilePhone}`">{{ person.mobilePhone | nbsp }} </a>
        }
    </div>
}
