<div class="nat-expand">
    <div class="mat-subtitle-2 nat-no-margin-bottom">Personne de contact:</div>
    <a>{{ user().firstName }} {{ user().lastName }}</a>
    @if (user().email || user().mobilePhone) {
        ,
    }
    @if (user().email) {
        <a class="app-link" [href]="`mailto:${user().email}?subject=${emailSubject()}`">{{ user().email }} </a>
    }
    @if (user().email && user().mobilePhone) {
        ,
    }
    @if (user().mobilePhone) {
        <a class="app-link" [href]="`tel:${user().mobilePhone}`">{{ user().mobilePhone | nbsp }} </a>
    }
</div>
