#divTabCahierInfos {
}
.divTabCahierFieldsContainer {
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    position: relative;
    background-color: transparent;
    text-align: center;
    min-height: 100px;
    vertical-align: middle;
}
.TabCahierFields {
    position: relative;
    display: inline-block;
    padding: 8px;
    padding-top: 12px;
    color: black;
    font-size: 20px;
    width: 268px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    display: inline-block;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.divTabCahierInfosStartComment textarea {
    position: absolute;
    resize: none;
    left: 10px;
    top: 39px;
    width: 264px;
    box-sizing: border-box;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-left: 60px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-image: url(../img/icons/check-black.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 220px;
    background-position-y: 50px;
    color: black;
    font-size: 20px;
    font-family: Arial;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    outline: none;
    cursor: pointer;
}
.divTabCahierInfosStartComment > div:nth-child(2) {
    background-image: url(../img/icons/start-comment.png);
    margin-top: -2px;
    background-position-x: -1px;
}
.divTabCahierFieldsContainer + div {
    color: gray;
}

.TabCahierFields input {
    position: absolute;
    left: 10px;
    top: 39px;
    width: 200px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    padding-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 220px;
    background-position-y: 4px;
    color: black;
    font-size: 20px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    outline: none;
}
.TabCahierFields input::placeholder {
    color: gray;
}
.TabCahierFields input:hover {
    background-color: white;
}
.TabCahierFields input:focus {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
.TabCahierFields > div:nth-child(2) {
    position: absolute;
    left: 11px;
    top: 41px;
    width: 50px;
    height: 50px;
    background-color: black;
    z-index: 2;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-repeat: no-repeat;
    transition: all 0.1s linear 0s;
    background-size: 50px;
}

.divTabCahierInfosDestination > div:nth-child(2) {
    background-image: url(../img/icons/destination.png);
}
.PropositionsContainer {
    position: absolute;
    text-align: left;
    left: 50px;
    top: 100px;
}

.divTabCahierInfosDestinationPropositions {
    width: 220px;
    height: 50px;
    background-color: transparent;
}
#divTabCahierInfosEndTimePropositions {
    width: 500px;
    height: 50px;
    background-color: blue;
}
.PropositionsContainer > div {
    display: inline-block;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 200px;
    margin-right: -190px;
    opacity: 0;
    margin-bottom: 5px;
    padding-top: 5px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
    transition:
        all 0.2s linear 0s,
        background-color 0.1s linear 0s;
    cursor: pointer;
}
.PropositionsContainer > div:hover {
    background-color: lightgray;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.divTabCahierInfosNbrInvites input {
    left: 50%;
    margin-left: -65px;
    width: 70px;
    background-position-x: 90px;
}
.divTabCahierInfosNbrInvites > div:nth-child(2) {
    background-image: url(../img/icons/participant-count.png);
    left: 50%;
    margin-left: -65px;
}
