@if (dataSource && dataSource.data?.length) {
    <div class="responsive-table">
        <table mat-table [dataSource]="dataSource">
            <tr *matRowDef="let row; columns: columns" mat-row></tr>

            <ng-container matColumnDef="name">
                <td *matCellDef="let element" mat-cell>
                    @if (edit) {
                        <div class="nat-vertical">
                            <mat-form-field class="no-bottom-spacing">
                                <mat-label>nom</mat-label>
                                <input matInput [(ngModel)]="element.name" (change)="updateOrCreate(element)" />
                            </mat-form-field>
                        </div>
                    }
                    @if (!edit) {
                        <div class="mat-subtitle-2">{{ element.name }}</div>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="value">
                <td *matCellDef="let element" mat-cell>
                    @if (edit) {
                        <div class="nat-vertical">
                            @if (edit) {
                                <mat-form-field class="no-bottom-spacing">
                                    <mat-label>Valeur</mat-label>
                                    <input matInput [(ngModel)]="element.value" (change)="updateOrCreate(element)" />
                                </mat-form-field>
                            }
                        </div>
                    }
                    @if (!edit) {
                        <div>{{ element.value }}</div>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th *matHeaderCellDef mat-header-cell natural-1em-column></th>
                <td *matCellDef="let element" mat-cell>
                    @if (element.id) {
                        <button
                            mat-icon-button
                            color="warn"
                            [disabled]="deleting.has(element)"
                            (click)="delete(element)"
                        >
                            <mat-icon naturalIcon="delete" />
                        </button>
                    }
                </td>
            </ng-container>
        </table>
    </div>
}
