@let line = transactionLine();
@let account = relativeToAccount();
@if (line && account && line.balance !== '0.00' && isIncome() !== null) {
    <div
        [class.positive]="isIncome() === true"
        [class.negative]="isIncome() === false"
        [class.background-decoration]="displayMode() === 'account'"
        [class.text-decoration]="displayMode() === 'amount'"
    >
        @if (displayMode() === 'amount') {
            <span>{{ isIncome() ? '➚' : '➘︎' }}&nbsp;{{ line.balance | currency: 'CHF' }}</span>
        } @else {
            <a
                matTooltip="Voir les transactions"
                [routerLink]="transactionLineService.linkToTransactionLinesForAccount(account)"
                (click)="propagateAccount(account)"
                >{{ isIncome() ? '➚' : '➘︎' }}&nbsp;{{ account.name }}</a
            >
        }
    </div>
}
