@if (transactionLine && relativeToAccount && transactionLine.balance !== '0.00' && isIncome !== null) {
    <div
        [class.positive]="isIncome === true"
        [class.negative]="isIncome === false"
        [class.background-decoration]="displayMode === 'account'"
        [class.text-decoration]="displayMode === 'amount'"
    >
        @if (displayMode === 'amount') {
            <span>{{ isIncome ? '➚' : '➘︎' }}&nbsp;{{ transactionLine.balance | currency: 'CHF' }}</span>
        }
        @if (displayMode === 'account') {
            <a
                matTooltip="Voir les transactions"
                [routerLink]="transactionLineService.linkToTransactionLinesForAccount(relativeToAccount)"
                (click)="propagateAccount(relativeToAccount)"
                >{{ isIncome ? '➚' : '➘︎' }}&nbsp;{{ relativeToAccount.name }}</a
            >
        }
    </div>
}
