@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-headline-5 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                [buttons]="buttons"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-horizontal nat-margin-vertical overflow">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [selections]="naturalSearchSelections"
                    [multipleGroups]="true"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>
                    @if (!relativeToAccount) {
                        <tr *matFooterRowDef="columnsForTable" mat-footer-row></tr>
                    }

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                        <td *matCellDef="let element" mat-cell>
                            <natural-table-button
                                matTooltip="Éditer"
                                [label]="element.name"
                                [navigate]="['/admin', 'transaction', element.transaction.id]"
                            />
                        </td>
                        <td *matFooterCellDef mat-footer-cell>Total</td>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Remarques</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="line-break">{{ element.remarks }}</div>
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="balance">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header natural-4em-column>Montant</th>
                        <td *matCellDef="let element" mat-cell>
                            <app-money [amount]="element.balance" [showCurrency]="false" [showSignal]="false" />
                        </td>
                        <td *matFooterCellDef mat-footer-cell>
                            @if (!relativeToAccount && dataSource.data?.totalBalance > 0) {
                                <app-money
                                    [amount]="dataSource.data?.totalBalance"
                                    [showCurrency]="false"
                                    [showSignal]="false"
                                />
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="account">
                        <th *matHeaderCellDef mat-header-cell>Compte</th>
                        <td *matCellDef="let element" mat-cell>
                            <div class="nat-horizontal nat-gap-1 nat-left nat-top">
                                @if (!relativeToAccount) {
                                    <div>
                                        <app-transaction-amount
                                            displayMode="account"
                                            style="margin: 0 3px 3px 0"
                                            [transactionLine]="element"
                                            [relativeToAccount]="element.debit"
                                            (accountClick)="filterByAccount($event)"
                                        />
                                        <app-transaction-amount
                                            displayMode="account"
                                            [transactionLine]="element"
                                            [relativeToAccount]="element.credit"
                                            (accountClick)="filterByAccount($event)"
                                        />
                                    </div>
                                }
                                @if (!!relativeToAccount) {
                                    <div>
                                        <app-transaction-amount
                                            displayMode="amount"
                                            [transactionLine]="element"
                                            [relativeToAccount]="relativeToAccount"
                                        />
                                    </div>
                                }
                            </div>
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="isReconciled">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header class="app-date-column">Pointé</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (!permissionsService.crud?.transaction.create) {
                                <div>
                                    {{ element.isReconciled ? '✔︎' : '' }}
                                </div>
                            }
                            @if (permissionsService.crud?.transaction.create) {
                                <div>
                                    <mat-checkbox
                                        [checked]="element.isReconciled"
                                        (change)="updateReconciled($event, element)"
                                    />
                                </div>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="bookable">
                        <th *matHeaderCellDef mat-header-cell>Réservable</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.bookable) {
                                <natural-table-button
                                    [label]="element.bookable.name"
                                    [navigate]="['/admin/bookable', element.bookable.id]"
                                />
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="transactionDate">
                        <th *matHeaderCellDef mat-header-cell class="app-date-column" mat-sort-header>Date</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.transactionDate | swissDate }}
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="documents">
                        <th *matHeaderCellDef mat-header-cell>Justificatifs</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ documentCount(element) || '' }}
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>

                    <ng-container matColumnDef="tag">
                        <th *matHeaderCellDef mat-header-cell>Tag</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.transactionTag) {
                                <div class="nat-horizontal nat-left nat-top">
                                    <natural-avatar
                                        [bgColor]="element.transactionTag.color"
                                        [size]="32"
                                        [initials]="element.transactionTag.name"
                                    />
                                    <natural-table-button
                                        matTooltip="Voir les transactions"
                                        [label]="element.transactionTag.name"
                                        (buttonClick)="filterByTag(element.transactionTag)"
                                    />
                                </div>
                            }
                        </td>
                        <td *matFooterCellDef mat-footer-cell></td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-margin">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}

@if (!hideFab && permissionsService.crud?.transaction.create) {
    <natural-fixed-button icon="add" [routerLink]="['/admin/transaction/new']" />
}
