@use 'sass:map';
@use '@angular/material' as mat;

@mixin flag($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    app-flag.full {
        background: mat.m2-get-color-from-palette($warn);
        color: mat.m2-get-color-from-palette($warn, default-contrast);
    }

    app-flag.unlimited,
    app-flag.available {
        background: rgb(71, 199, 0);
        color: mat.m2-get-color-from-palette($warn, default-contrast);
    }

    app-flag.waitingList {
        background: mat.m2-get-color-from-palette($accent);
        color: mat.m2-get-color-from-palette($accent, default-contrast);
    }

    app-flag.pending-application:not(.full) {
        background: mat.m2-get-color-from-palette($accent);
        color: mat.m2-get-color-from-palette($accent, default-contrast);
    }
}
