@if (bookable) {
    <div fxLayout="column" style="max-width: 1100px; margin: auto" fxLayoutGap="40px" class="padding">
        <natural-file
            [model]="bookable.image"
            [height]="400"
            [style.borderRadius.px]="4"
            class="mat-elevation-z2"
        ></natural-file>
        <div fxLayout="row" fxLayoutAlign="start stretch" class="mat-headline-4">
            <div fxFlex>{{ bookable.name }}</div>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-divider [vertical]="true"></mat-divider>
                <div fxLayout="column" fxLayoutAlign="center">{{ bookable.code }}</div>
            </div>
        </div>
        @if (!hasLicense || !welcomeSessionTaken) {
            <div fxLayout="column" fxLayoutGap="10px" class="mat-body-2">
                @if (!hasLicense) {
                    <div fxLayoutAlign="start center">
                        <mat-icon color="warn" fontIcon="error"></mat-icon>
                        Tu ne disposes pas des licences requises pour utiliser cette embarcation
                    </div>
                }
                @if (!welcomeSessionTaken) {
                    <div fxLayoutAlign="start center">
                        <mat-icon color="warn" fontIcon="warning"></mat-icon>
                        <span
                            >Il te faut suivre une
                            <a href="https://ichtus.ch/le-club/seance-daccueil/" target="_blank">séance d'accueil</a>
                            avant d'utiliser le matériel du club !</span
                        >
                    </div>
                }
            </div>
        }
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            @if (!isAvailable && runningBooking) {
                <div class="mat-body-2">Sorti {{ runningBooking.startDate | timeago }}</div>
            }
            @if (isNavigable && isAvailable) {
                <button
                    mat-flat-button
                    color="primary"
                    [disabled]="!hasLicense"
                    [routerLink]="['../new', {bookable: bookable.id}]"
                >
                    Annoncer une sortie
                </button>
            }
            @if (isNavigable && !isAvailable && runningBooking) {
                <button mat-flat-button color="warn" (click)="endBooking()">Terminer</button>
            }
            @if (canAccessAdmin) {
                <a mat-stroked-button color="primary" [routerLink]="['/admin/bookable', bookable.id]">Administration</a>
            }
        </div>
        <div class="mat-headline-5 line-break">{{ bookable.description }}</div>
        <div class="mat-subtitle-1 line-break">{{ bookable.remarks }}</div>
    </div>
}

@if (!bookable) {
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="padding">
        <div class="mat-headline-4" style="text-align: center">
            Aucun matériel correspondant à ce code n'a été trouvé
        </div>
        <button mat-flat-button color="primary" (click)="back()">Revenir à la page précédente</button>
    </div>
}
