@if (bookable) {
    <div class="nat-vertical nat-padding nat-gap-30" style="max-width: 1100px; margin: auto">
        <natural-file class="mat-elevation-z2" [model]="bookable.image" [height]="400" [style.borderRadius.px]="4" />
        <div class="nat-horizontal mat-font-headline-lg">
            <div class="nat-expand">{{ bookable.name }}</div>
            <div class="nat-horizontal nat-gap">
                <mat-divider [vertical]="true" />
                <div class="nat-vertical nat-center">{{ bookable.code }}</div>
            </div>
        </div>
        @if (!hasLicense || !welcomeSessionTaken) {
            <div class="nat-vertical nat-gap-10">
                @if (!hasLicense) {
                    <div class="nat-horizontal nat-align">
                        <mat-icon color="error" fontIcon="error" />
                        Tu ne disposes pas des licences requises pour utiliser cette embarcation
                    </div>
                }
                @if (!welcomeSessionTaken) {
                    <div class="nat-horizontal nat-align">
                        <mat-icon color="error" fontIcon="warning" />
                        <span>
                            Il te faut suivre une
                            <a href="https://ichtus.ch/le-club/seance-daccueil/" target="_blank">séance d'accueil</a>
                            avant d'utiliser le matériel du club !
                        </span>
                    </div>
                }
            </div>
        }
        <div class="nat-horizontal nat-gap-10 nat-right nat-center">
            @if (!isAvailable && runningBooking) {
                <div>Sorti {{ runningBooking.startDate | timeago }}</div>
            }
            @if (isNavigable && isAvailable) {
                <a matButton="filled" [disabled]="!hasLicense" [routerLink]="['../new', {bookable: bookable.id}]">
                    Annoncer une sortie
                </a>
            }
            @if (isNavigable && !isAvailable && runningBooking) {
                <button mat-flat-button color="error" (click)="endBooking()">Terminer</button>
            }
            @if (canAccessAdmin) {
                <a matButton="outlined" [routerLink]="['/admin/bookable', bookable.id]">Administration</a>
            }
        </div>
        <div class="mat-font-headline-sm line-break">{{ bookable.description }}</div>
        <div class="mat-font-title-md line-break">{{ bookable.remarks }}</div>
        <app-user-contact-data title="Responsable" [user]="bookable.owner" />
    </div>
}

@if (!bookable) {
    <div class="nat-expand nat-padding nat-vertical nat-center">
        <div class="mat-font-headline-lg" style="text-align: center">
            Aucun matériel correspondant à ce code n'a été trouvé
        </div>
        <button matButton="filled" (click)="back()">Revenir à la page précédente</button>
    </div>
}
