<div [formGroup]="form" class="detail-body">
    <natural-detail-header
        [newLabel]="data.seo.title"
        label="Tag de réservable"
        [model]="data.model"
        [listRoute]="['admin', 'bookable-tag']"
    />

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab id="general" label="Général">
            <div fxLayout="column" fxLayoutGap="30px" class="padding-top">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0" fxLayoutGap.gt-sm="30px">
                    <div fxFlex="66" fxLayout="column">
                        <mat-form-field>
                            <input matInput formControlName="name" (change)="update()" />
                            <mat-label>Nom</mat-label>
                            @if (form.get('name')?.hasError('maxlength')) {
                                <mat-error>
                                    Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                                </mat-error>
                            }
                            @if (form.get('name')?.hasError('required')) {
                                <mat-error>Requis</mat-error>
                            }
                            @if (form.get('name')?.hasError('duplicateValue')) {
                                <mat-error> Ce tag existe déjà </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div fxFlex="33" fxLayout="column">
                        <input
                            matInput
                            type="color"
                            formControlName="color"
                            (change)="update()"
                            style="height: 50px; width: 50px"
                        />
                    </div>
                </div>

                @if (isUpdatePage()) {
                    <natural-stamp [item]="data.model" />
                }
            </div>
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
