@if (viewer && dataSource) {
    <div class="nat-vertical" style="gap: 50px">
        @if (!adminMode && !viewer.owner) {
            <div>
                <h2 class="mat-font-headline-sm nat-margin-bottom">Finances</h2>
                <mat-form-field [style.width.px]="350">
                    <mat-label>IBAN</mat-label>
                    <input matInput [formControl]="ibanCtrl" (change)="updateIban()" (blur)="lockIbanIfDefined()" />
                    <button
                        mat-icon-button
                        matIconSuffix
                        matTooltip="Déverouiller"
                        [disabled]="ibanCtrl.enabled || updating"
                        (click)="ibanCtrl.enable()"
                    >
                        <mat-icon naturalIcon="lock" />
                    </button>
                    <mat-error>{{ ibanCtrl.errors | errorMessage }}</mat-error>
                    <mat-hint>Pour pouvoir demander un remboursement</mat-hint>
                </mat-form-field>
            </div>
        }
        <div class="nat-vertical nat-gap">
            <div class="nat-gap-10 nat-horizontal nat-align nat-wrap">
                <h2 class="nat-expand mat-font-headline-sm nat-no-margin nat-no-collapse">
                    Dépenses et remboursements en attente
                </h2>
                <div class="nat-gap-10 nat-horizontal nat-wrap">
                    @if (!adminMode) {
                        <a
                            mat-stroked-button
                            matTooltip="Pour les dépenses déjà payées par toi pour le club"
                            [routerLink]="['/profile/create-expense-claim']"
                        >
                            Annoncer une dépense
                        </a>
                    }
                    <span
                        [matTooltip]="
                            canCreateExpenseClaim ? '' : 'Saisir ton IBAN pour pouvoir demander un remboursement'
                        "
                    >
                        @if (!adminMode && !viewer.owner) {
                            <button
                                mat-stroked-button
                                matTooltip="Pour un transfert de ton solde de membre vers ton compte bancaire"
                                [disabled]="!canCreateExpenseClaim"
                                (click)="createRefund()"
                            >
                                Demander un remboursement
                            </button>
                        }
                    </span>
                    @if (!adminMode) {
                        <a
                            mat-stroked-button
                            matTooltip="Pour les factures à payer au prestataire par le club"
                            [routerLink]="['/profile/create-invoice']"
                        >
                            Annoncer une facture
                        </a>
                    }
                </div>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-vertical nat-center nat-padding">Aucune annonce</div>
            } @else {
                <div class="responsive-table">
                    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                        <tr *matHeaderRowDef="selectedColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: selectedColumns" mat-row></tr>

                        <ng-container matColumnDef="name">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom</th>
                            <td *matCellDef="let expenseClaim" mat-cell>{{ expenseClaim.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="updateDate">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Dernière modification</th>
                            <td *matCellDef="let expenseClaim" mat-cell>
                                {{ expenseClaim.updateDate | date: 'dd.MM.y' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th
                                *matHeaderCellDef
                                mat-header-cell
                                mat-sort-header
                                class="natural-align-right"
                                arrowPosition="before"
                            >
                                Montant
                            </th>
                            <td *matCellDef="let expenseClaim" mat-cell class="natural-align-right">
                                <app-money [amount]="expenseClaim.amount" [showSignal]="false" [showCurrency]="true" />
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>État</th>
                            <td *matCellDef="let expenseClaim" mat-cell>
                                {{ expenseClaim.status | enum: 'ExpenseClaimStatus' | async }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                            <td *matCellDef="let expenseClaim" mat-cell>
                                {{ expenseClaim.type | enum: 'ExpenseClaimType' | async }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="remarks">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Remarques</th>
                            <td *matCellDef="let expenseClaim" mat-cell>
                                <div class="line-break">{{ expenseClaim.remarks }}</div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="cancel">
                            <th *matHeaderCellDef mat-header-cell class="natural-1em-column"></th>
                            <td *matCellDef="let expenseClaim" mat-cell>
                                @if (expenseClaim.permissions.delete) {
                                    <button
                                        mat-icon-button
                                        color="warn"
                                        matTooltip="Supprimer définitivement"
                                        [disabled]="deleting.has(expenseClaim.id)"
                                        (click)="cancelExpenseClaim(expenseClaim)"
                                    >
                                        <mat-icon naturalIcon="delete" />
                                    </button>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="admin">
                            <th *matHeaderCellDef mat-header-cell class="natural-1em-column">Traiter</th>
                            <td *matCellDef="let item" mat-cell>
                                <a
                                    mat-icon-button
                                    class="icon-button-circle-accent"
                                    [routerLink]="['/admin/expense-claim', item.id]"
                                >
                                    <mat-icon naturalIcon="chevron_right" />
                                </a>
                            </td>
                        </ng-container>
                    </table>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-vertical nat-center nat-margin">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageSize]="dataSource.data?.pageSize"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}
