<div class="detail-body" [formGroup]="form">
    <natural-detail-header
        label="Tag d'utilisateur"
        [newLabel]="data.seo.title"
        [model]="data.model"
        [listRoute]="['admin', 'user-tag']"
    />

    <mat-tab-group naturalLinkableTab [dynamicHeight]="true" (selectedIndexChange)="changeTab($event)">
        <mat-tab id="general" label="Général">
            <div class="nat-vertical nat-padding-top nat-gap-horizontal nat-md-horizontal">
                <div class="nat-vertical nat-md-expand-66">
                    <mat-form-field>
                        <input matInput formControlName="name" (change)="update()" />
                        <mat-label>Nom</mat-label>
                        @if (form.get('name')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum {{ form.get('name')?.errors?.maxlength?.requiredLength }} caractères
                            </mat-error>
                        }
                        @if (form.get('name')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                        @if (form.get('name')?.hasError('duplicateValue')) {
                            <mat-error>Ce tag existe déjà</mat-error>
                        }
                    </mat-form-field>

                    @if (isUpdatePage()) {
                        <div>
                            <h2 class="mat-headline-6">Utilisateurs tagués</h2>
                            <natural-relations
                                placeholder="Taguer un utilisateur"
                                [main]="data.model"
                                [service]="userService"
                                [filter]="{groups: [{conditions: [{userTags: {have: {values: [data.model.id]}}}]}]}"
                                [disabled]="!data.model.permissions.update"
                            >
                                <ng-template let-item="item">
                                    <div class="nat-horizontal nat-align nat-gap-10">
                                        <natural-table-button
                                            [navigate]="['/admin/user/', item.id]"
                                            [label]="item.name"
                                        />
                                    </div>
                                </ng-template>
                            </natural-relations>
                        </div>
                    }
                </div>

                <div class="nat-md-expand-33 nat-vertical">
                    <input
                        matInput
                        type="color"
                        formControlName="color"
                        style="height: 50px; width: 50px"
                        (change)="update()"
                    />
                </div>
            </div>

            @if (isUpdatePage()) {
                <mat-divider class="nat-margin-vertical" />
                <natural-stamp [item]="data.model" />
            }
        </mat-tab>
    </mat-tab-group>

    @if (showFabButton) {
        <natural-fixed-button-detail [form]="form" [model]="data.model" (create)="create()" (delete)="delete()" />
    }
</div>
