@if (dataSource) {
    <div class="nat-vertical">
        <div class="nat-horizontal">
            <div class="mat-headline-5 nat-no-margin nat-expand">
                {{ routeData?.seo.title }}
            </div>
            <natural-columns-picker
                [availableColumns]="availableColumns"
                [selections]="selectedColumns"
                (selectionChange)="selectColumns($event)"
            />
        </div>
        <div class="nat-vertical">
            <div class="nat-margin-vertical overflow nat-horizontal">
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                />
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="creationDate">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
                        <td *matCellDef="let element" mat-cell>
                            {{ element.creationDate | date: 'dd.MM.y HH:mm:ss' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Message</th>
                        <td *matCellDef="let element" mat-cell>{{ element.message }}</td>
                    </ng-container>

                    <ng-container matColumnDef="creator">
                        <th *matHeaderCellDef mat-header-cell>Utilisateur</th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.creator) {
                                <natural-table-button
                                    matTooltip="Éditer"
                                    [label]="element.creator?.name"
                                    [navigate]="['/admin/user', element.creator?.id]"
                                />
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ip">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header class="natural-3em-column">IP</th>
                        <td *matCellDef="let element" mat-cell>{{ element.ip }}</td>
                    </ng-container>

                    <ng-container matColumnDef="referer">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Referer</th>
                        <td *matCellDef="let element" mat-cell>{{ element.referer }}</td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-margin nat-vertical nat-center">
                    <div>Pas de résultats</div>
                </div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-vertical nat-center">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            @if (dataSource.data?.length) {
                <mat-paginator
                    [length]="dataSource.data?.length"
                    [pageIndex]="dataSource.data?.pageIndex"
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dataSource.data?.pageSize"
                    (page)="pagination($event)"
                />
            }
        </div>
    </div>
}
