@use '@ecodev/natural-layout' as nat;

#searchByCode {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    padding: 3px 5px;
    max-width: 300px;

    input {
        display: block;
        outline: none;
        border: none;
        background: transparent;
        padding: 5px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
}

mat-toolbar {
    .admin-avatar {
        text-decoration: none;
    }

    @include nat.media(null, sm) {
        padding-right: 4px;
        padding-left: 4px;
    }
}
