#divTabCahierMaterielElements {
}


.divTabCahierMaterielElementsContainer {
    position: relative;
    width: 95%;
    left: 2.5%;
    margin-top:30px;
    min-height: 100px;
    background-color: transparent;
    text-align: center;
}

    .divTabCahierMaterielElementsContainer > div {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        top: 0px;
        width: 215px;
        height: 300px;
        margin: 10px;
        cursor:pointer;
    }

        .divTabCahierMaterielElementsContainer > div.selected > div {
            border:5px solid var(--accent);
        }


        .divTabCahierMaterielElementsContainer > div > div {
            position: absolute;
            box-sizing: border-box; /*TELLEMENT BIEN !!*/
            /*border: 2px solid black;*/
            top: 0px;
            width: 100%;
            height: 100%;
            margin: 0px;
            border-radius: 24px;
            background-color: white;
            -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
            box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
            transition: all 0.1s linear 0s;
            border: 5px solid transparent;
        }

        .divTabCahierMaterielElementsContainer > div:hover > div {
            top: 5px;
            -webkit-box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.5);
            box-shadow: 2px 3px 8px 0px rgba(0,0,0,0.5);
            /*background-color: lightgray;*/
        }


        .divTabCahierMaterielElementsContainer > div > div > div:nth-child(1) {
            position: absolute;
            right: 0px;
            bottom: 70px;
            width: 80px;
            height: 40px;
            border-top-left-radius: 20px;
            background-color: white;
            -webkit-box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.3);
            box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.3);
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            box-sizing: border-box;
            padding-top: 8px;
            z-index: 2;
        }

        .divTabCahierMaterielElementsContainer > div > div > div:nth-child(2) {
            position: absolute;
            display:table;
            left: 0px;
            top: 220px;
            width: 100%;
            height: 70px;
            box-sizing: border-box; /*TELLEMENT BIEN !!*/
            border-top: 2px solid gray;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            opacity: 1;
            z-index: 3;
            transition: background-color 0.1s linear 0s;
            text-align:right;
        }


        .divTabCahierMaterielElementsContainer > div > div > div:nth-child(2) > div:nth-child(1) {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            margin-top: 20px;
            width: 200px;
            height: 25px;
            font-size: 20px;
            color: black;
            transition: all 0.1s linear 0s;
            text-align: center;
            padding: 5px 10px 5px 10px;
        }


        .divTabCahierMaterielElementsContainer > div > div > div:nth-child(3) {
            position: absolute;
            width: 100%;
            height: 220px;
            z-index: 0;
            background-repeat: no-repeat;
            background-size: 220px;
            background-position: center;
            transition: all 0.2s linear 0s;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
        }

        .divTabCahierMaterielElementsContainer > div:hover > div > div:nth-child(3) {
            background-size: 240px;
        }


        .divTabCahierMaterielElementsContainer > div > div > div:nth-child(4) {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 220px;
            z-index: 0;
            background-image: url(../Img/IconChose.png);
            background-repeat: no-repeat;
            background-size: 0px;
            background-position: center;
            transition: all 0.2s linear 0s;
        }

        .divTabCahierMaterielElementsContainer > div:hover > div > div:nth-child(4) {
            background-size: 218px;
        }

        .divTabCahierMaterielElementsContainer > div.selected:hover > div > div:nth-child(4) {
            background-size: 100px;
            background-image: url(../Img/IconChoseBlue.png);
        }
        .divTabCahierMaterielElementsContainer > div.selected > div > div:nth-child(4) {
            background-size: 200px;
            background-image: url(../Img/IconChoseBlue.png);
        }


        .divTabCahierMaterielElementsContainer > div > div > div:nth-child(5) {
            position: absolute;
            left: 5px;
            top: 5px;
            width: 30px;
            height: 30px;
            background-image: url(../Img/IconInfo.png);
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
            transition: all 0.1s linear 0s;
            border-radius:30px;
        }

            .divTabCahierMaterielElementsContainer > div > div > div:nth-child(5):hover {
                background-color: white;
                background-size:40px;
            }



#divTabCahierMaterielElementsButtonsContainer {
    position: relative;
    width: 95%;
    border-left-width: 130px;
    border-left-style: solid;
    border-color:transparent;
    min-height: 10px;
    text-align: right;
    background-color: transparent;
    left: 2.5%;
    box-sizing: border-box;
}

    #divTabCahierMaterielElementsButtonsContainer > div {
        display: inline-block;
        position: relative;
        background-color: transparent;
        top: 0px;
        height: 40px; /*important ?*/
        vertical-align: top;
        margin-bottom: 5px;
    }

        #divTabCahierMaterielElementsButtonsContainer > div > div {
            position: absolute;
        }

        #divTabCahierMaterielElementsButtonsContainer > div select {
            position: absolute;
            padding-left: 10px;
            margin-left: 40px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            background-color: white;
        }


#divTabCahierMaterielElementsSelectSort {
    transition: all 0.1s linear 0s;
    z-index: 2;
}

    #divTabCahierMaterielElementsSelectSort:hover {
        margin-top: 4px;
    }

    #divTabCahierMaterielElementsSelectSort > div {
        position: absolute;
        width: 30px;
        background-color: white;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-image: url(../Img/IconSortASC.png);
        -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    }

        #divTabCahierMaterielElementsSelectSort > div:hover {
            margin-top: 0px;
            background-position-x: 0px;
            background-position-y: -1px;
            background-size: 40px;
        }





#divTabCahierMaterielElementsSelectCategorie {
    transition: all 0.1s linear 0s;
    z-index: 2;
}

    #divTabCahierMaterielElementsSelectCategorie:hover {
        margin-top: 4px;
    }

    #divTabCahierMaterielElementsSelectCategorie > div {
        position: absolute;
        width: 30px;
        background-color: white;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-image: url(../Img/IconChose.png);
        -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    }

        #divTabCahierMaterielElementsSelectCategorie > div:hover {
            margin-top: 0px;
        }





#divTabCahierMaterielElementsSelectPageSize {
    transition: all 0.1s linear 0s;
    z-index: 2;
}

    #divTabCahierMaterielElementsSelectPageSize:hover {
        margin-top: 4px;
    }

    #divTabCahierMaterielElementsSelectPageSize > div {
        position: absolute;
        width: 30px;
        background-color: white;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        background-image: url(../Img/IconEye.png);
        -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    }

        #divTabCahierMaterielElementsSelectPageSize > div:hover {
            margin-top: 0px;
        }

#inputTabCahierMaterielElementsInputSearch {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white; /*rgb(237,237,237);*/
    padding-left: 40px;
    padding-right:5px;
    padding-top: 0px;
    height: 34px;
    width: 120px;
    padding-bottom: 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 65px;
    background-position-y: 4px;
    color: black;
    font-size: 20px;
    /*text-transform: capitalize;*/
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
    transition: all 0.1s linear 0s, width 0.2s linear 0s, margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    border-radius: 10px;
    background-image: url(../Img/IconSearchBlack.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 34px;
    /*text-align: center;*/
}

    #inputTabCahierMaterielElementsInputSearch::placeholder {
        color: gray;
    }

    #inputTabCahierMaterielElementsInputSearch:focus {
        border-color: var(--accent);
        background-image: url(../Img/IconSearchBlue.png);
        width: 200px;
        -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.5);
    }

    #inputTabCahierMaterielElementsInputSearch:hover {
        margin-top: 4px;
    }


.divTabCahierMaterielElementsPopUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 450px;
    /*font-size: 25px;*/
    background-color:white;
    border-radius:20px;
}


    .divTabCahierMaterielElementsPopUp > div:nth-child(2) {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 215px;
        height: 220px;
        background-repeat: no-repeat;
        border-radius: 10px;
        border: 2px solid lightgray;
        -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    }

    .divTabCahierMaterielElementsPopUp > div:nth-child(3) {
        position: absolute;
        left: 20px;
        margin-left: 10px;
        top: 260px;
        width: 660px;
        height: 40px;
        font-size: 25px;
    }

    .divTabCahierMaterielElementsPopUp > div:nth-child(4) {
        position: absolute;
        left: 20px;
        top: 290px;
        width: 495px;
        height: 140px;
        border-radius: 10px;
        border: 2px solid lightgray;
        box-sizing: border-box;
        padding: 8px;
        overflow-y:auto;
        color:var(--fontBlack);
    }


    .divTabCahierMaterielElementsPopUp > .ValidateButtons {
        position: absolute;
        right: 20px;
        top: 376px;
        width: 145px;
        background-image:url(../Img/IconValidated.png);
    }

    .divTabCahierMaterielElementsPopUp > .ReturnButtons {
        position: absolute;
        right: 20px;
        top: 290px;
        width: 145px;
        margin-left: 0px;
        background-image:url(../Img/IconHistory.png);
    }

        .divTabCahierMaterielElementsPopUp > .ReturnButtons::after {
            content: none;
        }



        .divTabCahierMaterielElementsPopUp > div:nth-child(2) {
            font-size: 120px;
            color: darkgray;
        }


.divTabCahierMaterielElementsContainerTextsContainer {
    position:absolute;
    left:260px;
    width:420px;
    height:225px;
    top:20px;
    font-size:20px;
    color:var(--fontBlack);
    overflow-y:scroll;
}

.divTabCahierMaterielElementsContainerTextsContainer > div {
    margin-bottom:5px;
}

.divTabCahierMaterielElementsContainerTextsContainer > div:nth-child(1) {
    font-size: 30px;
    margin-bottom:0px;
}

    .divTabCahierMaterielElementsContainerTextsContainer > div:nth-child(2) {
        color: var(--fontBlack);
        margin-bottom: 10px;
    }

    .divTabCahierMaterielElementsContainerTextsContainer > div:nth-child(3) {
       font-size:15px;
       color:darkgray;
       background-repeat:no-repeat;
       background-position-y:center;
       background-position-x:5px;
       background-size:20px;
    }

    .divTabCahierMaterielElementsContainerTextsContainer > div:nth-child(4) {
        color: gray;
    }

    .divTabCahierMaterielElementsContainerTextsContainer > div:nth-child(1n+5) {
        color: darkgray;
    }

