@use '@angular/material' as mat;

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

natural-sidenav-container {
    @include mat.sidenav-overrides(
        (
            container-width: 240px,
        )
    );
}

mat-accordion {
    @include mat.expansion-overrides(
        (
            container-background-color: transparent,
        )
    );
}

::ng-deep app-admin .mat-font-title-lg {
    margin-bottom: 0.3em;
}
