<natural-sidenav-container [noScroll]="true" fxFlex name="adminMenu">
    <natural-sidenav>
        <div class="margin overflow">
            <mat-accordion displayMode="flat">
                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.canAccessNavigations(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Carnet de sorties</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="active" routerLink="/admin">En cours</a>
                        <a mat-list-item routerLinkActive="active" routerLink="booking/self-approved">Toutes</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.canAccessUsers(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Utilisateurs</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [class.active]="adminUserRouteActive" routerLink="user"
                            >Tous les utilisateurs</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="user/newcomer"
                            *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Nouveaux membres</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="user/member"
                            *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Membres</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="user/staff"
                            *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Comité</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="user/non-active"
                            *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Non actifs</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="user-tag"
                            *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Tags</a
                        >
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Matériel nautique</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/sup">SUP</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/planche">Planches</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/canoe">Canoës</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/kayak">Kayaks</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/aviron">Aviron</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/voile-legere">Voile légère</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/voile-lestee">Voile lestée</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Stockage</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/armoire">Armoires</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/casier">Casiers</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/flotteur">Flotteurs</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/ratelier">Râteliers WBC</a>
                        <a mat-list-item routerLinkActive="active" routerLink="booking/storage-application"
                            >Demandes en attente</a
                        >
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.canAccessFormations(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Cours et accueil</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/formation">Cours</a>
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="booking/formation-application"
                            *ngIf="
                                this.permissionsService.canAccessFormationApplication(route.snapshot.data.viewer.model)
                            "
                            >Demandes de cours</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="bookable/welcome"
                            *ngIf="this.permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Séances d'accueil
                        </a>
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="booking/welcome-application"
                            *ngIf="this.permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                            >Demandes de séances d'accueil</a
                        >
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Administration</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable/services">Cotisations</a>
                        <a mat-list-item routerLinkActive="active" routerLink="booking/services-application"
                            >Demandes en attente</a
                        >
                        <a mat-list-item routerLinkActive="active" routerLink="license">Certifications</a>
                        <a mat-list-item routerLinkActive="active" routerLink="bookable-tag">Tags de réservables</a>
                        <a
                            *ngIf="permissionsService.crud?.configuration?.create"
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="support"
                            >Guide / Support</a
                        >
                        <a
                            *ngIf="permissionsService.crud?.configuration?.create"
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="announcement"
                            >Annonce</a
                        >
                        <a mat-list-item routerLinkActive="active" routerLink="log">Activité</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.canAccessAccounting(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Comptabilité</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLinkActive="active" routerLink="transaction-line">Écritures</a>
                        <a mat-list-item routerLinkActive="active" routerLink="account">Comptes</a>
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="expense-claim"
                            *ngIf="permissionsService.canAccessExpenseClaims(route.snapshot.data.viewer.model)"
                            >Frais et remboursements</a
                        >
                        <a
                            mat-list-item
                            routerLinkActive="active"
                            routerLink="import"
                            *ngIf="permissionsService.crud?.transaction?.create"
                            >Import BVR</a
                        >
                        <a mat-list-item routerLinkActive="active" routerLink="transaction-tag">Tags</a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel
                    class="mat-elevation-z0"
                    *ngIf="permissionsService.gteResponsible(route.snapshot.data.viewer.model)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Listes</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [class.active]="adminBookableRouteActive" routerLink="bookable">Réservables</a>
                        <a mat-list-item [class.active]="adminBookingRouteActive" routerLink="booking"
                            >Réservations</a
                        ></mat-nav-list
                    >
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </natural-sidenav>
    <natural-sidenav-content>
        <div fxFlex fxLayout="column" style="padding: 20px; overflow: auto">
            <router-outlet></router-outlet>
        </div>
    </natural-sidenav-content>
</natural-sidenav-container>
