@use '@angular/material' as mat;

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#admin-content {
    padding: 0;
    overflow: auto;
}

natural-sidenav-container {
    @include mat.sidenav-overrides(
        (
            container-width: 240px,
        )
    );
}

mat-accordion {
    @include mat.expansion-overrides(
        (
            container-background-color: transparent,
        )
    );
}
