<button mat-icon-button (click)="downloadData()" [matMenuTriggerFor]="menu">
    <mat-icon naturalIcon="chat_bubble"></mat-icon>
</button>

<mat-menu #menu="matMenu">
    <span class="mat-subtitle-2 padding" fxLayout="row" fxLayoutGap="20px">
        <span>Copier les ...</span>
        <mat-progress-spinner *ngIf="!fetched" mode="indeterminate" [diameter]="20"></mat-progress-spinner>
    </span>
    <button mat-menu-item (click)="copyToClipboard(usersEmail)" [disabled]="!fetched">
        <mat-icon naturalIcon="alternate_email"></mat-icon>
        <span>e-mails</span>
    </button>

    <button mat-menu-item (click)="copyToClipboard(usersEmailAndName)" [disabled]="!fetched">
        <mat-icon fontIcon="file_copy"></mat-icon>
        <span>e-mails et les noms</span>
    </button>

    <button mat-menu-item (click)="copyToClipboard(usersPhoneAndName)" [disabled]="!fetched">
        <mat-icon naturalIcon="phone"></mat-icon>
        <span>n° de tél. mobile et les noms</span>
    </button>
</mat-menu>
