/*#region div Bars & Screen */
#divLeftBar {
    position: absolute;
    height: 100%;
    background-color: lightgray;
    /*background-image:linear-gradient(lightgray,rgb(164, 164, 164));*/
    left: 0px;
    z-index: 90;
    opacity: 1;
}

#divRightBar {
    position: absolute;
    height: 100%;
    background-color: lightgray;
    right: 0px;
    z-index: 90;
    opacity: 1;
}

#divTopBar {
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: black;
    z-index: 100; /*définir*/
    transition: all 0.1s linear 0s;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
/*#endregion*/

/*#region Inside Top Bar*/

@keyframes EnterFromRight {
    from {
        margin-right: -150px;
    }
    to {
        margin-right: 0px;
    }
}

@keyframes EnterFromLeft {
    from {
        margin-left: -120px;
    }

    to {
        margin-left: 0px;
    }
}

@keyframes EnterFromTop {
    from {
        margin-top: -120px;
    }

    to {
        margin-top: 0px;
    }
}

#divTopBarTime {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 150px;
    color: white;
    font-size: 18px;
    text-align: right;
    font-family: Arial;
    transition: all 0.1s linear 0s;
    animation: EnterFromRight 0.5s ease-out 1 normal;
}
#divTopBarTime::first-line {
    font-size: 30px;
}

#divTopBarLogo {
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: 60px;
    top: 2px;
    left: 2px;
    animation: EnterFromLeft 0.5s ease-out 1 normal;
    z-index: 3;
    cursor: pointer;
}
#divTopBarLogo > img {
    position: absolute;
    width: 60px;
    transition: all 2s ease-in-out 0s;
}
#divTopBarLogo:hover > img:nth-child(3) {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

#divTopBarLogo:hover > img {
}

#divTopBarText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    animation: EnterFromTop 0.5s ease-out 1 normal;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
    text-align: center;
    line-height: 28px;
}

/*#endregion*/

.svg {
    position: fixed;
    z-index: 9999;

    background-size: 100%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svgWidth {
    width: 100vw;
    height: 100vw;
}
.svgHeight {
    width: 100vh;
    height: 100vh;
}

@keyframes AniFish {
    from {
        opacity: 0.5;
        transform: translate(5%, -100%);
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
@keyframes AniFishTurn {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    to {
        transform: rotate(-360deg) translate(-50%, -50%);
    }
}
@keyframes AniFishExit {
    from {
        opacity: 1;
    }
    to {
        width: 0px;
    }
}
#fish {
    transform-origin: 0% 0%;
    background-image: url(../img/logo/fish.svg);
    animation-name: AniFish, AniFishTurn;
    animation-duration: 1s, 2.5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0s, 1.5s;
    z-index: 9997;
}

@keyframes AniWaves {
    from {
        margin-top: 100vh;
        opacity: 0.5;
    }

    to {
        margin-top: 0vh;
        opacity: 1;
    }
}
@keyframes AniWavesExit {
    from {
        margin-top: 0vh;
        opacity: 1;
    }

    to {
        margin-top: 110vh;
        opacity: 0;
    }
}
#waves {
    background-image: url(../img/logo/waves.svg);
    animation-name: AniWaves;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    margin-right: 0px;
    opacity: 1;
}

@keyframes AniCircleWidth {
    from {
        opacity: 0;
        width: 0vw;
    }
    to {
        opacity: 1;
        width: 100vw;
    }
}
@keyframes AniCircleHeight {
    from {
        opacity: 0;
        width: 0vh;
    }

    to {
        opacity: 1;
        width: 100vh;
    }
}
@keyframes AniCircleExit {
    from {
        opacity: 1;
        margin-top: 0vh;
    }
    to {
        opacity: 0;
        margin-top: -100vh;
    }
}
#circle {
    z-index: 9995;
    background-image: url(../img/logo/circle.svg);
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease;
    margin-right: 0px;
    opacity: 1;
}

#white_circle {
    z-index: 9993;
    background-image: url(../img/logo/white_circle.svg);
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease;
    margin-right: 0px;
    opacity: 1;
}

#info {
    position: fixed;
    z-index: 9994;
    color: white;
    font-size: 20px;
}

@keyframes AniBlack {
    from {
        margin-top: -100vh;
    }

    to {
        margin-top: 0vh;
    }
}
@keyframes AniBlackExit {
    from {
        margin-top: 0vh;
    }

    to {
        margin-top: -100vh;
    }
}
#black {
    position: fixed;
    z-index: 9900;
    background-color: rgb(20, 20, 20);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    animation-name: AniBlack;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.svgLetters {
    z-index: 9999;
    animation-name: AniWaves;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-timing-function: ease;
    opacity: 1;
    transform: translate(-50%, -50%);
}
@keyframes AniLettersExitLeft {
    from {
        opacity: 1;
        margin-left: 0vw;
    }

    to {
        opacity: 0;
        margin-left: -100vw;
    }
}
@keyframes AniLettersExitRight {
    from {
        opacity: 1;
        margin-left: 0vw;
    }

    to {
        opacity: 0;
        margin-left: 100vw;
    }
}
