body {
    margin: 0px;
    background-color: rgb(234, 234, 234);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-touch-callout: none; /* iOS Safari */
    font-family: Arial;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body.waiting * {
    /*pointer-events: none;*/
    cursor: wait !important;
}

::-webkit-scrollbar {
    background: transparent; /* make scrollbar transparent */
    width: 0px;
}

/*COLORS*/
:root {
    --accent: rgb(49, 118, 162);
    --accentHover: rgb(62, 149, 204);
    --fontBlack: #444;
}

td {
    padding: 0px;
}

table {
    border-spacing: 0px;
}

img {
    display: block;
    pointer-events: none;
}

input {
    position: relative;
    transition:
        all 0.1s linear 0s,
        width 0.2s linear 0s,
        margin-left 0.2s linear 0s;
    outline: none; /*pour enlever le cadre bleu quand sélectionné*/
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: none;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: white; /*rgb(237,237,237);*/
    background-position-x: 65px;
    background-position-y: 4px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 40px;
    width: 120px;
    height: 34px;
    color: black;
    font-size: 20px;
}

input[type='text'] {
    cursor: pointer;
}

input[type='text']:focus {
    cursor: text;
}

input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    cursor: pointer;
}

input[type='number']:focus {
    cursor: text;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

select {
    top: 0px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    padding-top: 3px;
    height: 38px;
    font-size: 20px;
}

option {
    border-radius: 10px;
}

.title {
    position: relative;
    margin-top: -30px;
    width: 100%;
    color: var(--fontBlack);
    font-size: 25px;
    text-align: center;
}

.checkBox {
    position: absolute;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    background-size: 24px;
    background-color: rgb(237, 237, 237);
    background-position-x: -2px;
    background-position-y: -3px;
    width: 20px;
    height: 20px;
    color: black;
}

.checkBox:hover {
    background-color: white;
}

/*#region ScrollBar */
/*body::-webkit-scrollbar {
    width: 5px;
    position:absolute;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }*/
/*#endregion*/

#divScreen {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 80;
    transition: filter 0.2s linear 0s;
    background-color: yellow;
    width: 100%;
    max-width: 1500px;
    min-height: 100%;
}

.Blur {
    filter: blur(2px);
}

.divTab {
    /*#divScreen div[id*=Tab]    #divScreen > div  */
    position: absolute;
    top: -30000px;
    left: 0px;
    float: left; /*//*/
    transform: translate(0px);
    opacity: 1;
    z-index: 3;

    transition: padding-right 0.3s linear 0s;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #fafafa;
    padding-right: 0px;
    width: 100%;
    min-height: 100%; /*//*/
}

.divTab.listBarActive {
    padding-right: 120px;
}

.resetAnimation {
    animation: none;
}

/*  mettre UN <BR/> POUR EVITER QUE TOUTE LA PAGE BOUGE AVEC... */
.Buttons {
    position: relative;
    z-index: 2;
    transition: all 0.1s linear 0s;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 0%; /*changed*/
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position-x: 105px;
    background-position-y: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 151px;
    height: 44px;
    font-size: 30px;
    text-align: left;
    /*border:2px solid transparent;*/
}

.Buttons:hover {
    background-color: rgb(235, 235, 235);
}

.Buttons:focus {
    /*border-color: var(--accent);*/
    outline: 0;
}

.ValidateButtons {
    background-image: url(../../../assets/navigations/icons/arrow.png);
    background-color: var(--accent);
    background-position-x: 115px;
    color: white;
}

.ValidateButtons:hover {
    background-color: var(--accentHover);
}

/*.ValidateButtons:focus {
    border-color:black;
    outline: 0;
}*/

.btnRed {
    background-color: red;
}

.btnRed:hover {
    background-color: rgb(137, 16, 16);
}

.ReturnButtons {
    margin-left: 2.5%; /*changed*/
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5) !important;
    background-image: url(../../../assets/navigations/icons/back.png);
    background-size: 30px;
    background-color: white;
    background-position-x: 5px;
    background-position-y: 4px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 0px;
    width: 100px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-align: right;
}

.ReturnButtons::after {
    content: 'Retour';
}

.ReturnButtons:hover {
    /*-webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5) !important;*/
}

.NormalButtons {
    margin-left: 0px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5) !important;
    background-image: url(../../../assets/navigations/icons/back.png);
    background-size: 30px;
    background-color: white;
    background-position-x: 5px;
    background-position-y: 4px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 0px;
    width: 100px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-align: right;
}

/* BOXES */
.BoxesContainer {
    display: inline-block;
    position: relative;
    top: 0px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 10px;
    background-color: transparent;
    width: 265px;
    height: 300px;
    font-size: 14px;
    text-align: center;
}

.Boxes {
    position: absolute;
    top: 0px;
    transition: all 0.1s linear 0s;
    box-sizing: border-box;
    margin: 0px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.BoxesContainer:hover > .Boxes {
    top: 15px;
    box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.BoxesTop {
    position: absolute;
    top: 0px;
    left: 32.5px;
    z-index: 0;
    transition: all 0.2s linear 0s;
    background-size: 0px, 200px;
    background-repeat: no-repeat, no-repeat;
    background-position-x: 100px, 0px;
    background-position-y: 100px, 0px;
    width: 200px;
    height: 220px;
}

.Boxes:hover > .BoxesTop {
    background-size: 200px, 240px;
    background-position-x:
        0px,
        -20px;
    background-position-y:
        0px,
        -20px;
}

.BoxesBottom {
    position: absolute;
    top: 220px;
    left: 0px;
    opacity: 1;
    z-index: 3;
    box-sizing: border-box;
    border-top: 2px solid gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    width: 100%;
    height: 80px;
}

.divPopUpClose {
    display: table-cell;
    position: absolute;
    top: 10px;
    right: 10px;
    vertical-align: middle;
    opacity: 0.5;
    z-index: 4;
    transition: all 0.1s linear 0s;
    cursor: pointer;
    background-image: url(../../../assets/navigations/icons/cancel-black.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 30px;
    height: 30px;
    text-align: center;
}

.divPopUpClose:hover {
    opacity: 1;
}

.Modals {
    display: none;
    position: fixed; /*important*/
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 2000;
    transition: all 0.1s linear 0s;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.divCahierSpacers {
    position: relative;
    height: 220px;
    /*background-color:rgba(186, 29, 29, 0.04);*/
}

.divMaterielSpacers {
    position: relative;
    margin-top: -30px; /*takes no place hehe*/
    min-height: 30px;
    /*background-color: rgba(186, 256, 29, 0.05);*/
}

.divMaterielSpacers .Buttons {
    background-image: url(../../../assets/navigations/icons/arrow-back.png);
}
