/*#divBottom {
	position:relative;
	background-color:green;
	height:100px;
	width:100%;
	top:2200px;
	z-index:20;
	opacity:0.3;
}*/

.divBottoms {
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    background-color: #444;
    padding: 5px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.divBottoms > div:first-child {
    cursor: pointer;
    padding-left: 5px;
    min-width: 10px;
    height: 30px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}
.divBottoms > div:first-child:hover {
    text-decoration: underline;
}

.divSpacers {
    position: relative;
    bottom: 0px;
    opacity: 0;
    z-index: 20;
    margin-left: 90%;
    background-color: yellowgreen;
    background-color: rgba(154, 32, 32, 0.86);
    width: 10%;
    height: 40px;
}
