.PopUpStatsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px;
    width: 700px;
    height: 450px;
}

.divStatsContainer {
    position: absolute;
    margin-top: 20px;
    width: 680px;
    height: 400px;
}

.PopUpStatsContainerTitle {
    margin-top: -5px;
}
.PopUpStatsContainerTitle div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
}
.PopUpStatsContainerTitle > div:nth-child(1),
.PopUpStatsContainerTitle > div:nth-child(2):before {
    transition: all 0.1s linear 0s;
    cursor: pointer;
    cursor: pointer;
    border-radius: 8px;
    background-image: url(../../../assets/navigations/icons/arrow-back.png);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.PopUpStatsContainerTitle > div:nth-child(1):hover,
.PopUpStatsContainerTitle > div:nth-child(2):hover:before {
    background-color: rgb(235, 235, 235);
}

.PopUpStatsContainerTitle > div:nth-child(2) {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.PopUpStatsContainerTitle > div:nth-child(2):before {
    position: absolute;
    transform: rotate(180deg);
    content: '';
}
.PopUpStatsContainerTitle > div:nth-child(3) {
    color: var(--fontBlack);
    font-weight: bold;
    font-size: 18px;
}
.PopUpStatsContainerTitle > div {
    color: var(--fontBlack);
    font-size: 16px;
}

/*nbr de sorties & jours*/
.PopUpStatsContainer > div:nth-child(4) {
    position: absolute;
    top: 90px;
    left: 15px;
    width: 100px;
    color: gray;
    font-size: 12px;
    text-align: left;
}
.PopUpStatsContainer > div:nth-child(5) {
    position: absolute;
    top: 422px;
    right: 10px;
    width: 100px;
    color: gray;
    font-size: 12px;
    text-align: right;
}

/*SCALE*/
.divStatsContainer > div:first-child {
    position: absolute;
    width: 50px;
    height: 300px;
}

.divStatsContainer > div:first-child > div:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: gray;
    width: 2px;
    height: 280px;
}

.divStatsContainer > div:first-child > div:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 31px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid gray;

    border-left: 10px solid transparent;
}

.divStatsContainer > div:first-child > div:not(:nth-child(2)):not(:nth-child(1)) {
    position: absolute;
    top: 300px;
    margin-top: -10px;
    width: 33px;
    height: 20px;
    color: gray;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}
.divStatsContainer > div:first-child > div:not(:nth-child(2)):not(:nth-child(1)) > div:first-child {
    position: absolute;
    top: 9px;
    left: 37px;
    background-color: gray;
    width: 8px;
    height: 2px;
}
.divStatsContainer > div:first-child > div:not(:nth-child(2)):not(:nth-child(1)) > div:nth-child(2) {
    position: absolute;
    top: 9.5px;
    left: 50px;
    background-color: lightgray;
    width: 620px;
    height: 1px;
}

/*CENTER*/
.divStatsContainer > div:nth-child(2) {
    position: absolute;
    left: 50px;
    width: 620px;
    height: 300px;
}

.divStatsContainer > div:nth-child(2) > div {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 300px;
    line-height: 20px;
    line-height: 300px;
    text-align: left;
}

.divStatsContainer > div:nth-child(2) > div > div:first-child {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: black;
    width: 90%;
}

.divStatsContainer > div:nth-child(2) > div > div:nth-child(2) {
    position: absolute;
    top: 0px;
    transition: all 0.1s linear 0s;
    margin-left: 5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 90%;
    color: transparent;
    text-align: center;
}

.divStatsContainer > div:nth-child(2) > div:hover > div:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

/*LEGEND*/
.divStatsContainer > div:nth-child(3) {
    position: absolute;
    top: 300px;
    left: 50px;
    width: 620px;
    height: 50px;
}

.divStatsContainer > div:nth-child(3) > div:first-child {
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: gray;
    width: 630px;
    height: 2px;
}

.divStatsContainer > div:nth-child(3) > div:nth-child(2) {
    position: absolute;
    top: -9px;
    left: 620px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid gray;
}

.divStatsContainer > div:nth-child(3) > div:not(:first-child):not(:nth-child(2)) {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    margin-top: 5px;
    min-height: 20px;
    color: var(--fontBlack);
    text-align: center;
    /*background-color:rgba(183, 195, 24, 0.29);*/
}

.divStatsContainer > div:nth-child(3) > div:not(:first-child):not(:nth-child(2)) > div {
    position: absolute;
    left: 50%;
    vertical-align: top;
    transform: translateX(-50%);
    box-sizing: border-box;
    min-width: 10px;
    min-height: 20px;
    color: var(--fontBlack);
    /*background-color: rgba(183, 0, 24, 0.29);*/
}
