<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<form class="body nat-padding" [formGroup]="form">
    <div class="nat-vertical nat-gap">
        <div class="mat-h1">{{ route.snapshot.data.seo.title }}</div>

        <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput formControlName="email" />
            <mat-icon matIconPrefix naturalIcon="alternate_email" />
            <mat-error>{{ form.get('email')?.errors | errorMessage }}</mat-error>
        </mat-form-field>

        @if (step === 2) {
            <div class="nat-vertical nat-gap">
                <mat-divider />
                <h2 class="mat-headline-6">Compte</h2>
                <div class="nat-vertical">
                    <mat-form-field>
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput formControlName="login" />
                        <mat-icon matIconPrefix naturalIcon="person" />
                        @if (form.get('login')?.hasError('invalid')) {
                            <mat-error>{{ form.get('login')?.getError('invalid') }}</mat-error>
                        } @else if (form.get('login')?.hasError('available')) {
                            <mat-error>Ce nom d'utilisateur ne peut pas être choisi</mat-error>
                        } @else {
                            <mat-error>{{ form.get('login')?.errors | errorMessage }}</mat-error>
                        }
                    </mat-form-field>
                    <app-password [form]="form" />
                </div>
                <mat-divider />
                <h2 class="mat-headline-6">Coordonnées</h2>
                <div>
                    <div class="nat-vertical nat-sm-gap-10 nat-sm-horizontal">
                        <mat-form-field class="nat-sm-expand">
                            <mat-label>Prénom</mat-label>
                            <input matInput formControlName="firstName" />
                            <mat-error>{{ form.get('firstName')?.errors | errorMessage }}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="nat-sm-expand">
                            <mat-label>Nom de famille</mat-label>
                            <input matInput formControlName="lastName" />
                            <mat-error>{{ form.get('lastName')?.errors | errorMessage }}</mat-error>
                        </mat-form-field>
                    </div>
                    <app-address [form]="form" />
                    <div class="nat-sm-horizontal nat-sm-gap-10 nat-vertical">
                        <mat-form-field class="nat-sm-expand">
                            <mat-label>Téléphone mobile</mat-label>
                            <mat-icon matIconPrefix naturalIcon="smartphone" />
                            <input matInput formControlName="mobilePhone" />
                            <mat-error>{{ form.get('mobilePhone')?.errors | errorMessage }}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="nat-sm-expand">
                            <mat-label>Date de naissance</mat-label>
                            <input matInput formControlName="birthday" [matDatepicker]="picker" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker" />
                            <mat-datepicker #picker />
                            <mat-error>{{ form.get('birthday')?.errors | errorMessage }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider />
            </div>
        }

        <div>
            <h2 class="mat-headline-6">Cotisation</h2>

            <div class="responsive-table">
                @if (mandatoryBookables) {
                    <table mat-table [dataSource]="mandatoryBookables">
                        <tr *matHeaderRowDef="['name', 'initialPrice', 'periodicPrice']" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: ['name', 'initialPrice', 'periodicPrice']" mat-row></tr>
                        <tr
                            *matFooterRowDef="['name', 'initialPrice', 'periodicPrice']"
                            mat-footer-row
                            [hidden]="!mandatoryBookables.data?.length"
                        ></tr>

                        <ng-container matColumnDef="name">
                            <th *matHeaderCellDef mat-header-cell>Nom</th>
                            <td *matCellDef="let bookable" mat-cell>
                                {{ bookable.name }}
                            </td>
                            <td *matFooterCellDef mat-footer-cell>Totaux</td>
                        </ng-container>

                        <ng-container matColumnDef="initialPrice">
                            <th *matHeaderCellDef mat-header-cell class="natural-7em-column natural-align-right">
                                Prix initial
                            </th>
                            <td *matCellDef="let bookable" mat-cell class="natural-align-right">
                                @if (bookable.initialPrice !== '0.00') {
                                    <span> {{ bookable.initialPrice | currency: 'CHF' }}</span>
                                }
                            </td>
                            <td *matFooterCellDef mat-footer-cell class="natural-align-right">
                                @if (mandatoryBookables.data?.totalInitialPrice > 0) {
                                    <span>
                                        {{ mandatoryBookables.data?.totalInitialPrice | currency: 'CHF' }}
                                    </span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="periodicPrice">
                            <th *matHeaderCellDef mat-header-cell class="natural-7em-column natural-align-right">
                                Prix annuel
                            </th>
                            <td *matCellDef="let bookable" mat-cell class="natural-align-right">
                                @if (bookable.periodicPrice !== '0.00') {
                                    <span> {{ bookable.periodicPrice | currency: 'CHF' }}</span>
                                }
                            </td>
                            <td *matFooterCellDef mat-footer-cell class="natural-align-right">
                                @if (mandatoryBookables.data?.totalPeriodicPrice > 0) {
                                    <span>
                                        {{ mandatoryBookables.data?.totalPeriodicPrice | currency: 'CHF' }}
                                    </span>
                                }
                            </td>
                        </ng-container>
                    </table>
                }
            </div>
        </div>

        @if (step === 1) {
            <!-- Spacer-->
            <div></div>

            <div class="nat-horizontal nat-gap-20">
                <div class="nat-expand">
                    <mat-checkbox formControlName="hasInsurance">
                        Mon assurance RC couvre les dégâts commis par négligence au matériel nautique du club.
                    </mat-checkbox>
                    @if (form.get('hasInsurance')?.touched && form.get('hasInsurance')?.hasError('required')) {
                        <mat-error class="mat-body-2"> Requis </mat-error>
                    }

                    <mat-checkbox formControlName="privacyPolicyAgreement" required>
                        <span class="rich-text"
                            >J'ai pris connaissance et approuve
                            <a target="_blank" [href]="privacyPolicyUrl">la politique de confidentialité</a>
                        </span>
                    </mat-checkbox>
                    @if (
                        form.controls.privacyPolicyAgreement.touched &&
                        form.controls.privacyPolicyAgreement.hasError('required')
                    ) {
                        <mat-error class="mat-body-2">Requis</mat-error>
                    }
                </div>
                <mat-divider [vertical]="true" />
                <div class="nat-expand">
                    <mat-checkbox formControlName="termsAgreement" required> Je m'engage à respecter : </mat-checkbox>
                    <p class="mat-body-2 rich-text">
                        <a href="https://ichtus.ch/oni" target="_blank"
                            >l'Ordonnance suisse sur la Navigation Intérieure (ONI)</a
                        >
                        <br />
                        ainsi que les <a href="https://ichtus.ch/reglements" target="_blank">règlements</a> et
                        <a href="https://ichtus.ch/statuts" target="_blank">statuts du club nautique Ichtus</a>
                    </p>
                    @if (form.get('termsAgreement')?.touched && form.get('termsAgreement')?.hasError('required')) {
                        <mat-error class="mat-body-2"> Requis </mat-error>
                    }
                </div>
            </div>
        }

        <div class="nat-horizontal nat-center">
            <button mat-raised-button [color]="form.valid ? 'primary' : 'warn'" [disabled]="sending" (click)="submit()">
                <mat-icon naturalIcon="send" />
                @if (step === 1) {
                    Adhérer
                } @else {
                    Confirmer l'adhésion
                }
            </button>
        </div>
    </div>
</form>
