<natural-sidenav-container name="profileMenu" class="nat-expand" [noScroll]="true">
    <natural-sidenav>
        <div class="profile-nav nat-vertical nat-gap" [style.margin-top.px]="30">
            <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/profile">
                <mat-icon naturalIcon="lake" [size]="50" />
                Sorties
            </a>
            <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/profile/family">
                <mat-icon naturalIcon="family" [size]="50" />
                Famille
            </a>
            <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/profile/history">
                <mat-icon naturalIcon="transactionHistory" [size]="50" />
                Historique des transactions
            </a>
            <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/profile/finances">
                <mat-icon naturalIcon="claims" [size]="50" />
                Dépenses et remboursements
            </a>
            @if (canAccessServices()) {
                <a
                    matButton
                    class="nat-vertical big-button nat-top nat-center"
                    routerLink="/profile/services/bookables/formation"
                >
                    <mat-icon naturalIcon="certification" [size]="50" />
                    Cours et certifications
                </a>
                <a matButton class="nat-vertical big-button nat-top nat-center" routerLink="/profile/services">
                    <mat-icon naturalIcon="ichtus" [size]="50" />
                    Cotisation et services
                </a>
            }
        </div>
    </natural-sidenav>

    <natural-sidenav-content>
        @if (route.snapshot.data['hideHeader'] === undefined) {
            <div class="nat-vertical nat-gap-30 nat-sm-gap-0 nat-sm-horizontal">
                <div class="nat-sm-expand nat-horizontal nat-wrap nat-gap-10 nat-left nat-top">
                    <div class="nat-horizontal nat-gap-10">
                        <natural-avatar [initials]="viewer.name" [gravatar]="viewer.email" [size]="60" />
                        <div class="nat-vertical nat-gap-10">
                            <div class="mat-font-headline-lg">{{ viewer.name }}</div>
                            <div>
                                {{ viewer.status | enum: 'UserStatus' | async }}
                            </div>
                            <div class="nat-horizontal nat-wrap nat-gap-15 nat-bold">
                                @for (license of licenses; track license) {
                                    <div class="nat-horizontal nat-gap-5 nat-align" style="padding-bottom: 10px">
                                        <natural-avatar [initials]="license.name.replace('-', '')" [size]="36" />
                                        <span>{{ license.name }}</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (userService.canBecomeMember(viewer)) {
                        <a
                            matButton="filled"
                            color="tertiary"
                            [disabled]="!viewer.email"
                            [matTooltip]="
                                !viewer.email
                                    ? 'Ton adresse e-mail doit être renseignée dans les données personnelles'
                                    : ''
                            "
                            [routerLink]="['/user/new', {email: viewer.email}]"
                            >Devenir membre</a
                        >
                    }
                    <!-- TODO : UPDATE email when user add e-mail in family member component -->
                </div>

                <!-- CREDIT -->
                <div class="nat-horizontal nat-center">
                    <div class="nat-vertical nat-gap">
                        <div class="nat-horizontal nat-align">
                            <h2 class="mat-font-headline-sm nat-expand">Solde</h2>
                            <button matButton="filled" class="nat-margin-left" [disabled]="!config" (click)="pay()">
                                Faire un versement
                            </button>
                        </div>

                        <app-particle-switch [data]="viewer.account?.balance || 0">
                            <ng-template let-data="data">
                                <app-money
                                    sizeClass="mat-font-headline-lg"
                                    [amount]="data"
                                    [showSignal]="true"
                                    [showCurrency]="true"
                                />
                            </ng-template>
                        </app-particle-switch>
                    </div>
                </div>
            </div>

            <mat-divider />
        }

        <div class="nat-vertical">
            <router-outlet />
        </div>
    </natural-sidenav-content>
</natural-sidenav-container>
