:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.profile-nav {
    width: 150px;
}

.body {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}
