<natural-sidenav-container name="profileMenu" [noScroll]="true" fxFlex>
    <natural-sidenav>
        <div fxLayout="column" fxLayoutGap="20px" [style.margin-top.px]="30">
            <div [style.max-width.px]="150">
                <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="/profile" class="big-button">
                    <mat-icon naturalIcon="lake" [size]="50" />
                    Sorties
                </a>
            </div>
            <div [style.max-width.px]="150">
                <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="family" class="big-button">
                    <mat-icon naturalIcon="family" [size]="50" />
                    Famille
                </a>
            </div>
            <div [style.max-width.px]="150">
                <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="history" class="big-button">
                    <mat-icon naturalIcon="transactionHistory" [size]="50" />
                    Historique des transactions
                </a>
            </div>
            <div [style.max-width.px]="150">
                <a mat-button fxLayout="column" fxLayoutAlign="start center" routerLink="finances" class="big-button">
                    <mat-icon naturalIcon="claims" [size]="50" />
                    Dépenses et remboursements
                </a>
            </div>
            @if (canAccessServices()) {
                <div [style.max-width.px]="150">
                    <a
                        mat-button
                        fxLayout="column"
                        fxLayoutAlign="start center"
                        routerLink="services"
                        class="big-button"
                    >
                        <mat-icon naturalIcon="ichtus" [size]="50" />
                        Cotisation et services
                    </a>
                </div>
            }
        </div>
    </natural-sidenav>

    <natural-sidenav-content>
        <div
            fxLayout="column"
            fxLayoutGap="30px"
            style="width: 100%; max-width: 1300px; margin: 0 auto"
            class="padding"
        >
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="0px" fxLayoutGap="30px">
                <div fxFlex="none" fxFlex.gt-xs fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <natural-avatar [initials]="viewer.name" [gravatar]="viewer.email" [size]="60" />
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div class="mat-headline-4 no-margin-bottom">{{ viewer.name }}</div>
                            <div class="mat-body-1">
                                {{ viewer.status | enum: 'UserStatus' | async | capitalize }}
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="15px" class="mat-body-2">
                                @for (license of licenses; track license) {
                                    <div
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                        fxLayoutGap="5px"
                                        style="padding-bottom: 10px"
                                    >
                                        <natural-avatar [initials]="license.name.replace('-', '')" [size]="36" />
                                        <span>{{ license.name }}</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (userService.canBecomeMember(viewer)) {
                        <a
                            mat-flat-button
                            color="accent"
                            [disabled]="!viewer.email"
                            [matTooltip]="
                                !viewer.email
                                    ? 'Ton adresse e-mail doit être renseignée dans les données personnelles'
                                    : ''
                            "
                            [routerLink]="['/user/new', {email: viewer.email}]"
                        >
                            Devenir membre
                        </a>
                    }
                    <!-- TODO : UPDATE email when user add e-mail in family member component -->
                </div>

                <!-- CREDIT -->
                <div fxFlex="none" fxLayout="row" fxLayoutAlign="center">
                    <div fxLayout="column" fxLayoutGap="20px">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <h2 class="mat-headline-5 no-margin" fxFlex>Solde</h2>
                            <button
                                mat-flat-button
                                color="primary"
                                class="margin-left"
                                (click)="pay()"
                                [disabled]="!config"
                            >
                                Faire un versement
                            </button>
                        </div>

                        <app-particle-switch [data]="viewer.account?.balance || 0">
                            <ng-template let-data="data">
                                <app-money
                                    [amount]="data"
                                    sizeClass="mat-headline-4"
                                    [showSignal]="true"
                                    [showCurrency]="true"
                                />
                            </ng-template>
                        </app-particle-switch>
                    </div>
                </div>
            </div>

            <mat-divider />
            <div fxLayout="column">
                <router-outlet />
            </div>
        </div>
    </natural-sidenav-content>
</natural-sidenav-container>
