@use '@ecodev/natural-layout' as nat;
@use '@angular/material' as mat;

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.profile-nav {
    width: 150px;
}

.body {
    box-sizing: border-box;
    margin: 0 auto;

    padding: 6px;
    width: 100%;
    max-width: 1300px;
    @include nat.media(sm) {
        padding: 30px;
    }
}

natural-sidenav-container {
    @include mat.sidenav-overrides(
        (
            container-width: 160px,
        )
    );
}

mat-divider {
    margin-bottom: 30px;
}
