<natural-sidenav-container name="profileMenu" class="nat-expand" [noScroll]="true">
    <natural-sidenav>
        <div class="profile-nav nat-vertical nat-gap" [style.margin-top.px]="30">
            <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="/profile">
                <mat-icon naturalIcon="lake" [size]="50" />
                Sorties
            </a>
            <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="family">
                <mat-icon naturalIcon="family" [size]="50" />
                Famille
            </a>
            <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="history">
                <mat-icon naturalIcon="transactionHistory" [size]="50" />
                Historique des transactions
            </a>
            <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="finances">
                <mat-icon naturalIcon="claims" [size]="50" />
                Dépenses et remboursements
            </a>
            @if (canAccessServices()) {
                <a mat-button class="nat-vertical big-button nat-top nat-center" routerLink="services">
                    <mat-icon naturalIcon="ichtus" [size]="50" />
                    Cotisation et services
                </a>
            }
        </div>
    </natural-sidenav>

    <natural-sidenav-content>
        <div class="nat-vertical nat-padding nat-gap-30 body">
            <div class="nat-vertical nat-gap-30 nat-sm-gap-0 nat-sm-horizontal">
                <div class="nat-sm-expand nat-horizontal nat-wrap nat-gap-10 nat-left nat-top">
                    <div class="nat-horizontal nat-gap-10">
                        <natural-avatar [initials]="viewer.name" [gravatar]="viewer.email" [size]="60" />
                        <div class="nat-vertical nat-gap-10">
                            <div class="mat-headline-4 nat-no-margin-bottom">{{ viewer.name }}</div>
                            <div class="mat-body-1">
                                {{ viewer.status | enum: 'UserStatus' | async | capitalize }}
                            </div>
                            <div class="nat-horizontal nat-wrap nat-gap-15 mat-body-2">
                                @for (license of licenses; track license) {
                                    <div
                                        class="nat-horizontal nat-gap-5 nat-left nat-center"
                                        style="padding-bottom: 10px"
                                    >
                                        <natural-avatar [initials]="license.name.replace('-', '')" [size]="36" />
                                        <span>{{ license.name }}</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (userService.canBecomeMember(viewer)) {
                        <a
                            mat-flat-button
                            color="accent"
                            [disabled]="!viewer.email"
                            [matTooltip]="
                                !viewer.email
                                    ? 'Ton adresse e-mail doit être renseignée dans les données personnelles'
                                    : ''
                            "
                            [routerLink]="['/user/new', {email: viewer.email}]"
                        >
                            Devenir membre
                        </a>
                    }
                    <!-- TODO : UPDATE email when user add e-mail in family member component -->
                </div>

                <!-- CREDIT -->
                <div class="nat-horizontal nat-center">
                    <div class="nat-vertical nat-gap">
                        <div class="nat-horizontal nat-left nat-center">
                            <h2 class="mat-headline-5 nat-no-margin nat-expand">Solde</h2>
                            <button
                                mat-flat-button
                                color="primary"
                                class="nat-margin-left"
                                [disabled]="!config"
                                (click)="pay()"
                            >
                                Faire un versement
                            </button>
                        </div>

                        <app-particle-switch [data]="viewer.account?.balance || 0">
                            <ng-template let-data="data">
                                <app-money
                                    sizeClass="mat-headline-4"
                                    [amount]="data"
                                    [showSignal]="true"
                                    [showCurrency]="true"
                                />
                            </ng-template>
                        </app-particle-switch>
                    </div>
                </div>
            </div>

            <mat-divider />
            <div class="nat-vertical">
                <router-outlet />
            </div>
        </div>
    </natural-sidenav-content>
</natural-sidenav-container>
