<div fxLayout="column" fxFlexAlign="center center" fxFlexFill class="overflow">
    <div class="padding" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <img src="assets/ichtus.svg" />

        <form
            [formGroup]="form"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="15px"
            style="min-width: 300px"
        >
            <mat-form-field>
                <mat-label>Email ou nom d'utilisateur</mat-label>
                <input
                    matInput
                    formControlName="login"
                    autofocus
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    (keydown.enter)="maybeConfirm()"
                />
                <mat-error *ngIf="form.get('login')?.hasError('required')">Requis</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input
                    matInput
                    formControlName="password"
                    [type]="hidePassword ? 'password' : 'text'"
                    (keydown.enter)="maybeConfirm()"
                />
                <button mat-icon-button matSuffix>
                    <natural-icon
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        [name]="hidePassword ? 'visibility' : 'visibility_off'"
                    ></natural-icon>
                </button>

                <mat-error *ngIf="form.get('password')?.hasError('required')">Requis</mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                <a mat-button routerLink="/user/request-password-reset">Mot de passe oublié ?</a>
                <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    (click)="maybeConfirm()"
                    [disabled]="!form.valid"
                >
                    Se connecter
                </button>
            </div>

            <mat-divider class="margin"></mat-divider>

            <div class="mat-subheading-2" style="text-align: center">Pas encore membre ?</div>
            <a type="submit" mat-stroked-button routerLink="/user/new">Adhérer</a>
        </form>
    </div>
</div>
