<div class="nat-vertical overflow nat-fill nat-center">
    <div class="nat-padding nat-gap nat-vertical nat-center nat-expand-no-collapse">
        <img src="assets/ichtus.svg" />

        <form class="nat-vertical" style="min-width: 300px" [formGroup]="form">
            <mat-form-field>
                <mat-label>Email ou nom d'utilisateur</mat-label>
                <input
                    matInput
                    formControlName="login"
                    autofocus
                    autocomplete="username"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    (keydown.enter)="maybeConfirm()"
                />
                @if (form.controls.login.hasError('required')) {
                    <mat-error>Requis</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input
                    matInput
                    formControlName="password"
                    autocomplete="current-password"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                    [type]="hidePassword ? 'password' : 'text'"
                    (keydown.enter)="maybeConfirm()"
                />
                <button mat-icon-button matIconSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon [fontIcon]="hidePassword ? 'visibility' : 'visibility_off'" />
                </button>

                @if (form.controls.password.hasError('required')) {
                    <mat-error>Requis</mat-error>
                }
            </mat-form-field>

            <div class="nat-horizontal nat-gap-10 nat-right">
                <a mat-button routerLink="/user/request-password-reset">Mot de passe oublié ?</a>
                <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="!form.valid"
                    (click)="maybeConfirm()"
                >
                    Se connecter
                </button>
            </div>

            <mat-divider class="nat-margin" />

            <div class="mat-subtitle-1" style="text-align: center">Pas encore membre ?</div>
            <a type="submit" mat-stroked-button routerLink="/user/new">Adhérer</a>
        </form>
    </div>
</div>
